{% load static i18n core_tags humanize %}

{% if request.user.is_authenticated %}
    <h3>{% trans "Add a comment" %}</h3>
    <div class="comment-add" id="comment-add" ic-src="{% url add_url ds.uuid %}" ic-trigger-on="load"></div>
{% else %}
    <h3>{% trans "You need to sign in to take part in the discussion." %}</h3>
    <p>
        <a class="btn btn-primary" href="{% url 'core.login_page' %}">{% trans 'Sign In' %}</a>
    </p>
{% endif %}
<div class="comments-list" id="comments-list" ic-get-from="{% url list_url ds.uuid %}" ic-trigger-on="load" ic-poll="50s" ic-disable-when-doc-inactive="true"></div>
