{% load static i18n core_tags humanize tz %}

<h3 class="comments-head">{{ all_count }} {% trans "Comments" %} {% trans "in" %} {{ root_count }} {% trans "Threads" %}</h3>

{% for comment in comments %}
    {% include 'ddcomments/_comment_card.html' with comment=comment form=form ds=ds %}
{% endfor %}

<span id="comments-complete" ic-get-from="{% url 'core:load' %}" ic-trigger-on="load"></span>


