{% load i18n crispy_forms_tags static core_tags %}

<div id="notification">
    <form ic-post-to="{% if reply %}{% url reply_url ds.uuid parent.uuid %}{% else %}{% if comment.uuid %}{% url add_url ds.uuid comment.uuid %}{% else %}{% url add_url ds.uuid %}{% endif %}{% endif %}" {% if ictarget %}ic-target="{{ ictarget }}"{% endif %}>
        {% csrf_token %}
        {% crispy form %}
        <input type="submit" value="{% if edit %}{% trans 'Edit Post' %}{% elif reply %}{% trans 'Post reply' %}{% else %}{% trans 'Post' %}{% endif %}" class="btn btn-primary"/>
    </form>
</div>