{% load i18n crispy_forms_tags static core_tags %}

<div id="notification">
    <form ic-post-to="{% if access_request %}{% url add_url object.uuid %}{% else %}{% url add_url %}{% endif %}" {% if ictarget %}ic-target="{{ ictarget }}"{% endif %}>
        {% csrf_token %}
        <input type="hidden" name="feed_type" value="{{ feed_type }}" >
        {% crispy form %}
    </form>
</div>