{% load static i18n activity_tags core_tags crispy_forms_tags mptt_tags humanize tz %}

<div class="row smallskip comments-list">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-1">
                {% include 'ddusers/_user-image.html' with user_uuid=comment.owner.uuid user_photo=comment.owner.photo %}
            </div>
            <div class="col-md-11">
                <p><span class="badge badge-{{ comment.get_notification_type_display|slugify }}">{{ comment.get_notification_type_display }}</span> <span class="comment-name"> <a href="{% url 'ddusers:detail' comment.owner.uuid %}">{{ comment.owner.get_academic_name }}</a> {% if comment.recipient %}{% trans 'to' %} <a href="{% url 'ddusers:detail' comment.recipient.uuid %}">{{ comment.recipient.get_academic_name }}</a> {% endif %}</span> <span class="comment-naturaltime">{{ comment.date_added | naturaltime }}</span></p>

                {% if comment.get_notification_type_display == "access request" %}
                    <div class="comment-name">
                        {% trans 'Access request for' %} {% if comment.content_object.uuid %}<a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a>{% else %}{% trans 'deleted object' %}{% endif %}
                    </div>
                {% endif %}

                {% if comment.get_notification_type_display == "publication request" %}
                    <div class="comment-name">
                        {% trans 'Publication request for' %} {% if comment.content_object.uuid %}<a href="{% if comment.content_object.published %}{% url 'dddatasets:detail' comment.content_object.uuid %}{% else %}{% url 'dddatasets:prep_edit' comment.content_object.uuid %}{% endif %}">{{ comment.content_object }}</a>{% else %}{% trans 'deleted object' %}{% endif %}
                    </div>
                {% endif %}

                <div class="comment-text" id="comment-text-{{ comment.uuid }}">
                    {% if comment.get_notification_type_display == "access request" %}
                    <div class="row">
                        <div class="col-md-10">
                            {{ comment.text|linebreaks |urlize | safe }}
                        </div>
                        <div class="col-md-2">
                        {% if comment.content_object.uuid %}
                            {% if comment.content_object|user_has_admin_right:request.user %}
                                <a href="{% url 'dddatasets:prep_edit_publish_access' comment.content_object.uuid  %}" class="btn btn-link">{% trans "Set Access" %}</a>
                                {% comment %}
                                <form class="form-inline">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ comment.owner.uuid }}" name="userid">
                                    <input type="hidden" value="feed" name="requestsrc">
                                    <input type="hidden" value="acc" name="perm">
                                    <button type="button" class="btn btn-primary" ic-post-to="{% url 'dddatasets:prep_edit_access_user' comment.content_object.uuid  %}" ic-target="#ds-content" ic-include="">{% trans 'Grant access' %}</button>
                                </form>
                                {% endcomment %}
                            {% endif %}
                        {% else %}{% trans 'deleted object' %}{% endif %}
                        </div>
                    </div>
                    {% elif comment.get_notification_type_display == "transfer request" %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ comment.text|linebreaks |urlize | safe }}
                        </div>
                        <div class="col-md-6">
                        {% if request.user == comment.content_object.dataset_owner_transfer_dataset.new_owner %}
                            <a href="{% url 'dddatasets:detail' comment.content_object.uuid %}" class="btn btn-primary">{% trans "View dataset" %}</a>
                            {% if comment.content_object.dataset_owner_transfer_dataset %}
                            <form>
                                {% csrf_token %}
                                <button type="button" class="btn btn-success" ic-post-to="{% url 'dddatasets:prep_edit_ownership_transfer' comment.content_object.uuid 'accept' %}" ic-target="#ds-content" data-toggle="tooltip" title="{% trans "Accept ownership transfer" %}">{% trans "Accept Ownership" %}</button>

                                <button type="button" class="btn btn-danger" ic-post-to="{% url 'dddatasets:prep_edit_ownership_transfer' comment.content_object.uuid 'reject' %}" ic-target="#ds-content" data-toggle="tooltip" title="{% trans "Reject ownership transfer" %}">{% trans "Reject ownership" %}</button>
                            </form>
                            {% endif %}
                        {% endif %}
                        {% if request.user == comment.content_object.owner %}
                            <a href="{% url 'dddatasets:prep_edit_collaboration' comment.content_object.uuid %}" class="btn btn-primary">{% trans "View dataset" %}</a>
                        {% endif %}
                        </div>
                    </div>
                    {% elif comment.get_notification_type_display == "publication request" %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ comment.text|linebreaks |urlize | safe }}
                        </div>
                        <div class="col-md-6">
                        {% if comment.content_object.uuid %}
                            {% if request.user in comment.content_object.get_curators %}
                                <a href="{% url 'dddatasets:prep_curation' comment.content_object.uuid %}" class="btn btn-primary">{% trans "Curate Dataset" %}</a>
                            {% else %}
                                <a href="{% url 'dddatasets:prep_edit_versions' comment.content_object.uuid %}" class="btn btn-primary">{% trans "Prepare Dataset" %}</a>
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
                    {% else %}
                        {{ comment.text|linebreaks |urlize | safe }}
                    {% endif %}
                </div>

                <span class="comment-date">
                    {# date comparison without format filter takes even milliseconds into account, which leads to false results #}
                    {% trans "Created at" %}: {{ comment.date_added|date:"d M, h:i A (Y)" }}{% if comment.date_edited|date:"d M Y h i s" != comment.date_added|date:"d M Y h i s" %}, {% trans "edited at" %}: {{ comment.date_edited|date:"d M, h:i A (Y)" }}{% endif %}
                </span>

                {% if comment.get_notification_type_display == "access request" %}
                    <div class="smallskip">

                    </div>
                {% endif %}

                {% comment %}
                No deleting or editing of notification (operates like email)

                {% if request.user == comment.owner %}
                    {# edit button #}
                    <button class="btn btn-link" ic-target="#comment-text-{{ comment.uuid }}" ic-get-from="{# {% url add_url ds.uuid comment.uuid %} #}">
                        {% trans "Edit" %}
                    </button>

                    {# delete button #}
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#confirmModal{{ comment.uuid }}" title="{% trans 'Delete' %}" ic-get-from="{% url 'core:polling_stop' %}" ic-target="#pollstatus">
                        {% trans "Delete" %}
                    </button>
                {% endif %}
                {% endomment %}

                {% comment %}
                Add pre-initialised reply form if node is not root level with no siblings OR is root level and leaf node. See core_tags:prepare_comment_form()
                {% endcomment %}
                {% with prepared_form=comment|prepare_notification_form:request.user %}
                    {% if prepared_form %}
                        {% include 'ddcomments/_notification_add.html' with form=prepared_form add_url=add_url ictarget="#ds-content" btn_text="Reply" %}
                    {% endif %}
                {% endwith %}

                <div class="smallskip"></div>

                <div class="children">
                {% for child in comment.get_children %}
                    {% include 'ddcomments/_notification_card.html' with comment=child form=form %}
                {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>
{# Modal to confirm project delete #}
{% include "core/_confirm_modal.html" with objecttype="comment" objectid=comment.uuid dsid=ds.uuid objectname=comment delete_url=add_url edit_url=add_url target=target ictarget="#comments-list" pollstatusid="#pollstatus" %}

