{% load static i18n crispy_forms_tags %}

{% if not archive_form %}
{% comment %}    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2" class="form-group">
                    <label for="archive">Archive*</label>
                    <input type="text" name="archive" class="textinput textInput form-control" value="{{ archivalsignature.archive.short_name }}" disabled />
                    <input type="hidden" id="archive_uuid" name="archive_uuid" value="{{ archivalsignature.archive.uuid }}" />
                </div>
                <div class="col-md-3" class="form-group">
                    <label for="archive-search">Archive Search</label>
                    <input class="w-100 form-control smallskip" type="text" placeholder="Search" name="q" ic-get-from="{% if archivalsignature %}{% url 'dddatasets:prep_edit_archive_search' ds.uuid archivalsignature.uuid %}{% else %}{% url 'dddatasets:prep_edit_archive_search' ds.uuid %}{% endif %}" ic-target="#search-list" aria-label="Search">
                </div>
                <div class="col-md-3" class="form-group">
                    <label for="add-archive">Add Archive</label>
                    <button type="button" class="btn btn-outline-primary form-control" data-toggle="modal" data-target="#confirmModal{{archivalsignature.uuid}}" ic-target="#confirmModal-target-span">{% trans "Add missing archive to database" %}</button>
                </div>
                <div class="col-md-2" class="form-group"></div>
            </div>
        </div>
    </div>

    <div id="search-list" class="w-50"></div> {% endcomment %}

    {% comment %} {% include "core/_edit_form.html" with archivalsignature=archivalsignature icinclude="#archive-uuid" icinclude_uuid=archivalsignature.uuid %} {% endcomment %}

    {% include "core/_edit_form.html" with form=form archivalsignature=archivalsignature icinclude="#archive-uuid" formid="archivalsignature-form" %}

    {{ add_archive_form_err }}

    {# Modal to add new #}
    {% include "core/_confirm_modal.html" with objecttype="archivalsignature" objectid=archivalsignature.uuid dsid=ds.uuid objectname=archivalsignature delete_url="dddatasets:prep_edit_archivalsignature" edit_url="dddatasets:prep_edit_archivalsignature" target=target ictarget="#ds-content" %}
{% else %}
    {% include "core/_edit_form.html" with archivalsignature=archivalsignature icinclude="#archive_uuid" %}
{% endif %}
