
{% load static i18n %}
<form id="token" >
    <input name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}">
</form>
<table class="table table-striped" id="user-datasets">
    <tbody>
        <tr>
            <th>{% trans 'Title' %}</th>
            <th>{% trans 'Version' %}</th>
            <th>{% trans 'Status' %}</th>
            <th>{% trans 'Creation date' %}</th>
            <th>{% trans 'Publication date' %}</th>
            <th>{% trans 'Action' %}</th>

        </tr>
        {% for ds in control_args.objects %}
        <tr>
            <td>{{ ds.title }}</td>
            <td>{{ ds.version }}</td>
            <td>{% if ds.published %}
                    <span class="badge badge-success">{% trans "Published" %}</span>
                {% else %}
                    <span class="badge badge-warning">{% trans "Not published" %}</span>
                {% endif %}
            </td>
            <td>{{ ds.created_at }}</td>
            <td>{{ ds.publication_date }}</td>
            <td>
                <div>
                    <button class="btn btn-primary" ic-get-from="{% url control_args.edit_url ds.uuid %}" ic-target="#ds-content">{% trans "Edit" %}</button>

                    <button class="btn btn-primary" ic-get-from="{% url control_args.add_url ds.uuid %}" ic-target="#ds-content">{% trans "New version" %}
                    </button>

                    {% if not ds.published %}
                        <button class="btn btn-danger" data-toggle="modal" data-target="#confirmModal{{ds.uuid}}" ic-target="#confirmModal-target-span" >
                            {% trans "Delete" %}
                        </button>
                    {% else %}
                        <button class="btn btn-danger" disabled>
                            {% trans "Delete" %}
                        </button>
                    {% endif %}
                    <br>

                    {% if ds.published %}
                        <button class="btn btn-outline-primary" ic-get-from="{% url control_args.view_url ds.uuid %}" ic-target="#ds-content">{% trans "View" %}</button>
                        {% if ds.datasetpublishingprocess %}
                            <button class="btn btn-success" ic-include="#token" ic-post-to="{% url control_args.retry_zenodo_url ds.uuid %}" ic-target="#ds-content">{% trans "Retry Zenodo" %}</button>
                        {% endif %}
                        {% comment %}
                        {% if ds.data_access == "RA" %}
                            <input type="hidden" name="repub_oa" id="repub_oa" value="True" />
                            <button class="btn btn-success" ic-post-to="{% url 'dddatasets:prep_edit_publish_final' ds.uuid %}" ic-include="#repub_oa" ic-on-beforeSend="xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');" ic-target="#ds-content">{% trans "Make this Dataset Open Access" %}</button>
                        {% endif %}
                        {% endcomment %}
                    {% else %}
                        {% if control_args.publish_right %}
                            {% if ds.get_publication_request %}
                                <button type="button" class="btn btn-success" disabled>
                                    {% trans "Pending" %}
                                </button>
                            {% else %}
                                {% if ds.publication_accepted %}
                                    <button type="button" class="btn btn-success" ic-get-from="{% url 'dddatasets:prep_edit_publish_final' ds.uuid %}" ic-target="#ds-content">
                                        {% trans "Publish" %}
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-success" ic-get-from="{% url 'dddatasets:prep_edit_publish_start' ds.uuid %}" ic-target="#ds-content">
                                        {% trans "Submit" %}
                                    </button>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}




                    {% comment %}
                    <button type="button" class="btn btn-link btn-lg" data-toggle="collapse" data-target="#collapse-dataset-version-{{ ds.uuid }}"
                        ic-get-from="{% url 'dddatasets:prep_edit_overview' ds.uuid %}" ic-target="#ds-content">{% trans "Preview" %}
                    </button>
                    {% endcomment %}
                </div>
                {% include "core/_confirm_modal.html" with objecttype='dataset' objectid=ds.uuid objectname=ds delete_url=control_args.delete_url edit_url=control_args.edit_url ictarget="#ds-content"%}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
