{% load static i18n core_tags %}

<h5 class="card-title">
    {% trans 'Dataset has been published successfully' %}
</h5>
<p class="card-text">
    {% include 'dddatasets/_dataset_citation.html' with ds=ds %}

    {% trans 'Congratulations! The publication of your dataset' %} {{ ds }} as {{ ds.data_access.label }} {% trans 'was successful!' %}
    <p>
        <a class="btn btn-primary" href="{% url 'dddatasets:detail' ds.uuid %}">{% trans 'View' %}</a>

        <button class="btn btn-outline-primary" ic-get-from="{% url 'dddatasets:prep_edit_versions' ds.uuid %}" ic-target="#ds-content">{% trans "Versions" %}</button>
    </p>
</p>
