{% load static crispy_forms_tags i18n core_tags %}



<form ic-post-to="{% url 'dddatasets:prep_edit_datafile' ds_uuid df_uuid %}"
    class="smallskip" enctype="multipart/form-data"
    id="ds-datafile-dropzone-{{ df_uuid }}">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-8">
            <label>File* {% if ds_type == "DR" %} – {% trans "Note: Only a single PDF file can be uploaded per data review." %}{% endif %}</label>

            <div id="dropzone-{{ df_uuid }}" class="dropzone smallskip"></div>



            {% if form.instance.id %}<p>{% trans "Attached file" %}: {{ form.instance }}</p>{% endif %}

            <div class="progress smallskip">
                <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
            </div>
        </div>

        {% crispy form %}

{% comment %}         <div id='messages' ic-src="{% url 'core:messages' %}">
            {% include 'core/_messages.html' %}
        </div> {% endcomment %}

        <div class="col-md-12">
            <button class="btn btn-primary" type="submit" id="ds-datafile-upload-{{ df_uuid }}">Save {{ target }}<span class="spinner-sm"></span></button>

            {% if next_url %}
                <button class="btn btn-primary right" ic-get-from="{{ next_url }}" ic-push-url="true" ic-target="#ds-content">{% trans 'Back to Wizard' %}</button>
            {% endif %}
        </div>
    </div>
</form>


{# instantiate dropzone by triggering ic.complete event #}
<span class="ic-datafile-edit"
    data-url="{% url 'dddatasets:prep_edit_datafile' ds_uuid df_uuid %}" data-id="{{ df_uuid}}"
        data-message="{% trans 'Drop file here or click to open file browser' %}" ds-type="{{ ds_type }}"
    ic-get-from="{% url 'core:load' %}"
    ic-trigger-on="load">
</span>
