{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets_edit.html" %}
{% load static i18n core_tags %}

{% block ic-content %}
<div ic-src="{% url 'dddatasets:prep_edit_publish_final_upload' ds_uuid %}" ic-poll="3s">

{% for file, status_code in status.items %}
    <p>
        {% trans 'Uploading File with ID' %} {{ file }}...
        {% if not status_code %}
            {% comment %}
            <button class="badge badge-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    {% trans "Upload in progress, please be patient" %}
            </button>
            {% endcomment %}
            <span class="badge badge-primary">
                {% trans "Upload in progress, please be patient" %}
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </span>
        {% else %}
            <span class="badge badge-secondary">{% trans 'Upload finished' %}</span>
        {% endif %}
    </p>
{% endfor %}

{% if upload_complete %}
    <span ic-get-from="{% url 'core:polling_stop' %}" ic-trigger-on="load"></span>
    <p>
        <div id="publish_status" ic-get-from="{% url 'dddatasets:prep_edit_publish_final_publish' ds_uuid %}" ic-trigger-from="#publish" ic-replace-target="this" ic-poll="1s">
            <span class="badge badge-primary">
                {% trans 'Initialize publication' %}...
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span>
        </div>
    </p>
{% endif %}
</div>
{% endblock %}
