{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets_edit.html" %}
{% load static i18n core_tags %}

{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'dddatasets/prep/_dataset_header.html' with ds=ds type='versions' %}
    {% endblock dataset-nav %}

    {% if manpage %}
        {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
    {% endif %}

    <h1>{{ message }}</h1>

    {% with ds.get_dataset_type_display as ds_type %}

    <div class="card smallskip">
        <div class="card-header">
            <span class="pubcard-header">{% trans 'Submit' %} {{ ds.shorttitle }}, v{{ ds.version }}</span>
            <span class="float-sm-right">{% trans 'Step' %} 1 {% trans 'of' %} 6</span>
        </div>
        <div class="card-body" id="check-text">
            <h5 class="card-title">{{ ds_type }} {% trans 'Submission' %}</h5>
            <p class="card-text">
                <p>{% trans "You are about to submit" %} "{{ ds.get_fulltitle }}, v{{ ds.version }}" {% trans "for publication. Prior to that you should double check the data and metadata information provided." %}</p>

                <p>{% trans "Please note that you cannot alter or unpublish a" %} {{ ds_type|lower }} {% trans "once you published it. After submission a curator will review your" %} {{ ds_type|lower }}.</p>

                <p>{% trans "This wizard will guide you through the submission procedure." %}

                <p>{% trans "The first step is a check if all required fields are set. If not, you will be redirected to the edit pages." %}</p>

                <button class="btn btn-primary" ic-get-from="{% url 'dddatasets:prep_edit_publish_check' ds.uuid %}" ic-target="#ds-content">{% trans 'Check' %}</button>
                <button class="btn btn-outline-primary" ic-get-from="{% url 'dddatasets:prep_edit_versions' ds.uuid %}" ic-target="#ds-content">{% trans "Cancel" %}</button>
            </p>
        </div>

    {% endwith ds.get_dataset_type_display as ds_type %}


</div>
{% endblock %}
