{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets_edit.html" %}
{% load static i18n core_tags %}

{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'dddatasets/prep/_dataset_header.html' with ds=ds type='versions' %}
    {% endblock dataset-nav %}

    {% if manpage %}
        {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
    {% endif %}

    <h1>{{ message }}</h1>
    {% with ds.get_dataset_type_display as ds_type %}
    <div class="card smallskip">
        <div class="card-header">
            <span class="pubcard-header">{% trans 'Submit' %} {{ ds.shorttitle }}, v{{ ds.version }}</span>
            <span class="float-sm-right">{% trans 'Step' %} 6 {% trans 'of' %} 6</span>
        </div>
        <div class="card-body" id="check-text">
            <h5 class="card-title">{% trans 'Final Step' %}</h5>
            <p class="card-text">
                <p>{% trans "Your" %} {{ ds_type|lower }}  "{{ ds.get_fulltitle }}, v{{ ds.version }}" {% trans "is ready for submission to Discuss Data" %}.</p>

                <p>{% trans "When you hit the Submit button the category's curators will perform a final technical check." %}</p>

                <p>{% trans "You will be notified when the curator accepted your submission or contacts you to resolve open questions." %}</p>

                <form ic-post-to="{% url 'dddatasets:prep_edit_publish_request' ds.uuid %}" ic-target="#ds-content">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-success" ic-post-to="{% url 'dddatasets:prep_edit_publish_request' ds.uuid %}" value="{% trans 'Submit' %}" />
                    <button class="btn btn-outline-primary" ic-get-from="{% url 'dddatasets:prep_edit_versions' ds.uuid %}" ic-target="#ds-content">{% trans "Cancel" %}</button>
                </form>
            </p>
        </div>
    </div>
    {% endwith %}
</div>
{% endblock %}
