{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets_edit.html" %}
{% load static i18n core_tags %}

{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'dddatasets/prep/_dataset_header.html' with ds=ds type='versions' %}
    {% endblock dataset-nav %}

    {% if manpage %}
        {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
    {% endif %}

    <h1>{{ message }}</h1>

    {% with ds.get_dataset_type_display as ds_type %}
    <div class="card smallskip">
        <div class="card-header">
            <span class="pubcard-header">{% trans 'Submit' %} {{ ds.shorttitle }}, v{{ ds.version }}</span>
            <span class="float-sm-right">{% trans 'Step' %} 3 {% trans 'of' %} 6</span>
        </div>
        <div class="card-body">
            <h5 class="card-title">{% trans 'Check Files and Access Model' %}</h5>
            <p class="card-text">
                <p>{% trans 'This' %} {{ ds_type|lower }} {% trans 'will be published as' %} <b>{{ ds.get_data_access_display }}</b></p>
                {% if ds.data_access == ds.OPEN_ACCESS %}
                    {% if ds.get_datafiles %}
                        {% if request.user.get_socialaccount_provider == 'dariah' %}
                            <p>{% trans 'The following datafiles will be published as Open Access on Discuss Data and also the DARIAH and the Zenodo repositories' %}:</p>
                        {% else %}
                            <p>{% trans 'The following datafiles will be published as Open Access on Discuss Data and also the Zenodo repository' %}:</p>
                        {% endif %}
                        {% include 'dddatasets/prep/_dataset_edit_publish_datafiles_table.html' with datafile=datafile ds=ds %}
                    {% else %}
                        <p class="text-danger">{% trans 'No files are associated with this' %} {{ ds_type|lower }}.</p>
                    {% endif %}
                {% elif ds.data_access == ds.RESTRICTED_ACCESS %}
                    {% if ds.get_datafiles %}
                        <p>{% trans 'The following uploaded files will be associated with the' %} {{ ds_type|lower }}.</p>

                        {% include 'dddatasets/prep/_dataset_edit_publish_datafiles_table.html' with datafile=datafile ds=ds %}

                        <p>{% trans 'The access to these files will be restricted to users which you grant access to.' %}</p>
                    {% else %}
                        <p>{% trans 'No files are associated with this' %} {{ ds_type|lower }}.</p>
                    {% endif %}
                {% elif ds.data_access == ds.METADATA_ONLY %}
                    {% if ds.get_datafiles %}
                        <p>{% trans 'Only metadata and data documentaion files will be published on Discuss Data. If you want to publish also the associated data files please choose another access model.' %}</p>

                        {% include 'dddatasets/prep/_dataset_edit_publish_datafiles_table.html' with datafile=datafile ds=ds %}
                    {% else %}
                        <p>{% trans 'No files are associated with this' %} {{ ds_type|lower }}.</p>
                    {% endif %}
                {% endif %}
            </p>
            {% if ds.data_access == ds.OPEN_ACCESS and not ds.get_datafiles%}
            <p class="text-danger">{% trans 'Open Access publications are not possible without any files. Please upload a file or change the access model to "Metadata only"' %}</p>
            {% else %}
            <button class="btn btn-primary" ic-get-from="{% url 'dddatasets:prep_edit_publish_license' ds.uuid %}" ic-target="#ds-content">{% trans 'Next step: License Checks' %}</button>
            {% endif %}
            <button class="btn btn-outline-primary" ic-get-from="{% url 'dddatasets:prep_edit_datafiles' ds.uuid %}" ic-target="#ds-content">{% trans "Edit Files" %}</button>
            <button class="btn btn-outline-primary" ic-get-from="{% url 'dddatasets:prep_edit_versions' ds.uuid %}" ic-target="#ds-content">{% trans "Cancel" %}</button>

        </div>
    </div>
    {% endwith %}


</div>
{% endblock %}
