{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets_edit.html" %}
{% load static i18n core_tags %}

{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'dddatasets/prep/_dataset_header.html' with ds=ds type='versions' %}
    {% endblock dataset-nav %}

    {% if manpage %}
        {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
    {% endif %}

    <div class="card smallskip">
        <div class="card-header">
            <span class="pubcard-header">{% trans 'Publish Dataset' %} {{ ds.shorttitle }}, v{{ ds.version }}</span>
            <span class="float-sm-right">{% trans 'Step' %} 6 {% trans 'of' %} 6</span>
        </div>
        <div class="card-body" id="check-text">
            {% include 'dddatasets/prep/_dataset_publish_success.html' with ds=ds %}
        </div>
    </div>


</div>
{% endblock %}
