{% load static i18n %}

<div class="smallskip">
    <span class="i-label-md icon-middle"></span> {% trans "Main category" %}: <a href="{% url "category_page" ds.get_main_category.slug %}">{{ ds.get_main_category }}</a>
</div>

<div class="smallskip">
    <span class="i-glasses-md "></span> {% trans "Curated by" %}:
    {% for curator in ds.get_curators %}
        <a href="{% url 'ddusers:detail' curator.uuid %}">{{ curator }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
</div>
<div class="smallskip">
    <span class="i-labels-md icon-middle"></span> {% trans "Additional categories" %}: {% if ds.get_categories %}{% for field in ds.get_categories.all %}<a href="{% url "category_page" field.slug %}">{{ field|title }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% else %}–{% endif %}
</div>
