{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets_edit.html" %}
{% load static i18n core_tags %}

{% block ic-content %}
{% if isFetched %}
<div id="upload-status">
    <button class="btn btn-success" ic-get-from="{% url 'dddatasets:prep_edit_publish_final_upload' ds_uuid %}" id="upload" ic-target="#upload-status" >{% trans 'Upload' %}</button>
</div>
{% else %}
    {% trans 'Preparing Data Upload' %}... <span class="spinner small"></span>
{% endif %}
{% endblock %}
