{% load static i18n %}

<div class="container">
    <label>Image</label>
    <div class="image-dataset-container">

        {% if ds.image %}
            <img src="{{ ds.image.url }}" alt="image related to dataset {{ ds.title }}" id="image-dataset" />
        {% else %}
            <img src={% static "images/ds-default.svg" %} alt="default image for dataset {{ ds.title }}" id="image-dataset" />
        {% endif %}
        <div id="image-dataset-overlay" data-toggle="modal" data-target="#dsImageModal">
            <span class="i-camera-xl"></span>
        </div>
    </div>
</div>
