{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets_edit.html" %}
{% load static i18n core_tags wagtailcore_tags %}

{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'dddatasets/prep/_dataset_header.html' with ds=ds type='versions' %}
    {% endblock dataset-nav %}

    {% if manpage %}
        {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
    {% endif %}

    <h1>{{ message }}</h1>

    {% with ds.get_dataset_type_display as ds_type %}
    <div class="card smallskip">
        <div class="card-header">
            <span class="pubcard-header">{% trans 'Submit' %} {{ ds.shorttitle }}, v{{ ds.version }}</span>
            <span class="float-sm-right">{% trans 'Step' %} 5 {% trans 'of' %} 6</span>
        </div>
        <div class="card-body">
            <h5 class="card-title">{% trans 'Data Submission Agreement, Copyright and Privacy Rights Declarations' %}</h5>
            {% if not ds.dsa %}
                <p class="card-text">{% trans 'Prior to publishing you need to generate a Data Submission Agreement' %}</p>

                <p><button class="btn btn-primary" ic-get-from="{% url 'dddatasets:prep_edit_versions' ds.uuid %}" ic-target="#ds-content" ic-push-url="true">{% trans 'Go to DSA' %}</button></p>
            {% else %}
            <p class="card-text">
                <p>{% trans 'Prior to publishing please acknowledge that your' %} {{ ds_type|lower }} {% trans 'and all provided additional documents do not infringe any copyrights of third parties and that no personal privacy rights or data protection regulations are violated.' %}</p>

                {% for block in copyright_declaration_page.body %}
                    {{ block }}
                {% endfor %}

                {% for block in privacy_rights_declaration_page.body %}
                    {{ block }}
                {% endfor %}

                {% include 'core/_edit_form.html' with ds=ds form=form sub_form=sub_form_copyright sub_form2=sub_form_privacy_rights user=request.user updated=updated err=err target=target ictarget="#ds-content" %}
            </p>
            {% endif %}

            {% if ds.copyright_declaration and ds.privacy_rights_declaration and ds.dsa.dsa_accepted %}
                <button class="btn btn-primary" ic-get-from="{% url 'dddatasets:prep_edit_publish_request' ds.uuid %}" ic-target="#ds-content">{% trans 'Final step: Submit' %}</button>
            {% else %}
                <button class="btn btn-primary" disabled>{% trans 'Final step: Submit Dataset' %}</button>
            {% endif %}
            <button class="btn btn-outline-primary" ic-get-from="{% url 'dddatasets:prep_edit_versions' ds.uuid %}" ic-target="#ds-content">{% trans "Cancel" %}</button>
        </div>
    </div>
    {% endwith %}


</div>
{% endblock %}
