{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets_edit.html" %}
{% load static i18n core_tags %}

{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'dddatasets/prep/_dataset_header.html' with ds=ds type='versions' %}
    {% endblock dataset-nav %}

    {% if manpage %}
        {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
    {% endif %}

    <h1>{{ message }}</h1>

    {% with ds.get_dataset_type_display as ds_type %}
    <div class="card smallskip">
        <div class="card-header">
            <span class="pubcard-header">{% trans 'Submit' %} {{ ds.shorttitle }}, v{{ ds.version }}</span>
            <span class="float-sm-right">{% trans 'Step' %} 4 {% trans 'of' %} 6</span>
        </div>
        <div class="card-body">
            <h5 class="card-title">{% trans 'Check License' %}</h5>
            <p class="card-text">
                <p>{% trans 'The' %} {{ ds_type|lower }} {% trans 'and the associated files will be published under' %} {{ ds.license.get_license_title }}.</p>

                <button class="btn btn-outline-primary smallskip" type="button" data-toggle="collapse" data-target="#publish-license" aria-expanded="false" aria-controls="publish-license">
                    {% trans 'Show license text' %}
                </button>

                <div class="collapse" id="publish-license">
                    <div class="card card-body">
                        <h4>{{ ds.license.get_license_title }}</h4>
                        {{ ds.license.get_license_text|safe }}
                    </div>
                </div>

            </p>
            {% if not ds.license_is_valid %}
                <p>{% include 'dddatasets/prep/_license_invalid_text.html' with ds=ds %}</p>
            {% else %}
                <button class="btn btn-primary" ic-get-from="{% url 'dddatasets:prep_edit_publish_copyright' ds.uuid %}" ic-target="#ds-content">{% trans 'Next step: Copyright Declaration' %}</button>
            {% endif %}
            {% if not ds.dataset_type == 'DR' %}
            <button class="btn btn-outline-primary" ic-get-from="{% url 'dddatasets:prep_edit_publish_access' ds.uuid %}" ic-target="#ds-content">{% trans "Edit License" %}</button>
            {% endif %}
            <button class="btn btn-outline-primary" ic-get-from="{% url 'dddatasets:prep_edit_versions' ds.uuid %}" ic-target="#ds-content">{% trans "Cancel" %}</button>

        </div>
    </div>
    {% endwith %}


</div>
{% endblock %}
