{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets_edit.html" %}
{% load static i18n core_tags wagtailcore_tags %}

{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'dddatasets/prep/_dataset_header.html' with ds=ds type='versions' %}
    {% endblock dataset-nav %}

    {% if manpage %}
        {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
    {% endif %}

    {% with ds.get_dataset_type_display as ds_type %}
    <div class="card smallskip">
        <div class="card-header">
            <span class="pubcard-header">{% trans 'Publish' %} {{ ds.shorttitle }}, v{{ ds.version }}</span>
        </div>
        <div class="card-body" id="check-text">
            <h5 class="card-title">
                {% if ds.data_access == ds.OPEN_ACCESS %}
                    {% if request.user.get_socialaccount_provider == 'dariah' and not request.user.login_type == 'DD' %}
                        {% trans 'Discuss Data publication, DOI assignment, and publication to DARIAH and Zenodo repositories' %}
                    {% else %}
                        {% trans 'Discuss Data publication, DOI assignment, and publication to the Zenodo repository' %}
                    {% endif %}
                {% else %}
                    {% trans 'Discuss Data publication and DOI assignment' %}
                {% endif %}
            </h5>
            <p class="card-text">
                <p>{% trans "Your" %} {{ ds_type|lower }} {% trans "has been reviewed and accepted for publication." %}</p>
                <p>{% trans "By clicking the publish button, your" %} {{ ds_type|lower }} {% trans "will be made available on the Discuss Data Platform." %}
                <p>{% trans "It will also be assigned a Digital Object Identifier (DOI)." %}</p>

                {% if ds.data_access == ds.OPEN_ACCESS or ds.republish_as_oa %}
                    {% if request.user.get_socialaccount_provider == 'dariah' and not request.user.login_type == 'DD' %}
                        <p>{% trans "As you have chosen to publish the" %} {{ ds_type|lower }}  {% trans "as Open Access it will also be mirrored to the DARIAH and to the Zenodo repositories." %}</p>
                    {% else %}
                        <p>{% trans "As you have chosen to publish the" %} {{ ds_type|lower }} {% trans "as Open Access it will also be mirrored to Zenodo." %}</p>
                        <button class="btn btn-success" ic-get-from="{% url 'dddatasets:prep_edit_publish_final_pubdd' ds.uuid %}" ic-target="#ds-content" ic-indicator="#indicator">{% trans 'Publish' %}</button>
                    {% endif %}

                    {% if request.user.get_socialaccount_provider == 'dariah' and not request.user.login_type == 'DD' %}
                        {# start dariah publication process #}
                        {% if isTokenValid %}
                        <p>
                            <div id="turtle_task" ic-get-from="{% url 'dddatasets:prep_edit_publish_final_fetch' ds.uuid turtle_task %}" ic-trigger-on="load" ic-replace-target="this" ic-poll="1s"></div>
                        </p>
                        {% else %}
                            <p>{% trans "For this step you need to request an DARIAH Repository access token by clicking the request token button prior to publish." %}</p>
                            <p>
                                Before acquiring a Token, read and accept the <a href="{% slugurl 'dariah-de-terms-of-use' %}#dariah-de-terms-of-use">{% trans "DARIAH-DE Terms of Use" %}</a></p>
                            <p id="dariah-tou">
                                {% include 'core/_edit_form.html' with ds=ds form=form user=user updated=updated err=err target=target ictarget="#ds-content" %}
                            </p>
                            {% if request.user.accepted_dariah_tou %}
                                <a href="{{ requestUri }}" class="btn btn-primary">{% trans 'Request Token' %}</a>
                            {% else %}
                                <button class="btn btn-primary" disabled>{% trans 'Request Token' %}</button>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% else %}
                    {# publish to discuss data #}
                    {# TODO: POST would be better #}
                    <button class="btn btn-success" ic-get-from="{% url 'dddatasets:prep_edit_publish_final_pubdd' ds.uuid %}" ic-target="#ds-content" ic-indicator="#indicator">{% trans 'Publish' %}</button>
                {% endif %}
                <button class="btn btn-outline-primary" ic-get-from="{% url 'dddatasets:prep_edit_versions' ds.uuid %}" ic-target="#ds-content">{% trans "Cancel" %}</button>
                <p>
                <div id="indicator" style="display:none">{% trans 'Publishing process in progress, please be patient...' %} <img src="{% static 'images/oval.svg' %}" /></div>
            </p>
        </div>
    </div>
    {% endwith %}


</div>
{% endblock %}
