{% load static i18n %}

<div class="col-md-12 datasetheader">
    <h4>
        {% if ds.is_frozen %}<span class="badge badge-private">{% trans "frozen" %}</span> {% endif %} <span class="slim">{% trans "Preparation" %}</span> <span class="font-weight-bold">{{ ds.get_dataset_type_display }}</span>
    </h4>
    <h1><a href="{% url 'dddatasets:detail' ds.uuid %}">{{ ds.get_fulltitle }}, v{{ ds.version }}</a></h1>

    <div class="smallskip">
        {% include 'ddusers/_user-image.html' with user_uuid=ds.owner.uuid user_photo=ds.owner.photo height=30 %}
        <a href="{% url "ddusers:detail" ds.owner.uuid %}">{{ ds.owner.get_academic_name }}</a>
    </div>

    <span ic-src="{% url 'dddatasets:prep_refresh_header' ds.uuid %}" ic-deps="{% url 'dddatasets:prep_edit_detail' ds.uuid %}">
        {% include 'dddatasets/prep/_dataset_refresh_header.html' with ds=ds %}
    </span>
    <div class="smallskip">
        {% if ds.prev_owner_dataset.all.count > 0 %}{% trans "Dataset ownership has been transferred. Previous users: " %}{% for dspo in ds.prev_owner_dataset.all %}<a href="{% url "ddusers:detail" dspo.user.uuid %}">{{ dspo.user.get_academic_name }}</a> ({% trans "until" %} {{ dspo.until }}){% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}
    </div>

    {% include 'dddatasets/prep/_nav_datasets.html' with ds=ds type=type %}

</div>
