{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets_edit.html" %}
{% load static i18n core_tags %}

{% block ic-content %}
    <div>
        <span class="badge {% if status == 'FINISHED' %}badge-success{% else %}badge-primary{% endif %}">
            {{ status }}
            {% if status != 'FINISHED' %}<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>{% endif %}
        </span>
        {% trans 'Publishing Dataset' %} {{ ds_uuid }}...
    </div>

    {% if status == 'FINISHED' %}
        <div class="card-body" id="check-text">
            {% include 'dddatasets/prep/_dataset_publish_success.html' with ds=ds %}
        </div>
    {% endif %}


{% endblock %}
