{% load static i18n core_tags %}

<table class="table table-striped w-75 ">
    <tbody>
        <tr>
            <th>{% trans 'Filename' %}</th>
            <th>{% trans 'Type' %}</th>
        </tr>
        {% if not ds.dataset_type == "DR" %}
        <tr>
            <td>{{ ds.get_pdf_file_name }}</td>
            <td>{% trans 'description PDF' %}</td>
        </tr>
        {% endif %}
        {% for datafile in ds.get_datafiles %}
        <tr>
            <td>{{ datafile }}</td>
            <td>{{ datafile.get_data_file_type_display }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
