{% load static %}

{% block content %}
<div id="ds-countries" >
        {% for tag in countries %}
        <input id="country-{{ tag.0.slug }}" type="hidden" name="country" value="{{ tag.0.slug }}" />
        <button class="btn btn-pill{% if tag.1 %} btn-primary{% else %} btn-outline-primary{% endif %} badge-tag" ic-post-to="{% url 'dddatasets:prep_country_tags_edit' ds.uuid %}" ic-include="#country-{{ tag.0.slug }}" ic-indicator="#country-{{ tag.0.slug }}-indicator" ic-target="#ds-countries" ic-on-beforeSend="xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');">
                {{ tag.0 }} <span id="country-{{ tag.0.slug }}-indicator" class="spinner-sm"></span>
        </button>
        {% endfor %}
</div>

{% if error_msg %}
        <p>{{ error_msg }}</p>
{% endif %}
{% endblock %}
