{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets_edit.html" %}
{% load static i18n core_tags %}

{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'dddatasets/prep/_dataset_header.html' with ds=ds type='versions' %}
    {% endblock dataset-nav %}

    {% if manpage %}
        {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
    {% endif %}

    <h1>{{ message }}</h1>

    {% with ds.get_dataset_type_display as ds_type %}

    <div class="card smallskip">
        <div class="card-header">
            <span class="pubcard-header">{% trans 'Submit' %} {{ ds.shorttitle }}, v{{ ds.version }}</span>
            <span class="float-sm-right">{% trans 'Step' %} 2 {% trans 'of' %} 6</span>
        </div>
        <div class="card-body" id="check-text">
        <h5 class="card-title">{% trans 'Check Fields' %}: {% if errors %} {% trans 'Issues detected' %}{% else %} {% trans 'Success' %} {% endif %}</h5>

        <p class="card-text" id="check-text">
        {% if errors %}
            <p>{% trans 'This' %} {{ ds_type|lower }} {% trans 'is not ready for publishing' %}.</p>
            <p>
                {% trans 'Please fill in all required fields in description and metadata and start this submission wizard again afterwards' %}:
                <ul>
                {% for entry in errors %}
                    {% for field, messages in entry %}
                        {% for message in messages %}
                            <li>{{ field}}: {{ message }}</li>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                </ul>
            </p>
            <button class="btn btn-primary" ic-get-from="{% url 'dddatasets:prep_edit_metadata' ds.uuid %}" ic-target="#ds-content">{% trans "Edit Dataset" %}</button>
            <button class="btn btn-outline-primary" ic-get-from="{% url 'dddatasets:prep_edit_versions' ds.uuid %}" ic-target="#ds-content">{% trans "Cancel" %}</button>
        {% else %}
            <p>{% trans 'This' %} {{ ds_type|lower }} {% trans 'is ready for publishing' %}.</p>


            <button class="btn btn-primary" ic-get-from="{% url 'dddatasets:prep_edit_publish_datafiles' ds.uuid %}" ic-target="#ds-content">{% trans 'Next step: Check Files and Access Model' %}</button>
            <button class="btn btn-outline-primary" ic-get-from="{% url 'dddatasets:prep_edit_versions' ds.uuid %}" ic-target="#ds-content">{% trans "Cancel" %}</button>

        {% endif %}
        </p>
     </div>
     {% endwith %}
</div>
{% endblock %}
