{% load static i18n crispy_forms_tags core_tags humanize %}
<div class="card border border-{{ license.get_license_slug }} smallskip">
    <div class="card-header border border-{{ license.get_license_slug }} bg-{{ license.get_license_slug }}" id="{{ license.get_license_slug }}-card">
        <h5 class="card-title">
            <button class="btn btn-link" data-toggle="collapse" data-target="#{{ license.get_license_slug }}-text" aria-expanded="{% if license.get_license_name == ds.license.get_license_name %}true{% else %}false{% endif %}" aria-controls="{{ license.slug }}-text">
                {{ license.get_license_name }}
            </button>
            {% if license.get_license_name == ds.license.get_license_name %}
                <span class="check-mark-small"><span class="i-check-mark-sm"></span></span>
            {% endif %}
        </h5>
    </div>
    <div id="{{ license.get_license_slug }}-text" class="collapse {% if license.get_license_name == ds.license.get_license_name %}show{% endif %}" aria-labelledby="{{ license.slug }}-card">
        <div class="card-body">
            {{ license.get_license_text|safe }}
        </div>
        <div class="card-footer border-top-0 bg-white text-center">
            {% if license.get_license_name == ds.license.get_license_name %}
                <p class="check-mark"><span class="i-check-mark-md"></span></p>
            {% endif %}
            <form>
                {% csrf_token %}
                <input type="hidden" value="{{ license.get_license_name }}" name="licensename">
                <button class="btn btn-primary" ic-post-to="{% url 'dddatasets:prep_edit_publish_license_select' ds.uuid  %}" ic-target="#ds-content">{% trans "License data set as" %}: {{ license.get_license_name }}</button>
            </form>
        </div>
    </div>
</div>