{% load static i18n %}

<div class="row">
    <div class="col-xs-7">
        <ul class="nav nav-pills navbar-right nav-datasets" ic-target="#ds-content" ic-push-url="true">
            <li class="{% if type == "description" %}nav-active{% endif %}">
                <button class="btn btn-link btn-nav" ic-get-from="{% url 'dddatasets:prep_edit' ds.uuid %}">{% trans "Description" %}</button>
            </li>
            <li class="{% if type == "metadata" %}nav-active{% endif %}">
                <button class="btn btn-link btn-nav" ic-get-from="{% url 'dddatasets:prep_edit_metadata' ds.uuid %}">{% trans "Metadata" %}</button>
            </li>
            {% comment %} {% if ds.dataset_type == 'DS' %}
            <li class="{% if type == "archivalsignatures" %}nav-active{% endif %}">
                <button class="btn btn-link btn-nav" ic-get-from="{% url 'dddatasets:prep_edit_archivalsignatures' ds.uuid %}">{% trans "Archive" %}</button>
            </li>
            {% endif %} {% endcomment %}
            <li class="{% if type == "collaboration" %}nav-active{% endif %}">
                <button class="btn btn-link btn-nav" ic-get-from="{% url 'dddatasets:prep_edit_collaboration' ds.uuid %}">{% trans "Collaboration" %}</button>
            </li>
            {% if ds.dataset_type == "DS" %}
            <li class="{% if type == "access" %}nav-active{% endif %}">
                <button class="btn btn-link btn-nav" ic-get-from="{% url 'dddatasets:prep_edit_publish_access' ds.uuid %}">{% trans "Access & License" %}</button>
            </li>
            {% endif %}
            <li class="{% if type == "files" %}nav-active{% endif %}">
                <button class="btn btn-link btn-nav" id="nav-link-files" ic-get-from="{% url 'dddatasets:prep_edit_datafiles' ds.uuid %}">{% trans "Files" %}</button>
            </li>
            {% if ds.dataset_type != "DR" %}
            <li class="{% if type == "publications" %}nav-active{% endif %}">
                <button class="btn btn-link btn-nav" ic-get-from="{% url 'dddatasets:prep_edit_publications' ds.uuid %}">{% trans "Publications" %}</button>
            </li>
            {% endif %}
            <li class="{% if type == "versions" %}nav-active{% endif %}">
                <button class="btn btn-link btn-nav" ic-get-from="{% url 'dddatasets:prep_edit_versions' ds.uuid %}">{% trans "Versions & Publish" %}</button>
            </li>
            {% if request.user in ds.get_curators %}
            <li class="{% if type == "curation" %}nav-active{% endif %}">
                <button class="btn btn-link btn-nav" ic-get-from="{% url 'dddatasets:prep_curation' ds.uuid %}">{% trans "Curation" %}</button>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
