{% load i18n %}

{# object tags #}


<div class="tag-control" id="{{ object }}-loader" ic-get-from="{% url 'dddatasets:prep_dataset_tag_add' ds.uuid object %}" ic-trigger-on="load">
    <span class="spinner-sm"></span> Loading {{ object }} Tags...
</div>
