{% load static i18n %}

{% block content %}
<div id="{{ object }}-tag-control">
  <form enctype="multipart/form-data" method="post" ic-include="#{{ object }}-tag" ic-post-to="{% url 'dddatasets:prep_dataset_tag_add' ds.uuid object %}" ic-target="#{{ object }}-tag-control">
  {% csrf_token %}
    <div class="input-group input-group-tags" id="{{ object }}-tags">
      <input id="{{ object }}-tag" class="form-control typeahead tag-input" maxlength="100" type="text" autocomplete="off" name="{{ object }}-tag" placeholder="Begin typing to add {{ object }} tags here..." />
      <div class="input-group-append">
        <button class="input-group-text" ic-include="#{{ object }}-tag" ic-post-to="{% url 'dddatasets:prep_dataset_tag_add' ds.uuid object %}" ic-target="#{{ object }}-tag-control" type="button">{% trans "Save" %}</button>
      </div>
    </div>
  </form>
  <div class="chars-left-tags" id="{{ object }}-tag_chars_left"></div>

  <div id="{{ object }}-tags-list" class="btngroup-toolbar smallskip">
      {% for tag in tags %}
      <input type="hidden" id="{{ object }}-tag-{{ tag.id }}-remove" name="{{ object }}-tag-remove" value="{{ tag.id }}" />
      <button id="{{ object }}-button" name="remove-button" class="btn btn-tertiary btn-pill smallskip" ic-post-to="{% url 'dddatasets:prep_dataset_tag_remove' ds.uuid object %}" ic-target="#{{ object }}-tag-control" ic-include="#{{ object }}-tag-{{ tag.id }}-remove" ic-on-beforeSend="xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');"><b>{{ tag }}</b> <span class="i-close-sm"></span>
      </button>
      {% endfor %}
  </div>
</div>

{# trigger an intercooler load to reload javascripts (needed for typeahead) #}
<span ic-get-from="{% url 'core:load' %}" ic-trigger-on="load"></span>

{% if error_msg %}
  <p>{{ error_msg }}</p>
{% endif %}

{% endblock %}
