{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets_edit.html" %}

{% load static i18n %}

{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'dddatasets/prep/_dataset_header.html' with ds=ds type='description' %}
    {% endblock dataset-nav %}



    <div class="col-md-12" id="details-tab">
        <h2>
            {% trans "Detail" %}
            {% if manpage %}
                {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
            {% endif %}
        </h2>
        <div id="dataset-desc-form">
            {% include 'core/_edit_form.html' with ds=ds form=form user=user updated=updated err=err target=target ictarget="#ds-content" with_next_url=True %}
        </div>
    </div>
</div>
{% endblock ic-content %}
