{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets_edit.html" %}
{% load static i18n %}


<div class="row">
    <div class="col-md-10">
{% block ic-content %}
{% block content %}

        {% if manpage %}
            {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
        {% endif %}

        <div id="dataset-desc-form">
            {% include "core/_edit_form.html" with form=form categories_all=categories_all heading=heading %}
        </div>




{% endblock %}
{% endblock ic-content %}
</div>
</div>