{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets_edit.html" %}
{% load static i18n crispy_forms_tags %}


{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'dddatasets/prep/_dataset_header.html' with ds=ds type='curation' %}
    {% endblock dataset-nav %}

    <div class="col-md-12">
        <h2>
            {% trans "Curation" %}
            {% if manpage %}
                {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
            {% endif %}
        </h2>
    {% if ds.get_publication_request %}
        {% for pr in ds.get_publication_request %}
            <h3>{% trans "Publication request pending" %}</h3>
            <div class="pubrequest-header smallskip">
                {% include 'ddusers/_user-image.html' with user_uuid=ds.owner.uuid image_url=ds.owner.image.url height=30 %}
                {{ ds.owner.get_academic_name }} {% trans "requested publication of this" %} {{ ds.get_dataset_type_display|lower }}’s {% trans "version at" %} {{ pr.created_at }}
            </div>
            <div>
                <p class="smallskip">{% trans 'Please conduct a technical review of the uploaded data and metadata prior to your decision about the publication.' %}</p>

                <form class="form-inline accept-form">
                    {% csrf_token %}
                    <input type="hidden" value="accept" name="decision">
                </form>

                <form class="form-inline decline-form">
                    {% csrf_token %}
                    <input type="hidden" value="decline" name="decision">
                </form>

                <div class="row">
                    <div class="smallskip col-md-6">
                        <textarea class="textarea notification form-control accept-form decline-form" name="message" cols="20" rows="3" placeholder="{% trans 'You can add a message to the data depositor' %}"></textarea>
                    </div>
                </div>

                <button type="button" class="btn btn-success" ic-post-to="{% url 'dddatasets:prep_curation' ds.uuid  %}" ic-target="#ds-content" ic-include=".accept-form">{% trans 'Accept' %}</button>

                <button type="button" class="btn btn-danger" ic-post-to="{% url 'dddatasets:prep_curation' ds.uuid  %}" ic-target="#ds-content" ic-include=".decline-form">{% trans 'Decline' %}</button>

            </div>
            <div class="smallskip"></div>

        {% endfor %}
    </div>
    {% else %}
        <h3>{% trans "No publication requests pending" %}</h3>
    </div>
    {% endif %}
</div>
{% endblock ic-content %}
