{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets_edit.html" %}
{% load static i18n %}


{% block ic-content %}
{# reload on change here for reload on file uploads #}
<div id="ds-content" ic-get-from="{% url 'dddatasets:prep_edit_datafiles' ds.uuid %}" ic-trigger-on="changed">
    {% block dataset-nav %}
        {% include 'dddatasets/prep/_dataset_header.html' with ds=ds type='files' %}
    {% endblock dataset-nav %}

    <div class="col-md-12">
        <div class="panel-heading">
            <h4>{% trans "Data Citation" %}</h4>
            {% include 'dddatasets/_dataset_citation.html' with ds=ds %}
        </div>
        {% if ds.dataset_type == "DR" or ds.dataset_type == "EX" %}
            <h2>
                {% trans "Link to the reviewed Dataset" %}
            </h2>
            <p>
                <a href="{{ ds.link }}">{{ ds.external_publisher}}: {{ ds.link }}</a>
            </p>
        {% endif %}
        <h2>
            {% trans "Files" %}

            {% if manpage %}
                {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
            {% endif %}
        </h2>
        {# existing data files #}
        <div id="data-files" >
            {% if ds.get_all_datafiles %}
                {% if ds.data_access == 'MO' %}
                <div class="card border-danger mb-3">
                    <div class="card-body">
                        <p class="card-text">{% trans 'Access is set to Metadata only: Files with types “data”  and “converted file format” listed here will not be published.' %}</p>
                    </div>
                </div>

                {% endif %}
                {% for df in ds.get_all_datafiles %}
                    {% include 'dddatasets/_file_card.html' with fileicon='images/file-pdf.svg' fileurl='dddatasets:files_download' fileuuid=df.uuid dsuuid=ds.uuid filename=df.get_download_file_name filetype=df.get_data_file_type_display %}
                    <div class="smallskip text-right">
                        {% comment %} {# edit button #}
                        <button type="button" class="btn btn-outline-primary" ic-get-from="{% url 'dddatasets:prep_edit_datafile' ds.uuid df.uuid %}" ic-target="#file-edit-{{ df.uuid}}" data-toggle="collapse" data-target="#file-edit-{{ df.uuid}}" aria-expanded="false" aria-controls="file-edit-{{ df.uuid}}" data-id="{{ df.uuid}}" id="#file-edit-{{ df.uuid}}-dropzone">{% trans "Edit" %}</button> {% endcomment %}
                        {# delete button #}
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#confirmModal{{df.uuid}}" ic-target="#confirmModal-target-span" title="{% trans "Delete" %}">
                                {% trans "Delete" %}
                        </button>
                    </div>
                    <div id="file-edit-{{ df.uuid}}"></div>
                    {# Modal to confirm project delete #}
                    {% include "core/_confirm_modal.html" with objecttype="file" objectid=df.uuid dsid=ds.uuid objectname=df delete_url="dddatasets:prep_edit_datafile" edit_url="dddatasets:prep_edit_datafile" target=target ictarget="#ds-content" %}
                {% endfor %}
            {% endif %}

            <h4>{% trans "Add a File" %}</h4>
            {# add button #}
            <div class="ic-datafile-add" ic-get-from="{% url 'dddatasets:prep_edit_datafile' ds.uuid %}" ic-trigger-on="load" ic-deps="ignore" ></div>
        </div>
        {% comment %} <div class="row">
            <div class="col-md-12">
                <div id="messages" class="status-message smallskip"></div>
            </div>
        </div> {% endcomment %}
    </div>
</div>

{% endblock ic-content %}
