{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets_edit.html" %}
{% load static i18n %}


{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'dddatasets/prep/_dataset_header.html' with ds=ds type='collaboration' %}
    {% endblock dataset-nav %}

    <div class="col-md-12">
        <h2>{% trans "Collaboration" %}</h2>
        {% if manpage %}
            {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
        {% endif %}
        </h2>

        <h3>{% trans "Users with access to the data preparation area" %}</h3>
        <div id="user-list">
            {% for user in control_args.user_all %}
                {% include 'ddusers/_user_detail_card.html' with object=user image_url=user.image.url cardtype='collaboration' dsid=ds.uuid %}
            {% empty %}
                <p><i>{% trans 'No users have been granted access to this dataset' %}</i></p>
            {% endfor %}
        </div>

        <h3>{% trans "Grant users access to the data preparation area" %}</h3>
        <input class="w-50 form-control smallskip" type="text" placeholder="Search" name="q" ic-get-from="{% url 'dddatasets:prep_edit_collaboration_user_search' ds.uuid %}" ic-target="#search-list" aria-label="Search">
        <div id="search-list"></div>


        {% if request.user == ds.owner %}
            <h3>{% trans "Transfer dataset ownership to another user" %}</h3>
            {% if ds.dataset_owner_transfer_dataset %}
                <p>{% trans "Dataset ownership transfer request pending. Waiting for reaction from" %} {{ ds.dataset_owner_transfer_dataset.new_owner }}.</p>
                {% include 'ddusers/_user_detail_card.html' with object=ds.dataset_owner_transfer_dataset.new_owner image_url=ds.dataset_owner_transfer_dataset.new_owner.image.url cardtype='transfer_request' dsid=ds.uuid %}
            {% else %}
                <p>{% trans "Here you can transfer the dataset to an other Discuss Data user" %}</p>
                <input class="w-50 form-control smallskip" type="text" placeholder="Search" name="q" ic-get-from="{% url 'dddatasets:prep_edit_ownership_transfer' ds.uuid 'search' %}" ic-target="#search-list-owner" aria-label="Search">
                <div id="search-list-owner"></div>
            {% endif %}
        {% endif %}


    </div>
</div>
{% endblock ic-content %}
