{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets_edit.html" %}
{% load static i18n wagtailcore_tags %}


{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'dddatasets/prep/_dataset_header.html' with ds=ds type='versions' %}
    {% endblock dataset-nav %}
    <div class="col-md-12">
        <h2>
            {% trans "Versions & Publishing" %}
            {% if manpage %}
                {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
            {% endif %}
        </h2>

        {% if ds.published %}
        <div class="alert alert-danger" role="alert">
            {% trans "Version" %} {{ ds.version }} {% trans "is already published and cannot not be edited" %}.<br>
            {% trans "Edit an unpublished version or create a new version" %}.
        </div>
        {% endif %}

        {# versions table #}
        <div id='datafileModal-target-span'>
            {% include "dddatasets/prep/_dataset_edit_versions_table.html" with ds=ds.uuid control_args=control_args %}
        </div>

        <h3>
            {% trans "Data Submission Agreement" %}
            {% if manpage %}
                {% include 'dddatasets/_manual_page.html' with manpage=manpage_dsa %}
            {% endif %}
        </h3>

        {# data submission agreement #}
        <div class="accordion smallskip" id="dsa-accordion">
            <div class="card content-bg smallskip">
                <div class="card-header" id="dsa-header">
                    <div class="media">
                        <div class="media-body align-items-center">
                            <div class="row">
                                <div class="col-1">
                                        <span class="i-gavel-lg"></span>
                                </div>
                                <div class="col-8">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#dsa" aria-expanded="false" aria-controls="dsa-header">
                                        <h5 class="mt-0">{% trans 'Data Submission Agreement for' %} {{ ds.get_fulltitle }}, v{{ ds.version }}</h5>
                                    </button>
                                </div>
                                <div class="col-3">
                                    {% if not ds.dsa %}
                                        <span class="badge badge-danger">{% trans 'Not generated' %}</span>
                                    {% else %}
                                        <span class="badge badge-primary">{% trans 'Generated' %}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="dsa" class="collapse" aria-labelledby="dsa-heading" data-parent="#dsa-accordion">
                    <div class="card-body">
                        {{ ds.dsa.text | safe }}
                    </div>
                </div>
            </div>
        </div>

        {# edit dsa #}
        <form>
        {% csrf_token %}
        <div class="smallskip text-right">
            {# edit button #}
            <button type="button" class="btn btn-outline-primary" ic-get-from="{% url 'dddatasets:prep_edit_dsa' ds.uuid %}" ic-target="#dsa-edit" data-toggle="collapse" data-target="#dsa-edit" aria-expanded="false" aria-controls="dsa-edit" data-id="dsa" id="#dsa-edit-button">
                {% if ds.dsa %}{% trans "Edit" %}{% else %}{% trans "Generate" %}{% endif %}
            </button>

            <a href="{% url 'dddatasets:prep_dsa_pdf' ds.uuid %}" target="_blank">
                <button type="button" class="btn btn-primary"{% if not ds.dsa.pdf %}disabled{% endif %}>{% trans "PDF" %}</button>
            </a>

            {% if next_url %}
                <button class="btn btn-primary" ic-get-from="{{ next_url }}" ic-push-url="true" ic-target="#ds-content">{% trans 'Back to Wizard' %}</button>
            {% endif %}
        </div>
        </form>

        <div id="dsa-edit"></div>

    </div>
</div>
{% endblock ic-content %}
