{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets_edit.html" %}
{% load static i18n crispy_forms_tags core_tags humanize %}


{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'dddatasets/prep/_dataset_header.html' with ds=ds type='access' %}
    {% endblock dataset-nav %}

    {% if ds.dataset_type == 'DR' %}
        {% trans "Data reviews are always published as Open Access." %}
    {% else %}
        {% if manpage %}
            {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
        {% endif %}



        {% if ds.published %}
        <div class="alert alert-danger" role="alert">
            {% trans "Version" %} {{ ds.version }} {% trans "is already published and cannot not be edited" %}.<br>
            {% trans "Edit an unpublished version or create a new version" %}.
        </div>
        {% endif %}

        <div class="col-md-12">
            <h2>{% trans "Define access and licence" %}</h2>

            <p>{% trans "This dataset is set to be published as" %} <b>{{ ds.get_data_access_display }}</b>.</p>

            <div class="card-deck smallskip">
                <div class="card border border-success">
                    <div class="card-header bg-success border border-success">
                        <h5 class="card-title">{% trans "Open Access" %}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {# show manpage text #}
                            {% include 'core/_manpage_text.html' with manpage='access-open-access' %}
                        </p>
                    </div>
                    <div class="card-footer border-top-0 bg-white text-center">
                        <p>{% if ds.data_access == 'OA' %} <span class="i-check-mark-xl"></span>{% endif %}</p>

                        {% if not ds.published and not ds.is_frozen %}
                        <form>
                            {% csrf_token %}
                            <input type="hidden" value="OA" name="pubaccess">
                            <button class="btn btn-success btn-block" ic-post-to="{% url 'dddatasets:prep_edit_publish_access_select' ds.uuid  %}" ic-target="#ds-content">{% trans "Publish as Open Access" %}</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                <div class="card border border-warning">
                    <div class="card-header bg-warning border border-warning">
                        <h5 class="card-title">{% trans "Restricted Access" %}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {# show manpage text #}
                            {% include 'core/_manpage_text.html' with manpage='access-restricted-access' %}
                        </p>
                    </div>
                    <div class="card-footer border-top-0 bg-white text-center">
                        <p>{% if ds.data_access == 'RA' %} <span class="i-check-mark-xl"></span>{% endif %}</p>
                        {% if not ds.published and not ds.is_frozen %}
                        <form>
                            {% csrf_token %}
                            <input type="hidden" value="RA" name="pubaccess">
                            <button class="btn btn-warning btn-block" ic-post-to="{% url 'dddatasets:prep_edit_publish_access_select' ds.uuid  %}" ic-target="#ds-content">{% trans "Publish as Restricted Access" %}</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                <div class="card border border-danger">
                    <div class="card-header text-white bg-danger border border-danger">
                        <h5 class="card-title">{% trans "Metadata Only" %}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {# show manpage text #}
                            {% include 'core/_manpage_text.html' with manpage='access-metadata-only' %}
                        </p>
                    </div>
                    <div class="card-footer border-top-0 bg-white text-center">
                        <p>{% if ds.data_access == 'MO' %} <span class="i-check-mark-xl"></span>{% endif %}</p>

                        {% if not ds.published and not ds.is_frozen %}
                        <form>
                            {% csrf_token %}
                            <input type="hidden" value="MO" name="pubaccess">
                            <button class="btn btn-danger btn-block" ic-post-to="{% url 'dddatasets:prep_edit_publish_access_select' ds.uuid  %}" ic-target="#ds-content">{% trans "Publish as Metadata Only" %}</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>


            {# manage users for restricted access #}
            {% if ds.data_access == 'RA' %}
                {% if publish_right %}
            <div>
                {% if ds.get_ra_with_perms %}
                <h4>{% trans "Users with access to the published dataset" %}</h4>
                <div id="user-list">
                    {% for user in ds.get_ra_with_perms %}
                        {% include 'ddusers/_user_detail_card.html' with object=user image_url=user.image.url cardtype='pubaccess' dsid=ds.uuid %}
                    {% endfor %}
                </div>
                {% endif %}


                <h4 id="accessrequests">{% trans "Grant users access to the published dataset" %}</h4>

                <h5>{% trans 'Access requests' %}</h5>
                {% if ds.get_all_access_requests %}
                    <ul class="list-unstyled">
                    {% for access_request in ds.get_all_access_requests %}
                        <li>
                            <a href="{% url 'ddusers:detail' access_request.user.uuid %}">{{ access_request.user }}</a> {% trans 'requested access to this dataset' %} {{ access_request.created_at | naturaltime }}
                            {% if ds|user_has_restricted_access:access_request.user %}
                                <button class="btn btn-secondary" disabled>{% trans 'Access granted' %}</button>
                            {% elif ds|user_has_admin_right:request.user %}
                                <form class="form-inline">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ access_request.user.uuid }}" name="userid">
                                    <input type="hidden" value="acc" name="perm">
                                    <button type="button" class="btn btn-primary" ic-post-to="{% url 'dddatasets:prep_edit_access_user' ds.uuid  %}" ic-target="#ds-content" ic-include="">{% trans 'Grant access' %}</button>
                                </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>{% trans 'No access requests pending at this time' %}
                {% endif %}


                <h5>{% trans 'Search for users' %}</h5>
                <input class="w-50 form-control smallskip" type="text" placeholder="Search" name="q" ic-get-from="{% url 'dddatasets:prep_edit_access_user_search' ds.uuid %}" ic-target="#search-list" aria-label="{% trans "Search" %}">
                <div id="search-list"></div>
                {% endif %}
            </div>
            {% endif %}
            <hr>

            <h3>{% trans "Choose the license" %}</h3>
            {% if not ds.license_is_valid %}
                <div class="alert alert-danger smallskip">{% include 'dddatasets/prep/_license_invalid_text.html' with ds=ds %}</div>
            {% endif %}

            {% if ds.data_access != 'MO' %}
                {% for slug in ds.valid_licenses %}
                    {% if slug != 'license-individual' %}
                        {% with license=slug|get_license %}
                            {% include 'dddatasets/prep/_license.html' with licence=slug|get_license %}
                        {% endwith %}
                    {% endif %}
                {% endfor %}

                <div class="card border border-primary smallskip">
                    <div class="card-header" id="license-individual-card">
                        <h5 class="card-title">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#license-individual-text" aria-expanded="{% if ds.license and ds.license.get_license_name == 'individual license' %}true{% else %}false{% endif %}" aria-controls="license-individual-text">
                                {% if license.individual_license %}{% trans "Individual License" %}{% else %}{% trans "Add Individual License" %}{% endif %}
                            </button>
                            {% if ds.license and ds.license.get_license_name == 'individual license' %}
                                <span class="check-mark-small"><span class="i-check-mark-sm"></span></span>
                            {% endif %}
                        </h5>
                    </div>
                    <div id="license-individual-text" class="collapse {% if ds.license and ds.license.get_license_name == 'individual license' %}show{% endif %}" aria-labelledby="license-individual-card">
                        <div class="card-body">
                            {# show manpage text #}
                            <p>
                                {% include 'core/_manpage_text.html' with manpage='license-individual-license' %}
                            </p>

                            <form id="individual-license">
                                <input type="hidden" value="individual" name="licensename">
                                {% crispy form %}
                            </form>
                            <p>
                                {% include 'core/_manpage_text.html' with manpage='license-individual-license-help' %}
                            </p>
                        </div>
                        <div class="card-footer border-top-0 bg-white text-center">
                            {% if ds.license and ds.license.get_license_name == 'individual license' %}
                                <p class="check-mark"><span class="i-check-mark-md"></span></p>
                            {% endif %}
                            <form>
                                {% csrf_token %}
                                <button class="btn btn-primary" ic-post-to="{% url 'dddatasets:prep_edit_publish_license_select' ds.uuid  %}" ic-include="#individual-license" ic-target="#ds-content">{% trans "License data set as: individual license" %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% else %}
                <form id="nolicense-form">
                    {% csrf_token %}
                    <input type="hidden" value="nolicense" name="licensename">
                </form>
                <p>{% trans 'No data license is needed when publishing as Metadata Only' %}</p>
                <button class="btn btn-danger smallskip" ic-post-to="{% url 'dddatasets:prep_edit_publish_license_select' ds.uuid  %}" ic-include="#nolicense-form" ic-target="#ds-content">{% trans "Remove license" %}</button>
            {% endif %}

            {% if next_url %}
                <button class="btn btn-primary smallskip" ic-get-from="{{ next_url }}" ic-push-url="true" ic-target="#ds-content">{% trans 'Back to Wizard' %}</button>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock ic-content %}
