{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets_edit.html" %}
{% load static i18n %}


{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'dddatasets/prep/_dataset_header.html' with ds=ds type='archivalsignatures' %}
    {% endblock dataset-nav %}

    <div class="col-md-12">
        <h2>
           {% trans 'Archival Record IDs' %}
            {% if manpage %}
                {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
            {% endif %}
        </h2>


    {# existing archives #}
    {% if ds.get_archival_signatures %}
        {% for archivalsignature in ds.get_archival_signatures %}
            {% include "dddatasets/_archival_signature_card.html" with archivalsignature=archivalsignature %}
            <div class="smallskip text-right">
                {% comment %} {# edit button #}
                <button type="button" class="btn btn-outline-primary" ic-get-from="{% url 'dddatasets:prep_edit_archivalsignature' ds.uuid archivalsignature.uuid %}" ic-target="#archival-signature-edit-{{ archivalsignature.uuid}}" data-toggle="collapse" data-target="#archival-signature-edit-{{ archivalsignature.uuid}}" aria-expanded="false" aria-controls="archival-signature-edit-{{ archivalsignature.uuid}}">{% trans "Edit" %}</button> {% endcomment %}
                {# delete button #}
            </div>
            <div id="archival-signature-edit-{{ archivalsignature.uuid}}"></div>
            {# Modal to confirm project delete #}
            {% include "core/_confirm_modal.html" with objecttype="archivalsignature" objectid=archivalsignature.uuid dsid=ds.uuid objectname=archivalsignature delete_url="dddatasets:prep_edit_archivalsignature" edit_url="dddatasets:prep_edit_archivalsignature" target=target ictarget="#ds-content" %}
        {% endfor %}
    </div>
    {% endif %}

    <div class="container">
        <h4>{% trans "Add a new archival signature to this dataset" %}</h4>
        <div id="archival-signature-edit-">
            <div id="archival-signature-form" name="archive-search" ic-get-from="{% url 'dddatasets:prep_edit_archivalsignature' ds.uuid %}" ic-trigger-on="load"></div>
        </div>
    </div>
</div>
{# Modal to add new #}
{% include "core/_add_modal.html" with objecttype="archive" objectname=archive add_url="dddatasets:prep_edit_archivalsignature" target="#add-archive-modal" ictarget="#add-archive-modal-target-span" form=archive_form %}
{% endblock ic-content %}
