{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets_edit.html" %}
{% load static i18n %}


{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'dddatasets/prep/_dataset_header.html' with ds=ds type='versions' next_url=next_url %}
    {% endblock dataset-nav %}

    {% if manpage %}
        {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
    {% endif %}

    <h2>{% trans "Publish" %} – {% trans "Choose license" %}</h2>
    {% if ds.published %}
    <div class="alert alert-danger" role="alert">
        {% trans "Version" %} {{ ds.version }} {% trans "is already published and cannot not be edited" %}.<br>
        {% trans "Edit an unpublished version or create a new version" %}.
    </div>
    {% endif %}

</div>
{% endblock ic-content %}

{% block comment %}

{% endblock comment %}