{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets_edit.html" %}
{% load static i18n %}


{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'dddatasets/prep/_dataset_header.html' with ds=ds type='publications' %}
    {% endblock dataset-nav %}

    <div class="col-md-12">
        <h2>
            {% trans 'Publications' %}
            {% if manpage %}
                {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
            {% endif %}
        </h2>
        {# existing publications #}
    {% if ds.get_dataset_publications %}
        {% for dspub in ds.get_dataset_publications %}
            {% include "dddatasets/_publication_card.html" with dspub=dspub %}
            <div class="smallskip text-right">
                {# edit button #}
                <button type="button" class="btn btn-outline-primary" ic-get-from="{% url 'dddatasets:prep_edit_publication' ds.uuid dspub.uuid %}" ic-target="#dspub-edit-{{ dspub.uuid}}" data-toggle="collapse" data-target="#dspub-edit-{{ dspub.uuid}}" aria-expanded="false" aria-controls="dspub-edit-{{ dspub.uuid}}">{% trans "Edit" %}</button>
                {# delete button #}
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#confirmModal{{dspub.uuid}}" ic-target="#confirmModal-target-span" title="{% trans "Delete" %}">
                    {% trans "Delete" %}
                </button>
            </div>
            <div id="dspub-edit-{{ dspub.uuid}}"></div>
            {# Modal to confirm project delete #}
            {% include "core/_confirm_modal.html" with objecttype="publication" objectid=dspub.uuid dsid=ds.uuid objectname=dspub.publication delete_url="dddatasets:prep_edit_publication" edit_url="dddatasets:prep_edit_publication" target=target ictarget="#ds-content" %}
        {% endfor %}
    </div>
    {% endif %}

    <h4>{% trans "Add a publication related to this dataset" %}</h4>
    {# add button #}
    <div id="dspub-form" ic-get-from="{% url 'dddatasets:prep_edit_publication' ds.uuid %}" ic-trigger-on="load"></div>

</div>
{% endblock ic-content %}
