{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets_edit.html" %}
{% load static i18n core_tags %}


{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'dddatasets/prep/_dataset_header.html' with ds=ds type='description' %}
    {% endblock dataset-nav %}

    <div class="col-md-12 smallskip">
        <h2>{% trans "Description" %}
        {% if manpage %}
            {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
        {% endif %}
        </h2>
        {# ds Description Tab #}
        <div id="dataset-desc-form" ic-get-from="{% url 'dddatasets:prep_edit_detail' ds.uuid %}" ic-trigger-on="load">
            <span class="spinner-sm"></span>{% trans "Loading Description Form" %}
        </div>
    </div>
    <div class="col-md-12">
        {# countries as tags #}
        <h2>{% trans "Add countries to your Dataset" %}{% include '_help_text.html' with field=help_texts key='country-tags' %}</h2>

        <div class="smallskip" id="user-countries" ic-get-from="{% url 'dddatasets:prep_country_tags_list' ds.uuid %}" ic-trigger-on="load">
            <span class="spinner-sm"></span>{% trans "Loading countries" %}
        </div>
    </div>

    <div class="col-md-12">
        <h2>{% trans "Add tags to your Dataset" %}{% include '_help_text.html' with field=help_texts key='tags' link=True %}</h2>

        {# interests tags #}
        <h3>{% trans "Keywords" %}{% include '_help_text.html' with field=help_texts key='keyword-tags' %}</h3>
        {% include "dddatasets/prep/_tag_add_control_loader.html" with object="keyword" %}
        {# language tags #}
        <h3>{% trans "Languages" %}{% include '_help_text.html' with field=help_texts key='language-tags' %}</h3>
        {% include "dddatasets/prep/_tag_add_control_loader.html" with object="language" %}
        {# disciplines tags #}
        <h3>{% trans "Disciplines" %}{% include '_help_text.html' with field=help_texts key='disciplines-tags' %}</h3>
        {% include "dddatasets/prep/_tag_add_control_loader.html" with object="disciplines" %}
        {# methods_of_data_collection tags #}
        <h3>{% trans "Methods of data collection" %}{% include '_help_text.html' with field=help_texts key='methods-of-data-collection-tags' %}</h3>
        {% include "dddatasets/prep/_tag_add_control_loader.html" with object="methods_of_data_collection" %}
        {% comment %} {# methods_of_data_analysis tags #}
        <h3>{% trans "Methods of data analysis" %}{% include '_help_text.html' with field=help_texts key='methods-of-data-analysis-tags' %}</h3>
        {% include "dddatasets/prep/_tag_add_control_loader.html" with object="methods_of_data_analysis" %} {% endcomment %}
    </div>
</div>

{% comment %} {# image upload modal #}
<div class="modal fade" id="dsImageModal" tabindex="-1" role="dialog" aria-labelledby="dsImageModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{% trans "Upload new image" %}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                    {% if ds.image %}
                        <img src="{{ ds.image.url }}" alt="photo of {{ ds.title }}" class="avatar media-object rounded-circle user-image-upload" />
                    {% else %}
                        <img src='{% static "images/ds-default.svg" %}' alt="default dataset image" class="avatar media-object rounded-circle user-image-upload" />
                    {% endif %}
                    </div>
                    <div class="col-md-8">
                        <form action="{% url 'dddatasets:prep_dataset_edit_image' ds.uuid %}"
                            class="dropzone smallskip" enctype="multipart/form-data"
                            id="ds-image-dropzone">{% csrf_token %}
                    </div>
                </div>
                <div class="modal-footer">
                        <button class="btn btn-primary" id="ds-image-upload">{% trans "Upload new image" %}</button>
                    </form>
                    <span ic-get-from='{% url 'core:load' %}' ic-trigger-on='load'></span>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}

{% endblock ic-content %}
