{% extends 'base.html' %}
{% load static i18n wagtailcore_tags %}

{% block title %}
{{ user.username }}'s Datasets
{% endblock %}

{% block content %}

<div class="row" ic-history-elt="true">
    <div class="col-12">
        <div class="p-4 bg-light w-100 smallskip">
            <h1 class="slim">{% trans "Share your" %} <b class="extrabold">{% trans "Data" %}</b>!</h1>
            <p>{% trans "Upload your data to share with selected colleagues, your research team, and at a later step the Discuss Data community." %}</p>
            <p>{% trans "See the documentation how to prepare your data and to guide you through the step-by-step process of data upload and description." %}</p>

            <p class="dataset-buttons row">
                <a href="{% slugurl 'data-upload' %}">
                    <button class="btn btn-outline-primary">
                        {% trans "Preparation how-to" %}
                    </button>
                </a>
                <a href="{% slugurl 'publication-workflow' %}">
                    <button class="btn btn-outline-primary">
                        {% trans "Publication workflow" %}
                    </button>
                </a>
            </p>

            <div class="row">
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="card w-100 smallskip">
                        <div class="card-body">
                            <h2 class="card-title slim">{% trans "Publish" %} <b class="extrabold">{% trans "Data" %}</b></h2>
                            <p class="card-text">
                                Publish your own dataset as Open or Restricted Access or Metadata only
                                <p class="dataset-buttons row">
                                    <a href="{% url 'dddatasets:prep_add' %}">
                                        <button class="btn btn-primary">
                                            {% trans "Add new dataset"%}
                                        </button>
                                    </a>
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="card w-100 smallskip">
                        <div class="card-body">
                            <h2 class="card-title slim">{% trans "Review" %} <b class="extrabold">{% trans "Data" %}</b></h2>
                            <p class="card-text">
                                Review datasets that your peers have published
                                <p class="dataset-buttons row">
                                    <a href="{% url 'dddatasets:prep_datareview_add' %}">
                                        <button class="btn btn-primary">
                                            {% trans "Add data review"%}
                                        </button>
                                    </a>
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="p-4 bg-light">
        {% if dsmo_own %}
            <h2 class="slim">{% trans "Your Datasets" %}</h2>
            {% for dsmo in dsmo_own %}
                {% include "dddatasets/_dataset_card.html" with dataset=dsmo.get_top_version_dataset prep=True %}
            {% endfor %}
        {% endif %}
        </div>

        <div class="p-4 bg-light">
        {% if dsmo_admin %}
            <h2 class="slim">{% trans "Datasets you can administer" %}</h2>
            {% for dsmo in dsmo_admin %}
                {% include "dddatasets/_dataset_card.html" with dataset=dsmo.get_top_version_dataset prep=True %}
            {% endfor %}
        {% endif %}
        </div>

        <div class="p-4 bg-light">
        {% if dsmo_edit %}
            <h2 class="slim">{% trans "Datasets you can edit" %}</h2>
            {% for dsmo in dsmo_edit %}
                {% include "dddatasets/_dataset_card.html" with dataset=dsmo.get_top_version_dataset prep=True %}
            {% endfor %}
        {% endif %}
        </div>

        <div class="p-4 bg-light">
        {% if dsmo_view %}
            <h2 class="slim">{% trans "Datasets you can view" %}</h2>
            {% for dsmo in dsmo_view %}
                {% include "dddatasets/_dataset_card.html" with dataset=dsmo.get_top_version_dataset prep=True %}
            {% endfor %}
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
