{% load static i18n wagtailcore_tags %}

<div class="carousel-item lp-carousel-item{% if active %} active{% endif %}">
    <div class="row">
        <div class="col-md-6 d-flex align-items-stretch">
            <div class="card lp-card">
                <div class="card-body">
                    <p>{{ item.0.date }}</p>
                    <h2 class="card-title">{{ item.0.title }}</h2>
                    <p class="card-text">{{ item.0.text | richtext }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch">
            {% if item.1 %}
            <div class="card lp-card">
                <div class="card-body">
                    <p>{{ item.1.date }}</p>
                    <h2 class="card-title">{{ item.1.title }}</h2>
                    <p class="card-text">{{ item.1.text | richtext }}</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
