{% load static i18n wagtailcore_tags %}

{# news #}
<div id="news">
    <h1 class="lp-section lp-width lp-left">{% trans "News" %}</h1>
    <div id="lp-news-carousel" class="carousel slide" data-ride="carousel" data-interval="false" >
    <div class="carousel-inner lp-carousel-inner lp-width">
        {% for item in news_items %}
            {% if forloop.counter == 1 %}
                {% include "landingpage/_news_landing_page_item.html" with item=item active=True %}
            {% else %}
                {% include "landingpage/_news_landing_page_item.html" with item=item %}
            {% endif %}
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#lp-news-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon carousel-control-prev-icon-primary" aria-hidden="true"></span>
        <span class="sr-only">{% trans 'Previous' %}</span>
    </a>
    <a class="carousel-control-next" href="#lp-news-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon carousel-control-next-icon-primary" aria-hidden="true"></span>
        <span class="sr-only">{% trans 'Next' %}</span>
    </a>
    </div>{# end carousel #}
</div> {# end news #}
