{% load static i18n wagtailcore_tags %}

<div class="carousel-item lp-carousel-item{% if active %} active{% endif %}">
    <div class="row">
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card lp-carousel-card">
                <div class="card-body">
                    <h5 class="card-title slogan-heading">{{ item.0.title }}</h5>
                    <div class="card-text slogan-text">{{ item.0.text | richtext }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
        {% if item.1 %}
            <div class="card lp-carousel-card">
                <div class="card-body">
                    <h5 class="card-title slogan-heading">{{ item.1.title }}</h5>
                    <div class="card-text slogan-text">{{ item.1.text | richtext }}</div>
                </div>
            </div>
        {% endif %}
        </div>
        <div class="col-md-4 d-flex align-items-stretch">
        {% if item.2 %}
            <div class="card lp-carousel-card">
                <div class="card-body">
                    <h5 class="card-title slogan-heading">{{ item.2.title }}</h5>
                    <div class="card-text slogan-text">{{ item.2.text | richtext }}</div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
</div>