{% load static i18n wagtailcore_tags %}

<div id="lp-slogans-carousel" class="carousel slide" data-ride="carousel" data-interval="false" >
    <div class="carousel-inner lp-carousel-inner lp-width">
        {% for item in slogan_items %}
            {% if forloop.counter == 1 %}
                {% include "landingpage/_slogans_landing_page_item.html" with item=item active=True %}
            {% else %}
                {% include "landingpage/_slogans_landing_page_item.html" with item=item %}
            {% endif %}
        {% endfor %}

    </div>

    <a class="carousel-control-prev" href="#lp-slogans-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">{% trans 'Previous' %}</span>
    </a>
    <a class="carousel-control-next" href="#lp-slogans-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">{% trans 'Next' %}</span>
    </a>
</div>{# end carousel #}