{% load static i18n wagtailcore_tags wagtailimages_tags %}

<div class="col-md-3 d-flex align-items-stretch">
    <div class="card lp-card">
        <div class="card-body">
            {% image member.image fill-130x200 class="card-img-top" %}
            <div class="smallskip"></div>
            <h4 class="card-title">{{ member.name }}</h4>
            <h5 class="card-text">{{ member.role }}</h5>
            <p class="card-text">{{ member.text | richtext }}</p>
        </div>
    </div>
</div>
