{% load static i18n wagtailcore_tags core_tags compress%}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Discuss Data{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/svg+xml" href="{% static 'images/logo-sm-primary.svg' %}" sizes="any">

    {% block css %}


    <!-- Your stuff: Third-party CSS libraries go here -->
    {% compress css %}
    <!-- This file stores project-specific CSS -->

    <link href="{% static 'css/project.css' %}" rel="stylesheet">

    {% endcompress %}
    {% endblock %}

  </head>

  <body id="top" class="lp-body" data-spy="scroll" data-target=".navbar" data-offset="50">
    <header>
    {# main navigation #}
    {% block nav %}
      {% include "landingpage/nav_top_landing_page.html" %}
    {% endblock nav %}
    {# end main navigation #}
    </header>


    {# main container #}
    <div class="container-fluid no-padding">
      <div class="lp-content-top full-height landingpage">
        {# messages #}
        {% include 'core/_messages.html' with cssid="messages-lp" %}
        {# messages end #}

        <div class="jumbotron jumbotron-fluid lp-jumbotron smallskip">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1 class="display-4">Discuss <span class="bold-900">Data</span></h1>
              </div>
              <div class="col-12"></div>
              <div class="col-12">
                <div class="subtitle">{% block shortdescription %}{% endblock %}</div>
                  {# <a href="#project" class="btn btn-primary btn-lg">{% trans "About the Project" %}</a> #}
                  <a href={% url 'dddatasets:search' %} class="btn btn-primary btn-lg">{% trans "Browse Data" %}</a>
                  {% if request.user.is_authenticated %}
                    <a href="{% url 'ddusers.dashboard_page' %}" class="btn btn-success btn-lg">{% trans "Enter Discuss Data" %}</a>
                  {% else %}
                    <a href="{% slugurl 'how-do-i-register' %}" class="btn btn-primary btn-lg">{% trans "How to register" %}</a>
                    <br>
                    <a href="{% url 'core.login_page' %}" class="btn btn-success btn-lg mt-1">{% trans "Sign In" %}</a>
                  {% endif %}
              </div>
              <div class="col-12"></div>
            </div>
          </div>{# end jumbotron #}

          {% block slogans %}{% endblock slogans %}

        </div>{# end lp-content-top #}
      </div>
    </div>

    <div id="content">
      {% block content %}
        {% block news %}{% endblock news %}
        <div class="container-fluid lp-width">
        </div>
      {% endblock content %}
    </div>

    {# Footer #}
    {% include "footer.html" %}
    {# end footer #}

    {% block javascript %}
      <!-- Vendor dependencies bundled as one file-->
      {% compress js %}
      <script src="{% static 'js/vendors.js' %}"></script>
      {% endcompress %}

      <!-- place project specific Javascript in this file -->
      {% compress js %}
      <script src="{% static 'js/project.js' %}"></script>
      {% endcompress %}
    {% endblock javascript %}
  </body>
</html>
