{% extends "landingpage/base_landing_page.html" %}
{% load static i18n wagtailcore_tags core_tags %}

{% block title %}{% trans "Discuss Data: Open Platform for the Interactive Discussion of Research Data Quality (on the example of area studies on the post-Soviet region)" %}{% endblock %}

{% block shortdescription %}{{ page.short_description | richtext }}{% endblock %}

{% block slogans %}
    {% include "landingpage/_slogans_landing_page.html" with items=slogan_items %}
{% endblock slogans %}

{% block content %}



{% block news %}
    {% include "landingpage/_news_landing_page.html" with items=news_items %}
{% endblock news %}



{# project #}
<div id="project" class="container-fluid no-padding lp-width">
    <h1 class="lp-section">{% trans "Project Description" %}</h1>
    <div>{{ page.project_description }}</div>
</div>{# end project #}

{# team #}
<div id="team" class="container-fluid no-padding lp-width">
    <h1 class="lp-section">{% trans "Team" %}</h1>
    <div class="row">
    {% for member in page.team_member.all %}
        {% include "landingpage/_team_member_landing_page.html" with member=member %}
    {% endfor %}
    </div>
</div>{# end team #}

{# curators#}
<div id="curators" class="container-fluid no-padding lp-width">
    <h1 class="lp-section">{% trans "Data Curators" %}</h1>
    {% get_curators_page as curators_page %}
    {% for block in curators_page.body %}
        {{ block }}
    {% endfor %}
</div>

{# end curators#}

{# advisory-board #}
<div id="advisory-board" class="container-fluid no-padding lp-width">
    <h1 class="lp-section">{% trans "Advisory Board" %}</h1>
    {{ page.advisory_board | richtext }}
</div>{# end advisory-board #}

</div>

{% endblock content %}