{% load static i18n wagtailcore_tags compress%}

<nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 border-bottom-light navbar-expand-sm landingpage" id="navbar-top-landingpage">
    <a class="navbar-brand px-3" href="{% url 'core.landing_page' %}"><img class="navbar-logo" src="{% static 'images/logo-primary-inverted.svg' %}" /></a><a class="badge badge-primary badge-middle" href="{% slugurl 'beta-version' %}">BETA</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto landingpage">
            <li class="nav-item">
                <a class="nav-link" href="#news">{% trans "News" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#project">{% trans "Project" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#team">{% trans "Team" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#curators">{% trans "Curators" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#advisory-board">{% trans "Advisory Board" %}</a>
            </li>
        </ul>

        <form action="{% url 'dddatasets:search' %}" method="get" class="min-vw-25 mx-auto">
            <div class="input-group ">
                <input class="form-control" id="search-field" class="search-data" type="text" placeholder="{% trans "Search Data" %}" name="q"  aria-label="Search">
                <div class="input-group-append">
                    <button class="input-group-text" type="submit"><span class="i-search-md"></span></button>
                </div>
            </div>
        </form>


        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href={% url 'dddatasets:search' %}>{% trans "Browse Data" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% slugurl 'discuss-data-help' %}">{% trans "Help" %}</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ddusers.dashboard_page' %}">{% trans "Dashboard" %}</a>
            </li>
            <li class="nav-item">
                <a id="log-in-link" class="nav-link" href="/accounts/logout/">{% trans "Sign out" %}</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a id="log-in-link" class="nav-link" href="{% url 'core.login_page' %}">{% trans "Sign In" %}</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a id="log-in-link" class="nav-link" href="https://twitter.com/discussd" target="_blank"><img height="20" src="{% static 'images/twitter.svg' %}" /></a>
            </li>
        </ul>
    </div>
</nav>
