{% load static i18n crispy_forms_tags %}

<div class="modal" id="add-{{ objecttype}}-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{% trans "Adding" %} {{ objecttype }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ic-get-from="{% url 'core:polling_start' %}" ic-target="#pollstatus"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                {% include "core/_edit_form.html" with form=form formid="add-archive-form" icpostto="dddatasets:prep_new_archive_add" ds=ds %}
            </div>
            <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" ic-get-from="{% url 'core:polling_start' %}" ic-target="#pollstatus">{% trans "Cancel" %}<span class="glyphicon glyphicon-ban-circle"></span></button>
                <span id="add-archive-modal-target-span"></span>
            </div>
        </div>
    </div>
</div>