{% load crispy_forms_field i18n core_tags %}

<div class="container">
    <div class="col-md-6 custom-control custom-checkbox smallskip">
        {{ field }}
        <label for="id_{{ field.html_name }}" class="custom-control-label">{% trans "Set as main affiliation" %}</label>
    </div>
</div>