{% load static i18n %}

<div class="modal" id="confirmModal{{ objectid}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{% trans "Deleting" %} {{ objecttype }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div>{% trans "Please confirm the deletion of the" %} {{ objecttype }}:<br><i>{{ objectname }}</i>.</div>
            </div>
            <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" ic-get-from="{% url 'core:polling_start' %}" ic-target="#pollstatus">{% trans "Cancel" %}<span class="glyphicon glyphicon-ban-circle"></span></button>
                    <form>
                        <input type="hidden" name="objectid" value="{{ objectid }}" />
                        <button class="btn btn-danger" data-dismiss="modal" ic-target="{{ ictarget }}" ic-delete-from="{% if dsid %}{% url delete_url dsid %}{% else %}{% url delete_url %}{% endif %}" ic-on-beforeSend="xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');removeModal();">
                            {% trans "Delete" %}
                        </button>
                    </form>


                <span id="confirmModal-target-span"></span>
            </div>
        </div>
    </div>
</div>
