{% load static crispy_forms_tags core_tags i18n %}

{% block content %}

{% if error_msg %}
<p>Errors: {{ error_msg }}</p>
{% endif %}

{% if form %}
    <form method="POST" {% if formid %}id={{ formid }}{% endif %} class=".sortable-ignore" ic-post-to="{% if icpostto %}{% url icpostto ds.uuid %}{% else %}{{ request.path }}{% endif %}" enctype="multipart/form-data" {% if ictarget %}ic-target="{{ ictarget }}"{% endif %} {% if icinclude %}ic-include="{{ icinclude }}{{ icinclude_uuid }}"{% endif %}>
        {% csrf_token %}
        {% if with_next_url %}
            <input type="hidden" name="nexturl" value="{{ next_url }}" />
        {% endif %}
        <div class="row smallskip">
            <div class="col-md-12">
                {% if heading %}<h1>{{ heading }}</h1>{% endif %}

                {%  if sub_form %}
                    {% crispy sub_form %}
                {% endif %}
                {%  if sub_form2 %}
                    {% crispy sub_form2 %}
                {% endif %}
                {% if categories_all %}
                </div>
                <div class="col-md-12">
                    {% include "core/_main_category_select.html" with categories_all=categories_all ds=ds %}
                </div>
                    {% comment %} {% if ds.uuid %}
                    <div class="col-md-4" id="dataset-image" ic-get-from="{% url 'dddatasets:prep_dataset_edit_image' ds.uuid %}" ic-trigger-on="load">
                        <span>
                            <span class="spinner-sm"></span>{% trans "Loading Dataset Image" %}
                        </span>
                    </div>
                    {% endif %} {% endcomment %}
                </div>
                {% endif %}

                <div id='messages2' ic-src="{% url 'core:messages' %}">
                    {% include 'core/_messages.html' %}
                </div>

                {% crispy form %}

                {% if form_err %}
                <p>{{ form_err }}</p>
                {% endif %}

            </div>
        </div>
    </form>
{% endif %}

{% endblock %}
