{% load static i18n core_tags %}

<div>
    <label>{% trans 'Main Category' %}*</label>
    <div class="btn-group-toggle smallskip" id="main-category-select" data-toggle="buttons">
        {% if ds %}
            {# Edit dataset #}
            {% for category in categories_all %}
                {# checked default is ds.get_main_category#}
                {% if category.id == ds.get_main_category.id %}
                    <label class="btn btn-pill btn-outline-primary badge-tag active">
                        <input type="radio" name="main_category" id="category-{{ category.slug }}" value="{{ category.slug }}" autocomplete="off" checked>
                        {{ category }}
                    </label>
                {% else %}
                    <label class="btn btn-pill btn-outline-primary badge-tag">
                        <input type="radio" name="main_category" id="category-{{ category.slug }}" value="{{ category.slug }}" autocomplete="off">
                        {{ category }}
                    </label>
                {% endif %}
            {% endfor %}
        {% else %}
            {# Add dataset #}
            {% for category in categories_all %}
                {# checked default category other listed as last element #}
                <label class="btn btn-pill btn-outline-primary badge-tag">
                    <input type="radio" name="main_category" id="category-{{ category.slug }}" value="{{ category.slug }}" autocomplete="off" {% if category.slug == "other" %}checked{% endif %}>
                    {{ category }}
                </label>
            {% endfor %}
        {% endif %}
    </div>
    {% if ds %}
        {# Additional Categories only for Edit dataset #}
        <label>{% trans 'Additional Categories' %}</label>
        {% include 'core/_multi_select.html' with fields=ds.get_categories.all fields_all=categories_all selecttype="categories" selecttitle=None %}
    {% endif %}
</div>