{% load i18n %}



<div id={{ cssid }} class="position-fixed w-50 text-center">
{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class='alert alert-success alert-dismissible fade show' ic-trigger-on='timeout:10s' ic-action='delay:4500;fadeOut;remove' role='alert'>
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class='alert alert-danger alert-dismissible fade show' role='alert'>
                {{ message }}
                {% if err %}
                    {{ target|title }} {% trans 'could not be saved. Error encountered in fields' %} {% for field in err %} {{ field }}, {% endfor %}
                {% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
        {% else %}
            <div class='alert alert-warning alert-dismissible fade show' ic-trigger-on='timeout:10s' ic-action='delay:4500;fadeOut;remove' role='alert'>
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
</div>
