{% load static i18n core_tags %}

<div>
    <button class="list-group-item smallskip select-header" type="button" data-toggle="collapse" data-target="#collapse-{{ selecttype }}-field" aria-expanded="{% if fields %}false{% else %}true{% endif %}" aria-controls="collapse-{{ selecttype }}-field">
        {% if selecttitle %}{% trans selecttitle %}: {% endif %} {% if fields %}{% for field in fields %}{{ field|title }}{% if not forloop.last %}, {% endif %}{% endfor %}{% else %}–{% endif %} <span class="select-filter-caret"><span class="i-drop-down-arrow-md"></span></span>
    </button>
</div>
<div class="collapse" id="collapse-{{ selecttype }}-field">
    <div class="list-group smallskip">
        {% for field in fields_all %}
            <input type="checkbox" name="{{ selecttype }}" value="{{ field.id }}" aria-label="{% trans field.name %}"{% if field in fields %} checked{% endif %} id="search-field-{{ field.slug }}" />
            <label class="list-group-item select-field" for="search-field-{{ field.slug }}">{{ field.name }}</label>
        {% endfor %}
    </div>
</div>