{% load static i18n %}
<div id='{{ oep.type }}Modal-target-span'>

{% if oep.outer_panel %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{{ oep.title }}</h2>
    </div>
{% endif %}

    <div class="panel-body">
        <div>
            {% include "core/_get_user_objects.html" with user=oep.user objects=oep.objects ds=ds edit_url=oep.edit_url add_url=oep.add_url delete_url=oep.delete_url object_type=oep.object_type object_text=oep.object_text download_url=oep.download_url ictarget='#ds-content' %}
        </div>

    </div>
{% if oep.outer_panel %}
</div>
{% endif %}

</div>