{% load static i18n activity_tags core_tags %}

<div class="pagination justify-content-center">
    <span class="step-links">
        {% if object_list.has_previous %}
            <button class="btn btn-outline-secondary btn-small" ic-get-from="?page={{ object_list.previous_page_number }}" ic-target="{{ ic_target }}"><span class="i-pagination-arrow-left-sm"></span></button>
        {% else %}
            <button class="btn btn-outline-secondary btn-small" disabled><span class="i-pagination-arrow-left-sm"></span></button>
        {% endif %}
        <span class="current">
            {% for number in paginator_range %}
                {% if number == object_list.number|subtract:1 %}
                    <button class="btn btn-outline-secondary btn-small" ic-get-from="?page={{ object_list.number|subtract:1 }}" ic-target="{{ ic_target }}">{{ object_list.number|subtract:1 }}</i></button>
                {% elif number == object_list.number %}
                    <button class="btn btn-primary btn-small">{{ number }}</button>
                {% elif number == object_list.number|add:1 %}
                    <button class="btn btn-outline-secondary btn-small" ic-get-from="?page={{ object_list.number|add:1 }}" ic-target="{{ ic_target }}">{{ object_list.number|add:1 }}</i></button>
                {% else %}
                    {% if number == 1 %}
                        <button class="btn btn-outline-secondary btn-small" ic-get-from="?page={{ number }}" ic-target="{{ ic_target }}">{{ number }}</i></button>
                    {% elif number == object_list.number|subtract:2 %}
                        <span class="ellipsis">...</span>
                    {% elif number == paginator_last_page|subtract:1 %}
                        <button class="btn btn-outline-secondary btn-small" ic-get-from="?page={{ number }}" ic-target="{{ ic_target }}">{{ number }}</i></button>
                    {% elif number == paginator_last_page|subtract:2 %}
                        <span class="ellipsis">...</span>
                    {% else %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </span>
        {% if object_list.has_next %}
            <button class="btn btn-outline-secondary btn-small" ic-get-from="?page={{ object_list.next_page_number }}" ic-target="{{ ic_target }}"><span class="i-pagination-arrow-right-sm"></span></button>
        {% else %}
            <button class="btn btn-outline-secondary btn-small" disabled><span class="i-pagination-arrow-right-sm"></span></button>
        {% endif %}
    </span>
</div>


