{% load static i18n core_tags %}

<div class="list-group">
    <button class="list-group-item active search-filter-button" type="button" data-toggle="collapse" data-target="#collapse-{{ filtertype }}-filter" aria-expanded="{% if filters %}false{% else %}true{% endif %}" aria-controls="collapse-{{ filtertype }}-filter">
        {% trans filtertype|title|remove_underscores %}: {% if filters %}{% for filter in filters %}{{ filter|title|remove_underscores }} {% endfor %}{% else %}–{% endif %} <span class="search-filter-caret"><span class="i-drop-down-arrow-md"></span></span>
    </button>
</div>
<div class="collapse{% if filters %} show{% endif %}" id="collapse-{{ filtertype }}-filter">
    <div class="list-group search-filter smallskip">
        {% for filter in filters_all %}
            <input type="checkbox" name="{{ filtertype }}" value="{{ filter.name }}" aria-label="{% trans filter.name %}"{% if filter.name in filters %} checked{% endif %} id="search-filter-{{ filtertype }}-{{ filter.slug }}" class="search-filter-input" />
            <label class="list-group-item" for="search-filter-{{ filtertype }}-{{ filter.slug }}">{{ filter.name }}</label>
        {% endfor %}
    </div>
</div>