{% load static i18n core_tags %}



<div class="list-group">
    <button class="list-group-item active search-filter-button" type="button" data-toggle="collapse" data-target="#collapse-{{ filtertype }}-filter" aria-expanded="false" aria-controls="collapse-{{ filtertype }}-filter">
        {% trans "Search for" %}: {% if filter_applied == 'dataset_index' %}{% trans 'Datasets' %}{% elif filter_applied == 'user_index' %}{% trans 'Users' %}{% else %}{% trans 'Help' %}{% endif %} <span class="search-filter-caret"><span class="i-drop-down-arrow-md"></span></span>
    </button>
</div>
<div class="collapse show" id="collapse-{{ filtertype }}-filter">
    <div class="list-group search-filter smallskip">
        {# dataset_index #}
        <input type="radio" value="dataset_index" aria-label="{% trans 'Datasets' %}" {% if filter_applied == 'dataset_index' %} checked{% else %}ic-get-from="{% url 'dddatasets:search' %}{{ search_params|add_url_search_params }}" ic-push-url="true" ic-include=".search-middle" ic-target="#content"{% endif %} id="search-filter-dataset_index" />
        <label class="list-group-item" for="search-filter-dataset_index">{% trans 'Datasets' %}</label>

        {# user_index #}
        <input type="radio" value="user_index" aria-label="{% trans 'Users' %}" {% if filter_applied == 'user_index' %} checked{% else %}ic-get-from="{% url 'ddusers:search' %}{{ search_params|add_url_search_params }}" ic-push-url="true" ic-include=".search-middle" ic-target="#content"{% endif %} id="search-filter-user_index" />
        <label class="list-group-item" for="search-filter-user_index">{% trans 'Users' %}</label>

        {# help_index #}
        <input type="radio" value="help_index" aria-label="{% trans 'Help' %}" {% if filter_applied == 'help_index' %} checked{% else %}ic-get-from="{% url 'core:help_search' %}" ic-push-url="true" ic-include=".search-middle" ic-target="#content"{% endif %} id="search-filter-help_index" />
        <label class="list-group-item" for="search-filter-help_index">{% trans 'Help' %}</label>
    </div>
</div>