{% load static i18n activity_tags core_tags %}
{% if html %}
<p>{{ message|urlize }}</p>
{% else %}
{{ message|safe }}
{% endif %}

--
{% if html %}<p>{% endif %}{% trans "Email from" %} {{ site_info.title}}: {{ site_info.subtitle }} {% if html %}</p>{% endif %}
{% if html %}<a href="{{ site_info.url }}"></a>{% else %}{{ site_info.url }}{% endif %}
