{% extends "base.html" %}

{% block title %}Server Error{% endblock %}

{% block content %}
<h1>500 Internal Server Error</h1>

<p>We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.</p>

{% if sentry_event_id %}
<span id="feedback"></span>
{% endif %}

{% endblock content %}


