{% load static i18n core_tags wagtailcore_tags %}

{% if field.help_text or help_texts|get_value:key %}
<span class="i-help-sm float-right" data-toggle="collapse" data-target="#collapseHelpText-{% if key %}{{ key }}{% else %}{{ field.auto_id }}{% endif %}" aria-expanded="false" aria-controls="collapseHelpText-{% if key %}{{ key }}{% else %}{{ field.auto_id }}{% endif %}"></span>
<div class="collapse collapse-help-text" id="collapseHelpText-{% if key %}{{ key }}{% else %}{{ field.auto_id }}{% endif %}">
    {% if key %}
        <span id="hint_{{ key }}">{{ help_texts|get_value:key|richtext }}</span>
        {% if link %}
            <p><a href="{{ help_texts.manpage.url }}" target="_blank">Open the manual page <i>{{ help_texts.manpage.title }}</i> in new window</a></p>
        {% endif %}
    {% else %}
        {% include 'bootstrap4/layout/help_text.html' %}
    {% endif %}
</div>
{% endif %}