{% load static i18n compress activeurl core_tags wagtailcore_tags %}

{% if request.user.is_authenticated %}
    <li class="nav-item {% nav_active request.path "/dashboard" %} {% nav_active request.path "/users/notifications" %} {% nav_active request.path "/users/feed/users" %}">
        <a class="nav-link i-nav i-nav-dashboard" href="{% url 'ddusers.dashboard_page' %}">
            {% trans "Dashboard" %} <span class="sr-only">(current)</span>
            {# {% if request.user.get_notifications_count > 0 %}<span class="badge badge-pill badge-primary sidebar-badge">{{ request.user.get_notifications_recent_count }}</span>{% endif %} #}
        </a>
    </li>
    <li class="nav-item {% nav_active request.path "/dataset/prep" %}">
        <a class="nav-link i-nav i-nav-my-data" href="{% url 'dddatasets:prep_listing' %}">
            {% trans "My Data" %}
        </a>
    </li>
    <li class="nav-item {% nav_active request.path "/users/follow" %}">
        <a class="nav-link i-nav i-nav-follow" href="{% url 'ddusers:list_following_datasets' %}">
            {% trans "Followed Datasets" %}
        </a>
    </li>
    <li class="nav-item {% nav_active request.path "/users/edit" %}">
        <a class="nav-link i-nav i-nav-my-profile" href="{% url 'ddusers:edit' %}">
            {% trans "My Profile" %}
        </a>
    </li>
{% endif %}
    <li class="nav-item {% nav_active request.path "/dataset/" exclude="/dataset/prep" %}">
        <a class="nav-link i-nav i-nav-shared-data" href="{% url 'dddatasets:search' %}">
            {% trans "Data" %}
        </a>
    </li>
    <li class="nav-item {% nav_active request.path "/categories/" %}">
        <a class="nav-link i-nav i-nav-categories" href="{% url 'category_list' %}">
            {% trans "Categories" %}
        </a>
    </li>
    <li class="nav-item {% nav_active request.path "/users/" exclude="/users/edit /users/feed /users/following /users/followed /users/notifications /users/follow/lists" %}">
        <a class="nav-link i-nav i-nav-people" href="{% url 'ddusers:search' %}">
            {% trans "People" %}
            {# {% if user.is_authenticated and request.user.get_following_count > 0 %}<span class="badge badge-pill badge-primary sidebar-badge">{{ request.user.get_following_count }}</span>{% endif %} #}
        </a>
    </li>
    <li class="nav-item {% nav_active request.path "/documentation" %}">
        <a class="nav-link i-nav i-nav-help" href="{% slugurl 'discuss-data-help' %}">
            {% trans "Help" %}
        </a>
    </li>