{% extends request.is_intercooler|yesno:"blank.html,base.html" %}

{% load wagtailcore_tags core_tags i18n %}

{% block ic-content %}

<div class="container">
    <h1 class="docupage-title">{% trans 'About Discuss Data' %}</h1>

    {# project #}
    <div id="project">
        <h2 class="lp-section">{% trans "Project Description" %}</h2>
        <div>{{ page.project_description }}</div>
    </div>{# end project #}

    {# team #}
    <div id="team">
        <h2 class="lp-section">{% trans "Team" %}</h2>
        <div class="row">
        {% for member in page.team_member.all %}
            {% include "landingpage/_team_member_landing_page.html" with member=member %}
        {% endfor %}
        </div>
    </div>{# end team #}

    {# curators#}
    <div id="curators">
        <h2 class="lp-section">{% trans "Data Curators" %}</h2>
        {% get_curators_page as curators_page %}
        {% for block in curators_page.body %}
            {{ block }}
        {% endfor %}
    </div>

    {# advisory-board #}
    <div id="advisory-board">
        <h2 class="lp-section">{% trans "Advisory Board" %}</h2>
        {{ page.advisory_board | richtext }}
    </div>{# end advisory-board #}
</div>

{% endblock %}
