{% load static i18n compress%}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Discuss Data{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block metatags %}
    {% endblock %}

    <link rel="icon" type="image/svg+xml" href="{% static 'images/logo-sm-primary.svg' %}" sizes="any">

    {% block css %}


    <!-- Your stuff: Third-party CSS libraries go here -->
    {% compress css %}
    <!-- This file stores project-specific CSS -->

    <link href="{% static 'css/project.css' %}" rel="stylesheet">


    {% endcompress %}
    {% endblock %}
    <!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.12.0/dist/sortable.umd.js" integrity="sha256-5fXAU9N22Tec41bUvuStMzIywttdqVlleaOm24H5rGw=" crossorigin="anonymous"></script>
    {% block javascript %}
    <!-- Vendor dependencies bundled as one file-->
    {% compress js %}
      <script src="{% static 'js/vendors.js' %}"></script>
      {% endcompress %}

      <!-- place project specific Javascript in this file -->
      {% compress js %}
      <script src="{% static 'js/project.js' %}"></script>
      {% endcompress %}
    {% endblock javascript %}
  </head>

  <body id="top" data-spy="scroll" data-target=".navbar" data-offset="50">
    <header>
    {# main navigation #}
    {% block nav %}
      {% include "nav-top.html" %}
      {# messages #}
    {% endblock nav %}
    {# end main navigation #}
    </header>

    {% if request.user.show_first_steps %}
      <div ic-get-from="{% url 'ddusers:first_steps' %}" ic-trigger-on="load"></div>
      {# {% include 'ddusers/first_steps.html' %} #}
    {% endif %}

    {# main container #}
    <div class="container">
      {# sidebar nav #}
        <nav class="d-none d-xl-block sidebar">
          <div class="sidebar-sticky">
            {% include 'nav-sidebar.html' with editmode=editmode %}
          </div>
        </nav>
      {# sidebar nav end #}

    <div class="sidebar-shift">
      <div id="content">
        {# messages #}
        {% include 'core/_messages.html' with cssid="messages" %}
        {# messages end #}

        {% block content %}
        {% block ic-content %}


        {% endblock ic-content %}
        {% endblock content %}
      </div>
    </div>



    {# end main container #}
  </div>
    {# Footer #}
      {% include "footer.html" %}
    {# end footer #}


  </body>
</html>
