{% load static i18n compress%}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Discuss Data{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block metatags %}
    {% endblock %}

    <link rel="icon" type="image/svg+xml" href="{% static 'images/logo-sm-primary.svg' %}" sizes="any">

    {% block css %}


    <!-- Your stuff: Third-party CSS libraries go here -->
    {% compress css %}
    <!-- This file stores project-specific CSS -->

    <link href="{% static 'css/project.css' %}" rel="stylesheet">


    {% endcompress %}
    {% endblock %}
    <!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.12.0/dist/sortable.umd.js" integrity="sha256-5fXAU9N22Tec41bUvuStMzIywttdqVlleaOm24H5rGw=" crossorigin="anonymous"></script>
    {% block javascript %}
    <!-- Vendor dependencies bundled as one file-->
    {% compress js %}
      <script src="{% static 'js/vendors.js' %}"></script>
      {% endcompress %}

      <!-- place project specific Javascript in this file -->
      {% compress js %}
      <script src="{% static 'js/project.js' %}"></script>
      {% endcompress %}
    {% endblock javascript %}
  </head>

  <body>
    <header>
    {# main navigation #}
    <nav class="navbar navbar-light fixed-top flex-md-nowrap p-0 border-bottom navbar-expand-sm" id="navbar-top">
      <a class="navbar-brand px-3" href="{% url 'core.landing_page' %}"><img class="navbar-logo" src="{% static 'images/logo-primary.svg' %}" /></a>

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    </header>

    {# main container #}
    <div class="container">
      <div id="content">
      {% block content %}
      {% endblock content %}
      </div>
    </div>

    {# end main container #}

    {# Footer #}
      {% include "footer.html" %}
    {# end footer #}


  </body>
</html>
