{% load static i18n compress wagtailcore_tags %}
<footer class="footer no-gutters">
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-md-auto">
                <a href="https://www.dfg.de" target="_blank" rel="noreferrer noopener">
                    <img class="footer-logo" src="{% static 'images/dfg_logo_en.png' %}" />
                </a>
            </div>
            <div class="col-md-auto">
                <a href="https://forschungsstelle.uni-bremen.de">
                    <img class="footer-logo" src="{% static 'images/fso-logo.png' %}" />
                </a>
            </div>
            <div class="col-md-auto">
                <a href="https://www.sub.uni-goettingen.de/" target="_blank" rel="noreferrer noopener">
                    <img class="footer-logo" src="{% static 'images/sub-logo.svg' %}" />
                </a>
            </div>
        </div>



            {% comment %} <div class="col-md-auto">
                <a href="https://de.dariah.eu/en/home" target="_blank" rel="noreferrer noopener">
                    <img class="footer-logo" src="{% static 'images/dariah-de.svg' %}" />
                </a>
            </div> {% endcomment %}
        <div class="text-primary text-center">
                <ul class="nav p-3 footer-nav justify-content-center align-items-center text-center">
                    <li class="nav-item p-3">
                        <a href="{% slugurl 'terms-and-conditions' %}#terms-and-conditions">{% trans "Terms and Conditions" %}</a>
                    </li>
                    <li class="nav-item p-3">
                        <a href="{% slugurl 'privacy-policy' %}#privacy-policy">{% trans "Privacy Policy" %}</a>
                    </li>
                    <li class="nav-item p-3">
                        <a href="{% slugurl 'imprint' %}#imprint">{% trans "Imprint" %}</a>
                    </li>
                    <li class="nav-item p-3">
                        <a href="{% slugurl 'disclaimer' %}#disclaimer">{% trans "Disclaimer" %}</a>
                    </li>
                </ul>
        </div>
    </div>

    <div class="container-fluid no-padding">
        <div class="text-primary text-center text-wrap footer-copyright">
        © {% now "Y" %} {% trans "Research Centre for East European Studies at the University of Bremen and Göttingen State and University Library. All Rights Reserved." %}
        </div>
    </div>
</footer>
