



{% extends request.is_intercooler|yesno:"blank.html,base.html" %}

{% load allauth socialaccount static i18n %}

{% block ic-content %}

<div class="container">
    <h1 class="docupage-title">{% trans 'Chose your login' %}</h1>
    <div class="row">
        {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}

        {% for provider in socialaccount_providers %}
            {% if provider.id == "openid" %}
                {% for brand in provider.get_brands %}
                    {% provider_login_url provider openid=brand.openid_url process=process as href %}
                    {% element provider name=brand.name provider_id=provider.id href=href %}
                    {% endelement %}
                {% endfor %}
            {% endif %}
            <div class="col">
                <div class="card align-middle mt-4" style="height: 18rem; width: 20rem">
                    <img
                    src="{% static provider.app.settings.logo_src %}"
                    alt="{{ provider.app.name }}"
                    />
                    <div class="card-body">
                        <p>{{ provider.app.settings.description }}</p>
                        {% provider_login_url provider process=process scope=scope auth_params=auth_params as href %}
                        {% element form method="post" no_visible_fields=True action=href %}
                            {% slot actions %}
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary stretched-link">
                                    {% trans "Sign In" %}
                                </button>
                            {% endslot %}
                        {% endelement %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
        <div class="col">
            <div class="card p-4 align-middle mt-4" style="height: 18rem; width: 20rem">
                <img
                src="{% static "images/logo-primary.svg" %}"
                alt="{% trans "Discuss Data" %}"
                />
                <div class="card-body">
                    <p><span class="text-danger">{% trans "NEW:" %}</span> {% trans "A local account as an alternative option for those who experience problems with the default login "%}</p>
                    <a id="log-in-link" class="btn btn-primary" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
