{% load static i18n wagtailcore_tags activeurl core_tags compress %}

<nav class="navbar navbar-light fixed-top flex-xl-nowrap p-0 border-bottom navbar-expand-xl" id="navbar-top">
    <a class="navbar-brand px-3" href="{% url 'core.landing_page' %}"><img class="navbar-logo" src="{% static 'images/logo-primary.svg' %}" /></a><a class="badge badge-primary badge-middle" href="{% slugurl 'beta-version' %}">BETA</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="input-group w-50 mx-auto">
            <input class="form-control search-top search-ui" type="text" {% if query %}value="{{ query }}" {% else %}placeholder="Search"{% endif %} name="q"  aria-label="Search">
            <div class="input-group-append">
                <button class="input-group-text search-button-top" type="button" ic-include=".search-data" ic-push-url="true" ic-push-params="q,countries,categories" ic-get-from="{% url 'dddatasets:search' %}" ic-target="#content"><span class="i-search-md"></span></button>
            </div>
        </div>

        <ul class="navbar-nav ml-auto">
            <span class="d-xl-none">{% include '_nav-menu.html' %}</span>

            <li class="nav-item d-none d-xl-block">
                <a class="nav-link" href="{% slugurl 'discuss-data-help' %}">{% trans "Help" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core.about_page' %}">{% trans "About" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core.contacts_page' %}">{% trans "Contact" %}</a>
            </li>

            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a id="log-in-link" class="nav-link" href="/accounts/logout/">{% trans "Sign out" %}</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a id="log-in-link" class="nav-link" href="{% url 'core.login_page' %}">{% trans "Sign In" %}</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a id="log-in-link" class="nav-link" href="https://twitter.com/discussd" target="_blank"><img height="20" src="{% static 'images/twitter_blue.svg' %}" /></a>
            </li>
        </ul>
    </div>
</nav>
