
<div id="access-request-div">
    <button class="btn btn-primary" ic-post-to="{% url add_url object.uuid %}" ic-target="#access-request-div" ic-on-beforeSend="xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');">{{ btn_text }}</button>
</div>