{% load static i18n %}

<div class="card smallskip category-card flex-fill">
    <div class="card-body">
        <div class="media">
            <div class="media-body align-items-center">
                <div class="row">
                    <div class="col-8">
                        {% if notfound %}
                            <p>{% trans notfound %}</p>
                        </div>
                        {% else %}
                            <h2 class="mt-0">{{ object.short_name }}</h2>
                            <div class="smallskip">
                                {{ object.shortname }} – {{ object.name }} ({{object.country}})
                            </div>
                        </div>
                        <div class="col-2">
                            {% if card_type == 'search' %}
                            <form>
                                {% csrf_token %}
                                <input type="hidden" id="archive-id" name="archive_id" value="{{ object.id }}" />
                                <button type="button" class="btn btn-primary" include="#archive-uuid{{ archivalsignature.uuid}}" ic-post-to="{% if archivalsignature %}{% url 'dddatasets:prep_edit_archive_add' ds.uuid archivalsignature.uuid %}{% else %}{% url 'dddatasets:prep_edit_archive_add' ds.uuid %}{% endif %}" ic-target="#archival-signature-edit-{{ archivalsignature.uuid}}" data-toggle="collapse" data-target="#archival-signature-edit-{{ archivalsignature.uuid}}" aria-expanded="false" aria-controls="archival-signature-edit-{{ archivalsignature.uuid}}">{% trans "Choose" %}</button>
                            </form>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>