{% load static i18n %}

{% if elem.archive.url %}<a href="{{ elem.archive.url }}" target="_blank">{% endif %}<span title="{{ elem.archive.name }}">{{ elem.archive.short_name }}{% if elem.archive.url %}</a>{% endif %} {% if elem.url %}<a href="{{ elem.url }}" target="_blank">{% endif %}f. {{ elem.fond }}{% if elem.opis %} op. {{ elem.opis }}{% endif %} {% if elem.delo %}d. {{ elem.delo }}{% endif %} {% if elem.list %}l. {{ elem.list }}{% endif %}{% if elem.url %}</a>{% endif %}