{% load static i18n %}

<div class="card content-bg smallskip">
    <div class="card-body">
        <div class="media">
            <div class="media-body align-items-center">
                <div class="row">
                    <div class="col-10">
                        <h5 class="mt-0">{{ archivalsignature.archive.name }} ({{ archivalsignature.archive.country }})<br> {{ archivalsignature.html }}
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#confirmModal{{archivalsignature.uuid}}" ic-target="#confirmModal-target-span" title="{% trans "Delete" %}">
                            {% trans "Delete" %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>