{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets.html" %}

{% block content-class %}class="col-md-12"{% endblock content-class %}

{% block ic-content %}
    <div id="ds-content" ic-history-elt=""></div>

    {% block comments %}
    {% comment %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="comment-block">
                    {% include "ddcomments/_comment_block_load.html" with add_url='dddatasets:prep_edit_comment' list_url='dddatasets:prep_comments' object_uuid=ds.uuid %}
                </div>
            </div>
        </div>
    </div>
    {% endcomment %}
    {% endblock comments %}

{% block sidebar%}{% endblock sidebar %}

{% endblock ic-content %}




