{% extends request.is_intercooler|yesno:"blank.html,base.html" %}


{% load static %}
{% load i18n %}


{% block title %}{{ ds.get_fulltitle }}{% endblock %}

{% block metatags %}
    {% include "dddatasets/_metatags.html" with ds=ds %}
{% endblock %}


{% block content %}
<div class="row">
    <div {% block content-class %}class="col-md-9"{% endblock content-class %}>
        <div class="panel panel-default">
            <div class="panel-body">
                {% block ic-content %}
                <div ic-get-from="{# {% url 'ic_get_dataset_info' ds.uuid %} #}" ic-trigger-on="load"></div>
                <div id="ds-content" ic-history-elt="">
                </div>
                {% endblock ic-content %}
            </div>
        </div>

        {% block comments %}
        {% endblock comments %}
    </div>
</div>
{% endblock content %}


