{% load static i18n %}

<div class="card smallskip category-card flex-fill">
    <div class="card-body">
        <div class="media">
            <div class="media-body align-items-center">
                <div class="row">
                    <div class="col-12">
                        <h2 class="mt-0"><a href="{% url "category_page" category.slug %}">{{ category.name }}</a></h2>

                        <div class="smallskip">
                            {% trans "Curated by" %}:

                            {% for user in category.curators.all %}
                                {% include 'ddusers/_user-image.html' with user_uuid=user.uuid user_photo=user.photo height=30 %}
                                <a href="{% url 'ddusers:detail' user.uuid %}">{{ user.get_academic_name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </div>

                        <p>{{ category.description }}</p>

                        {% if category.sponsor %}
                            <p>{% trans 'Sponsor' %}: {{ category.sponsor }}</p>
                        {% endif %}

                        <p><a href="{% url "category_page" category.slug %}">{{ category.get_published_datasets_category_all_count }} datasets</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>