<h1>Description & Metadata</h1>

<table class="table table-striped">
    <tbody>
        {% include 'dddatasets/_table_rows.html' with objects=detail %}
        {% include 'dddatasets/_table_rows.html' with objects=metadata %}
        <tr>
            <td>Countries</td>
            <td>{{ ds.get_countries_list }}</td>
        </tr>
        <tr>
            <td>Keyword tags</td>
            <td>{{ ds.get_keyword_tags_list }}</td>
        </tr>
    </tbody>
</table>