{% load static i18n %}

<div id="data-list-accordion">
    <div class="card content-bg smallskip">
        <div class="card-header" id="data-list-header-{{data_list.uuid}}">
            <div class="media">
                <div class="media-body align-items-center">
                    <div class="row">
                        <div class="col-1">
                            <span class="i-list-md datalist" aria-hidden="true"></span>
                        </div>
                        <div class="col-9">
                            <h2>
                                <a class="btn btn-link" data-toggle="collapse" href="#data-list-{{data_list.uuid}}" role="button" aria-expanded="false" aria-controls="data-list-{{ data_list.uuid }}">{{ data_list.name }}
                                </a>
                            </h2>
                        </div>
                        <div class="col-2">
                            {% if data_list.public %}
                                {% if edit_mode %}
                                  <span class="badge badge-pill badge-success badge-tag">{% trans "public" %}</span>
                                {% else %}
                                  {% include 'ddusers/_follow_button.html' with object=data_list follow_url='ddusers:datalist_follow' follow_text='Follow' %}
                                {% endif %}
                            {% else %}
                                <span class="badge badge-pill badge-primary badge-tag">{% trans "private" %}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="data-list-{{data_list.uuid}}" class="collapse" aria-labelledby="data-list-header-{{data_list.uuid}}" data-parent="#data-list-accordion">
            <div class="card-body">
            <p>{{ data_list.description }}</p>
            <table class="table">
              <tbody ic-target="closest tr">
              {% for dataset in data_list.datasets.all %}
                  <tr>
                    <td><a href="{{ dataset.get_absolute_url }}">{{ dataset }}</a></td>
                    {% if edit_mode %}
                    <td>
                      <form id="ds-{{dataset.uuid}}-delete-from-{{data_list.uuid}}">
                        <input type="hidden" name="ds_uuid" value="{{dataset.uuid}}">
                        <input type="hidden" name="dl_uuid" value="{{data_list.uuid}}">
                        <input type="hidden" name="form_type" value="table">
                        <button class="btn btn-danger" ic-delete-from="{% url 'ddusers:dataset_to_list' %}" ic-on-beforeSend="xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');">{% trans 'Remove from list' %}</button>
                      </form>
                    </td>
                    {% endif %}
                  </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>
        </div>
    </div>
</div>