{% load static i18n core_tags %}
<div class="card smallskip usercard">
    <div class="card-body">
        <div class="media">
            <div class="media-body row align-items-center">
                <div class="col-12">
                    <div class="row smallskip">
                        <div class="col-12" >
                            <p class="slim float-left">
                                {{ dataset.get_dataset_type_display }}
                                <div class="pl-4 text-right">
                                    {% if prep %}
                                        {% if dataset.published %}
                                            <span class="badge badge-success">{% trans 'Published' %}</span>
                                        {% else %}
                                            <span class="badge badge-private">{% trans "Not published" %}</span>
                                        {% endif %}
                                    {% endif %}
                                    <span class="badge badge-{{ dataset.data_access }}">{{ dataset.get_data_access_display }}</span>
                                    {% if dataset.data_access == "RA" and dataset|user_has_restricted_access:request.user %}
                                        <span class="badge badge-success">{% trans 'Access granted' %}</span>
                                    {% endif %}
                                    <span class="badge badge-secondary">v{{ dataset.version }}</span>
                                    {% if dataset.data_access == "RA" and dataset|user_has_restricted_access:request.user %}
                                        <span class="badge badge-success">{% trans 'Access granted' %}</span>
                                    {% endif %}
                                </div>
                            </p>
                            <h4 class="mt-0">
                                <a href="{% if prep %}{% url 'dddatasets:prep_edit' dataset.uuid %}{% else %}{% url 'dddatasets:detail' dataset.uuid %}{% endif %}">{{dataset.title}}</a>
                            </h4>
                            {% if dataset.subtitle %}<h5 class="media-heading slim">{{ dataset.subtitle }}</h5>{% endif %}
                        </div>
                    </div>

                    {% if userpage %}
                        <div class="smallskip">{{ dataset.publication_date }}</div>
                    {% else %}
                    <div class="row smallskip">
                        <div class="col-lg-1 col-2">
                            {% include 'ddusers/_user-image.html' with user_uuid=dataset.owner.uuid user_photo=dataset.owner.photo %}
                        </div>
                        <div class="col-lg-7 col-10">
                            {{ dataset.owner.get_academic_name }}<br>
                            {% if dataset.publication_date %}{{ dataset.publication_date }}{% else %}{% trans "Created at" %} {{ dataset.created_at }}{% endif %}
                        </div>
                        <div class="col-lg-4 text-right">
                            <span class="i-label-md icon-middle"></span> <b><a href="{% url "category_page" dataset.get_main_category.slug %}">{{ dataset.get_main_category }}</a></b>
                            {% if dataset.get_categories %} <br>
                                <span class="i-labels-md icon-middle"></span> {% for field in dataset.get_categories.all %}<a href="{% url "category_page" field.slug %}">{{ field|title }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <p class="dataset-buttons">
                            <a href="{% if prep %}{% url 'dddatasets:prep_edit' dataset.uuid %}#comment-block{% else %}{% url 'dddatasets:discuss' dataset.uuid %}{% endif %}"><button type="button" class="btn btn-outline-primary align-middle">{% trans 'Discuss' %}</button></a>
                            {% if prep %}
                                <a href="{% url 'dddatasets:prep_edit' dataset.uuid %}"><button type="button" class="btn btn-outline-primary align-middle">{% trans 'Edit' %}</button></a>
                            {% endif %}
                            {% if prep %}
                                {% if dataset.published %}
                                    <a href="{% url 'dddatasets:detail' dataset.uuid %}"><button type="button" class="btn btn-outline-primary align-middle">{% trans 'View' %}</button></a>
                                {% endif %}
                            {% endif %}

                            {% if dataset.published %}
                                <button class="btn btn-primary p-1" type="button" data-toggle="collapse" data-target="#data-list-listing-{{dataset.uuid}}" aria-expanded="false" aria-controls="data-list-listing-{{dataset.uuid}}">
                                    {% trans "Add to list" %}
                                </button>

                            <div class="collapse" id="data-list-listing-{{dataset.uuid}}">
                                <div class="card card-body border-0">
                                    <h5>{% trans 'Your Lists' %}</h5>
                                    {% for data_list in request.user.get_lists_all %}
                                        <form id="ds-{{dataset.uuid}}-to-{{data_list.uuid}}">
                                        {% csrf_token %}
                                            <input type="hidden" name="ds_uuid" value="{{dataset.uuid}}">
                                            <input type="hidden" name="dl_uuid" value="{{data_list.uuid}}">
                                            <input type="hidden" name="form_type" value="card">
                                            <span id="ds-{{dataset.uuid}}-to-{{data_list.uuid}}-button">
                                            {% if dataset in data_list.datasets.all %}
                                                {% include 'ddusers/_datalist_button.html' with datalist=data_list dataset=dataset btn_mode="add" %}
                                            {% else %}
                                                {% include 'ddusers/_datalist_button.html' with datalist=data_list dataset=dataset btn_mode="delete" %}
                                            {% endif %}
                                            </span>
                                        </form>
                                    {% endfor %}
                                </div>
                            </div>
                        </p>

                                {% if not dataset.owner == request.user %}
                                    {% include 'ddusers/_follow_button.html' with object=dataset follow_url='dddatasets:follow' follow_text='Follow' %}
                                {% endif %}
                            {% endif %}

                    </div>
                </div>
                <div class="col-4">
                    {{ dataset.categories }}
                </div>
            </div>
        </div>
    </div>
</div>
