{% load static i18n core_tags hitcount_tags %}

<div class="row">
    <div class="col-md-12 datasetheader">
        <p class="slim float-left">
            {{ ds.get_dataset_type_display }}
            <div class="pl-4 text-right">
                <span class="badge badge-{{ ds.data_access }}">{{ ds.get_data_access_display }}</span>
                {% if ds.data_access == "RA" and ds|user_has_restricted_access:request.user %}
                    <span class="badge badge-success">fsdfsdf{% trans 'Access granted' %}</span>
                {% endif %}
                <img src="{% static 'images/eye-icon.svg' %}" width="22" alt="Views icon" title="Dataset views (since November 2024)"> {% get_hit_count for ds %}
            </div>
        </p>
        <h1>{{ ds.title }}</h1>
        {% if ds.subtitle %}<h2 class="slim">{{ds.subtitle}}</h2>{% endif %}
        <p>
            {% trans "Version" %} {{ ds.version }}, {% trans 'published' %}: {{ ds.publication_date }}.



        </p>
        <p>
            {% if not ds.is_top_pub_version %}
            <a href="{% url 'dddatasets:detail' ds.get_top_pub_version.uuid %}" class="font-italic">{% trans "Note: A newer version of this dataset has been published" %} <span class="badge badge-primary">Version {{ ds.get_top_pub_version.version }}</span></a>
            {% endif %}
        </p>
        <p>
            {% include 'ddusers/_user-image.html' with user_uuid=ds.owner.uuid user_photo=ds.owner.photo height=30 %}
            <a href="{% url "ddusers:detail" ds.owner.uuid %}">{{ ds.owner.get_academic_name }}</a>
        </p>
        <div class="smallskip">
            <button id="discuss-button" class="btn btn-outline-primary align-middle float-left" ic-get-from="{% url 'dddatasets:discuss' ds.uuid %}" ic-target="#ds-content" ic-push-url="true">{% trans "Discuss" %}</button>

            {% if not ds.owner == request.user %}
                {% include 'ddusers/_follow_button.html' with object=ds follow_url='dddatasets:follow' follow_text='Follow' %}
            {% else %}
               <a href="{{ ds.get_absolute_url_prep }}"  class="btn btn-outline-primary align-middle float-left">Edit</a>
            {% endif %}<br>

        </div>

        <div class="smallskip">
            <span class="i-label-md icon-middle"></span> {% trans "Main category" %}: <a href="{% url "category_page" ds.get_main_category.slug %}">{{ ds.get_main_category }}</a>
        </div>

        <div class="smallskip">
            <span class="i-glasses-md icon-middle"></span> {% trans "Curated by" %}:
            <a href="{% url 'ddusers:detail' ds.publication_accepted_by.uuid %}">{{ ds.publication_accepted_by }}</a>
        </div>
        <div class="smallskip">
            {% if ds.prev_owner_dataset.all.count > 0 %}{% trans "Dataset ownership has been transferred. Previous users: " %}{% for dspo in ds.prev_owner_dataset.all %}<a href="{% url "ddusers:detail" dspo.user.uuid %}">{{ dspo.user.get_academic_name }}</a> ({% trans "until" %} {{ dspo.until }}){% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}
        </div>

        {% if ds.get_categories %}
        <div class="smallskip">
            <span class="i-labels-md icon-middle"></span> {% trans "Additional categories" %}: {% for field in ds.get_categories.all %}<a href="{% url "category_page" field.slug %}">{{ field|title }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
        </div>
        {% endif %}

    </div>
    {% comment %}
    <div class="col-md-4">
        <img src="{% static "images/ds-default.svg" %}" height="160rem"/>
    </div>
    {% endcomment %}
</div>
<div class="row">
    <div class="col-md-12">
        {% include 'dddatasets/_dataset_citation.html' with ds=ds %}
    </div>
    <div class="col-md-12">
        {# dataset nav #}
        {% block dataset-nav %}
            {% include 'dddatasets/_nav_datasets.html' with ds=ds type=type %}
        {% endblock dataset-nav %}
    </div>
</div>
