{% load static i18n %}

<div class="card data-citation smallskip">
    <div class="row">
        <div class="col-md-1">
            <img src="{% static "images/citation.svg" %}" height="30rem"/>
        </div>
        <div class="col-md-11">
            {{ ds.get_data_citation|urlize }}
        </div>
    </div>
</div>