{% load static i18n core_tags hitcount_tags %}

<div class="card content-bg smallskip {% if filename == "RA" %}border-restricted{% endif %}">
    <div class="card-body">
        <div class="media">
            <div class="media-body align-items-center">
                <div class="row">
                    <div class="col-2">
                        <span class="fileicon">
                        {% if accesstype == "restricted" %}
                            <span class="i-lock-md"></span>
                        {% else %}
                            {% if fileicon == "pdf" %}
                                <i class="far i-file-pdf-md"></i>
                            {% elif fileicon == "zip" %}
                                <i class="far fa-file-archive"></i>
                            {% else %}
                                <i class="far {{ fileformat|get_file_icon }}"></i>
                            {% endif %}
                        {% endif %}
                        </span>
                        <br>
                        {% if filename == "RA" %}
                            <a href="{% url 'core.login_page' %}">
                                <span class="pt-2 pl-2 text-center hitcount"><img src="{% static 'images/download-icon.svg' %}" width="16" alt="Downloads icon" title="File downloads (since November 2024)"> {{ filehc }}</span>
                            </a>
                        {% else %}
                            <a href="{% if fileuuid %}{% url fileurl dsuuid fileuuid %}{% else %}{% url fileurl dsuuid %}{% endif %}">
                                <span class="pt-2 pl-2 text-center hitcount"><img src="{% static 'images/download-icon.svg' %}" width="16" alt="Downloads icon" title="File downloads (since November 2024)"> {{ filehc }}</span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-7">
                        <h5 class="mt-0">{% if accesstype == "restricted" %}{% trans 'Restricted Access: Access to the data files of this dataset is restricted and can be requested from the dataset owner.' %}{% else %}<a href="{% if fileuuid %}{% url fileurl dsuuid fileuuid %}{% else %}{% url fileurl dsuuid %}{% endif %}">{{ filename }}</a>{% endif %}</h5>

                        <p class="small">
                            {% if fileformat %}Format: {{ fileformat }}<br>{% endif %} {% if filesize %}Size: {{ filesize|filesizeformat }}{% endif %}
                        </p>
                    </div>
                    <div class="col-3">
                    {% if filename == "RA" %}
                        {% if request.user.is_authenticated %}
                            <button class="btn border-gray smallskip" disabled>{{ filetype }}</button>
                            <a href="#access" class="btn btn-primary">{% trans 'Request Access' %}</a>
                        {% else %}
                            <a class="btn btn-primary" href="{% url 'core.login_page' %}">{% trans 'Sign In to Request Access' %}</a>
                        {% endif %}
                    {% else %}
                        <a href="{% if fileuuid %}{% url fileurl dsuuid fileuuid %}{% else %}{% url fileurl dsuuid %}{% endif %}" class="btn border-gray">{{ filetype }}</a>
                    {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
