{% load static i18n core_tags wagtailcore_tags %}


<button class="btn btn-link manpage no-padding" type="button" data-toggle="collapse" data-target="#collapseHelpText-{{ manpage.id }}" aria-expanded="false" aria-controls="collapseHelpText-{{ manpage.uuid }}"><span class="i-help-md"></span></button>

<div class="collapse collapse-help-text" id="collapseHelpText-{{ manpage.id }}">
    {# <span id="hint_{{ key }}">{{ help_texts|get_value:key|richtext }}</span> #}
    {% for block in manpage.body %}
        <div>
            {% if block.value.heading %}{{ block.value.heading }}: {% endif %}{{ block.value.paragraph }}
        </div>
    {% endfor %}

    <p><a href="{{ manpage.url }}#{{ manpage.slug }}" target="_blank">Open the manual page <i>{{ manpage.title }}</i> in new window</a></p>
</div>
