{% if ds %}

{# Dublin Core #}

<meta name="DC.title" content="{{ ds.get_fulltitle }}" />
{% for creator in ds.get_creators %}
<meta name="DC.creator" content="{% if creator.type == 'PER' %}{% if creator.first_name %}{{ creator.first_name }}{% endif %} {{ creator.name}}{% else %}{{ creator.name}}{% endif %}" />
{% endfor %}
{% if ds.get_keyword_tags %}
<meta name="DC.subject" content="{% for tag in ds.get_keyword_tags %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}" />
{% endif %}
<meta name="DC.description" content="{{ ds.description }}" />
<meta name="DC.publisher" content="discuss-data.net" />
<meta name="DC.date" content="{{ ds.publication_date|date:'d/m/Y' }}" />
<meta name="DC.type" content="dataset" />
<meta name="DC.format" content="118 p." />
<meta name="DC.identifier" content="{{ ds.doi }}" />
<meta name="DC.source" content="{{ ds.get_absolute_url }}" />

{# Highwire Press #}
<meta name="citation_title" content="{{ ds.get_fulltitle }}">
<meta name="citation_date" content="{{ ds.publication_date|date:'d/m/Y' }}">
<meta name="citation_volume" content="">
<meta name="citation_series_title" content="">
<meta name="citation_dissertation_institution" content="">
<meta name="citation_publisher" content="discuss-data.net">
<meta name="citation_abstract" content="{{ ds.description }}">
<meta name="citation_public_url" content="{{ ds.get_absolute_url }}">
{% for creator in ds.get_creators %}
<meta name="citation_author" content="{% if creator.type == 'PER' %}{% if creator.first_name %}{{ creator.first_name }}{% endif %} {{ creator.name}}{% else %}{{ creator.name}}{% endif %}">
{% endfor %}
{% if ds.get_keyword_tags %}
<meta name="citation_keywords" content="{% for tag in ds.get_keyword_tags %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}">
{% endif %}
<meta name="citation_lastpage" content="">
<meta name="citation_doi" content="{{ ds.doi }}">




{% endif %}