{% load static i18n %}

<dl>
  <dt>
    {% trans 'Title' %}:
  </dt>
  <dd>{{ ds.title }}</dd>

  <dt>
    {% trans 'Subtitle' %}:
  </dt>
  <dd>{% if subtitle %}{{ ds.subtitle }}{% else %} – {% endif %}</dd>

  <dt>
    {% trans 'Version' %}:
  </dt>
  <dd>{{ ds.version }}</dd>

  <dt>
    {% trans 'Creators' %}:
  </dt>
  <dd>
    {% for elem in ds.get_creators %}
      {{ elem }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </dd>

  <dt>
    {% trans 'Uploaded by' %}:
  </dt>
  <dd>{{ ds.owner.get_academic_name }}</dd>

  <dt>
    {% trans 'Main Category' %}:
  </dt>
  <dd>{{ ds.published_main_category }}</dd>

  <dt>
    {% trans 'Additional Categories' %}:
  </dt>
  <dd>
    {% if not ds.published_categories.all %} – {% endif %}
    {% for elem in ds.published_categories.all %}
      {{ elem }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </dd>

  <dt>
    {% trans 'Institutional Affiliation' %}:
  </dt>
  <dd>{% if ds.institutional_affiliation %}{{ ds.institutional_affiliation|linebreaks|urlize|safe }}{% else %} – {% endif %}</dd>

  <dt>
    {% trans 'Publication date' %}:
  </dt>
  <dd>{{ ds.publication_date }}</dd>

  <dt>
    {% trans 'Period of data creation/gathering' %}:
  </dt>
  <dd>
    {% if ds.date_of_data_creation_from %}
      from {{ ds.date_of_data_creation_from }}
    {% endif %}
    {% if ds.date_of_data_creation_to %}
      to {{ ds.date_of_data_creation_to }}
    {% endif %}
  </dd>

  <dt>
    {% trans 'Date of data creation (text)' %}:
  </dt>
  <dd>{% if ds.date_of_data_creation_text %}{{ ds.date_of_data_creation_text }}{% else %} – {% endif %}</dd>

  <dt>
    {% trans 'Time period covered' %}:
  </dt>
  <dd>
    {% if ds.time_period_from %}
      from {{ ds.time_period_from }}
    {% endif %}
    {% if ds.time_period_to %}
      to {{ ds.time_period_to }}
    {% endif %}
  </dd>

  <dt>
    {% trans 'Time period covered (text)' %}:
  </dt>
  <dd>{% if ds.time_period_text %}{{ ds.time_period_text }}{% else %} – {% endif %}</dd>

  <dt>
    {% trans 'Sources of data' %}:
  </dt>
  <dd>{% if ds.sources_of_data %}{{ ds.sources_of_data|linebreaks|urlize|safe }}{% else %} – {% endif %}</dd>

  <dt>
    {% trans 'Archival Record IDs' %}:
  </dt>
  <dd>
    {% if not ds.get_archival_signatures.all %} – {% endif %}
    {% for elem in ds.get_archival_signatures.all %}
      {{ elem.html }}{% if not forloop.last %}
        <br />
      {% endif %}
    {% endfor %}
  </dd>

  <dt>
    {% trans 'License' %}:
  </dt>
  <dd>{% if ds.license %}{{ ds.license }}{% else %} – {% endif %}</dd>

  <dt>
    {% trans 'Data types' %}:
  </dt>
  <dd>
    {% for elem in ds.datatypes.all %}
      {{ elem }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </dd>

  <dt>
    {% trans 'Data type (text)' %}:
  </dt>
  <dd>{% if ds.datatype_text %}{{ ds.datatype_text }}{% else %} – {% endif %}</dd>

  <dt>
    {% trans 'Countries' %}:
  </dt>
  <dd>
    {% if not ds.countries.all %} – {% endif %}
    {% for elem in ds.countries.all %}
      {{ elem }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </dd>

  <dt>
    {% trans 'Languages' %}:
  </dt>
  <dd>
    {% if not ds.languages.all %} – {% endif %}
    {% for elem in ds.languages_of_data.all %}
      {{ elem }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </dd>

  <dt>
    {% trans 'Disciplines' %}:
  </dt>
  <dd>
    {% if not ds.get_disciplines_tags.all %} – {% endif %}
    {% for elem in ds.get_disciplines_tags.all %}
      {{ elem }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </dd>

  <dt>
    {% trans 'Keywords' %}:
  </dt>
  <dd>
    {% if not ds.get_keyword_tags.all %} – {% endif %}
    {% for elem in ds.get_keyword_tags.all %}
      {{ elem }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </dd>

  <dt>
    {% trans 'Related datasets' %}:
  </dt>
  <dd>
    {% if not ds.related_dataset.all %} – {% endif %}
    {% for elem in ds.related_dataset.all %}
      {{ elem }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </dd>

  <dt>
    {% trans 'Related datasets (text)' %}:
  </dt>
  <dd>{% if ds.related_dataset_text %}{{ ds.related_dataset_text|linebreaks|urlize|safe }}{% else %} – {% endif %}</dd>

  <dt>
    {% trans 'Related publications' %}:
  </dt>
  <dd>
    {% if not ds.publications.all %} – {% endif %}
    {% for elem in ds.publications.all %}
      {{ elem.citation|urlize }}
      {% if not forloop.last %}
        <hr />
      {% endif %}
    {% endfor %}
  </dd>

  <dt>
    {% trans 'Related projects' %}:
  </dt>
  <dd>{% if ds.related_projects %}{{ ds.related_projects|linebreaks|urlize|safe }}{% else %} – {% endif %}</dd>

  <dt>
    {% trans 'Institutional affiliation' %}:
  </dt>
  <dd>{% if ds.institutional_affiliation %}{{ ds.institutional_affiliation|linebreaks|urlize|safe }}{% else %} – {% endif %}</dd>

  <dt>
    {% trans 'Funding' %}:
  </dt>
  <dd>{% if ds.funding %}{{ ds.funding|linebreaks|urlize|safe }}{% else %} – {% endif %}</dd>

  <dt>
    {% trans 'Methods of data collection' %}:
  </dt>
  <dd>
    {% if not ds.get_methods_of_data_collection_tags.all %} – {% endif %}
    {% for elem in ds.get_methods_of_data_collection_tags.all %}
      {{ elem }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </dd>

  <dt>
    {% trans 'Methods of data analysis' %}:
  </dt>
  <dd>
    {% if not ds.get_methods_of_data_analysis_tags.all %} – {% endif %}
    {% for elem in ds.get_methods_of_data_analysis_tags.all %}
      {{ elem }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </dd>
  {% if ds.zenodo_doi %}
  <dt>
    {% trans 'Zenodo Repository Entry' %}:
  </dt>
  <dd>
    <a href="{{ ds.get_zenodo_doi_url }}" target="_blank">{{ ds.get_zenodo_doi_url }}</a>
  </dd>
  {% endif %}
  {% if ds.dhdoi %}
  <dt>
    {% trans 'Dariah Repository Entry' %}:
  </dt>
  <dd>
    <a href="{{ ds.get_dhrep_doi_url }}" target="_blank">{{ ds.get_dhrep_doi_url }}</a>
  </dd>
  {% endif %}
</dl>

{% comment %} <table class="table table-striped">
  <tbody>
    <dt>
      {% trans 'Title' %}:
    </dt>
    <dt>{{ ds.title }}</dt>

    <dt>
      {% trans 'Subtitle' %}:
    </dt>
    <dt>{{ ds.subtitle }}</dt>

    <dt>
      {% trans 'Version' %}:
    </dt>
    <dt>{{ ds.version }}</dt>

    <dt>
      {% trans 'Creators' %}:
    </dt>
    <dt>
      {% for elem in ds.get_creators %}
        {{ elem }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </dt>

    <dt>
      {% trans 'Uploaded by' %}:
    </dt>
    <dt>{{ ds.owner.get_academic_name }}</dt>

    <dt>
      {% trans 'Main Category' %}:
    </dt>
    <dt>{{ ds.published_main_category }}</dt>

    <dt>
      {% trans 'Additional Categories' %}:
    </dt>
    <dt>
      {% for elem in ds.published_categories.all %}
        {{ elem }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </dt>

    <dt>
      {% trans 'Institutional Affiliation' %}:
    </dt>
    <dt>
      {% if ds.institutional_affiliation %}{{ ds.institutional_affiliation|linebreaks|urlize|safe }}{% endif %}
    </dt>

    <dt>
      {% trans 'Publication date' %}:
    </dt>
    <dt>{{ ds.publication_date }}</dt>

    <dt>
      {% trans 'Period of data creation/gathering' %}:
    </dt>
    <dt>
      {% if ds.date_of_data_creation_from %}
        from {{ ds.date_of_data_creation_from }}
      {% endif %}
      {% if ds.date_of_data_creation_to %}
        to {{ ds.date_of_data_creation_to }}
      {% endif %}
    </dt>

    <dt>
      {% trans 'Date of data creation (text)' %}:
    </dt>
    <dt>{{ ds.date_of_data_creation_text }}</dt>

    <dt>
      {% trans 'Time period covered' %}:
    </dt>
    <dt>
      {% if ds.time_period_from %}
        from {{ ds.time_period_from }}
      {% endif %}
      {% if ds.time_period_to %}
        to {{ ds.time_period_to }}
      {% endif %}
    </dt>

    <dt>
      {% trans 'Time period covered (text)' %}:
    </dt>
    <dt>{{ ds.time_period_text }}</dt>

    <dt>
      {% trans 'Sources of data' %}:
    </dt>
    <dt>{{ ds.sources_of_data|linebreaks|urlize|safe }}</dt>

    <dt>
      {% trans 'Archival Record IDs' %}:
    </dt>
    <dt>
      {% for elem in ds.get_archival_signatures.all %}
        {{ elem.html }}{% if not forloop.last %}
          <br />
        {% endif %}
      {% endfor %}
    </dt>

    <dt>
      {% trans 'License' %}:
    </dt>
    <dt>{{ ds.license }}</dt>

    <dt>
      {% trans 'Data types' %}:
    </dt>
    <dt>
      {% for elem in ds.datatypes.all %}
        {{ elem }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </dt>

    <dt>
      {% trans 'Data type (text)' %}:
    </dt>
    <dt>{{ ds.datatype_text }}</dt>

    <dt>
      {% trans 'Countries' %}:
    </dt>
    <dt>
      {% for elem in ds.countries.all %}
        {{ elem }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </dt>

    <dt>
      {% trans 'Languages' %}:
    </dt>
    <dt>
      {% for elem in ds.languages_of_data.all %}
        {{ elem }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </dt>

    <dt>
      {% trans 'Disciplines' %}:
    </dt>
    <dt>
      {% for elem in ds.get_disciplines_tags.all %}
        {{ elem }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </dt>

    <dt>
      {% trans 'Keywords' %}:
    </dt>
    <dt>
      {% for elem in ds.get_keyword_tags.all %}
        {{ elem }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </dt>

    <dt>
      {% trans 'Related datasets' %}:
    </dt>
    <dt>
      {% for elem in ds.related_dataset.all %}
        {{ elem }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </dt>

    <dt>
      {% trans 'Related datasets (text)' %}:
    </dt>
    <dt>{{ ds.related_dataset_text|linebreaks|urlize|safe }}</dt>

    <dt>
      {% trans 'Related publications' %}:
    </dt>
    <dt>
      {% for elem in ds.publications.all %}
        {{ elem.citation|urlize }}
        {% if not forloop.last %}
          <hr />
        {% endif %}
      {% endfor %}
    </dt>

    <dt>
      {% trans 'Related projects' %}:
    </dt>
    <dt>{{ ds.related_projects|linebreaks|urlize|safe }}</dt>

    <dt>
      {% trans 'Institutional affiliation' %}:
    </dt>
    <dt>{{ ds.institutional_affiliation|linebreaks|urlize|safe }}</dt>

    <dt>
      {% trans 'Funding' %}:
    </dt>
    <dt>{{ ds.funding|linebreaks|urlize|safe }}</dt>

    <dt>
      {% trans 'Methods of data collection' %}:
    </dt>
    <dt>
      {% for elem in ds.get_methods_of_data_collection_tags.all %}
        {{ elem }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </dt>

    <dt>
      {% trans 'Methods of data analysis' %}:
    </dt>
    <dt>
      {% for elem in ds.get_methods_of_data_analysis_tags.all %}
        {{ elem }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </dt>
  </tbody>
</table> {% endcomment %}
