{% load i18n %}

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills navbar-right nav-datasets" ic-target="#ds-content" ic-push-url="true"> {# ic-select-from-response="#ds_content"> #}
            <li class="{% if type == "description" %}nav-active{% endif %}">
                <button class="btn btn-link btn-nav" ic-get-from="{% url 'dddatasets:detail' ds.uuid %}">{% trans "Description" %}</button>
            </li>
            <li class="{% if type == "metadata" %}nav-active{% endif %}">
                <button class="btn btn-link btn-nav" ic-get-from="{% url 'dddatasets:metadata' ds.uuid %}">{% trans "Metadata" %}</button>
            </li>
            <li class="{% if type == "files" %}nav-active{% endif %}">
                <button class="btn btn-link btn-nav" ic-get-from="{% url 'dddatasets:files' ds.uuid %}">{% trans "Files" %}</button>
            </li>
            <li class="{% if type == "publications" %}nav-active{% endif %}">
                <button class="btn btn-link btn-nav" ic-get-from="{% url 'dddatasets:publications' ds.uuid %}">{% trans "Publications" %}</button>
            </li>
            <li class="{% if type == "versions" %}nav-active{% endif %}">
                <button class="btn btn-link btn-nav" ic-get-from="{% url 'dddatasets:versions' ds.uuid %}">{% trans "Version History" %}</button>
            </li>
            <li class="{% if type == "discuss" %}nav-active{% endif %}">
                <button class="btn btn-link btn-nav" id="discuss-tab" ic-get-from="{% url 'dddatasets:discuss' ds.uuid %}">{% trans "Discuss" %}</button>
            </li>
        </ul>
    </div>
</div>
