{% load static i18n %}

<div class="card content-bg smallskip">
    <div class="card-body">
        <div class="media">
            <div class="media-body align-items-center">
                <div class="row">
                    <div class="col-sm-1 col-12">
                        <img src="{% static 'images/open-book.svg' %}" height="30rem" />
                    </div>
                    <div class="col-sm-11 col-12">
                        <p>{{ dspub.publication.citation|urlize }}</p>
                        <span class="badge badge-pill badge-primary badge-tag">{{ dspub.get_pub_type_display }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>