{% extends request.is_intercooler|yesno:"blank.html,base.html" %}
{% load static i18n core_tags %}

{% block title %}{{ pagetitle }}{% endblock %}

{% block content %}
{% block ic-content %}

    <h1>{% trans "Dicuss Data Categories" %}</h1>
    <div class="row">
    {% for category in categories %}
        <div class="col-lg-6 col-12 d-flex align-items-stretch">{% include "dddatasets/_category_card.html" with category=category %}</div>
    {% endfor %}
    </div>
{% endblock ic-content %}
{% endblock content %}


