{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets.html" %}
{% load static i18n %}

{% block ic-content %}

<div id="ds-content">
    {% include 'dddatasets/_dataset_header.html' with ds=object type='description' %}

    {# dataset content start #}
    <div class="row">
        <div class="col-md-12">
            <h2>{% trans "Description" %}</h2>
            <p>{{ object.description | linebreaks |urlize | safe }}</p>

            {% if object.countries.all %}
                <h3>{% trans "Countries" %}</h3>
                <p>
                {% for country in object.countries.all %}
                    <a href="{% url "dddatasets:search" %}?q=&countries={{ country.slug }}">
                        <span class="badge badge-pill badge-primary badge-tag">{{ country }}</span>
                    </a>
                {% endfor %}
                </p>
            {% endif %}

            {% if object.keywords.all %}
            <h3>{% trans "Keywords" %}</h3>
            <p>
            {% for keyword in object.keywords.all %}
                <a href="{% url "dddatasets:search" %}?q=&keywords={{ keyword.slug }}">
                    <span class="badge badge-pill badge-primary badge-tag">{{ keyword }}</span>
                </a>
            {% endfor %}
            </p>
            {% endif %}

            {% if object.get_language_tags.all %}
            <h3>{% trans "Language of data" %}</h3>
            <p>
            {% for language in object.get_language_tags.all %}
                <a href="{% url "dddatasets:search" %}?q=&languages={{ language.slug }}">
                    <span class="badge badge-pill badge-primary badge-tag">{{ language }}</span>
                </a>
            {% endfor %}
            </p>
            {% endif %}

            {% if object.get_disciplines_tags.all %}
            <h3>{% trans "Disciplines" %}</h3>
            <p>
            {% for discipline in object.get_disciplines_tags.all %}
                <a href="{% url "dddatasets:search" %}?q=&disciplines={{ discipline.slug }}">
                    <span class="badge badge-pill badge-primary badge-tag">{{ discipline }}</span>
                </a>
            {% endfor %}
            </p>
            {% endif %}

            {% if object.get_methods_of_data_collection_tags.all %}
            <h3>{% trans "Methods of data collection" %}</h3>
            <p>
            {% for mdc in object.get_methods_of_data_collection_tags.all %}
                <a href="{% url "dddatasets:search" %}?q=&methods_of_data_collection={{ mdc.slug }}">
                    <span class="badge badge-pill badge-primary badge-tag">{{ mdc }}</span>
                </a>
            {% endfor %}
            </p>
            {% endif %}

            {% if object.get_methods_of_data_analysis_tags.all %}
            <h3>{% trans "Methods of data analysis" %}</h3>
            <p>
            {% for mda in object.get_methods_of_data_analysis_tags.all %}
                <a href="{% url "dddatasets:search" %}?q=&methods_of_data_analysis={{ mda.slug }}">
                    <span class="badge badge-pill badge-primary badge-tag">{{ mda }}</span>
                </a>
            {% endfor %}
            </p>
            {% endif %}
            {# dataset content end #}
        </div>
    </div>
</div>
{% endblock ic-content %}
