{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets.html" %}
{% load static i18n %}

{% block ic-content %}
{% with ds=object %}
<div id="ds-content">
    {% include 'dddatasets/_dataset_header.html' with ds=ds type='discuss' %}
    <div id="discuss">
        {% include "ddcomments/_comment_block_load.html" with add_url='dddatasets:edit_comment' list_url='dddatasets:comments' object_uuid=ds.uuid %}
    </div>
</div>
{% endwith %}
{% endblock ic-content %}
