{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets.html" %}
{% load static i18n %}


{% block ic-content %}
<div id="ds-content">
    {% include 'dddatasets/_dataset_header.html' with ds=object type='metadata' %}

    {# ds Metadata Tab #}
    <h2>{% trans "Metadata" %}</h2>
    {% include 'dddatasets/_metadata_table.html' with ds=object %}

</div>
{% endblock ic-content %}
