{% load static i18n compress%}<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <title>Discuss-Data.net: {{ ds.get_fulltitle }}</title>
    <style>
        {% include 'dddatasets/pdf_datasets_styles.css' %}
    </style>
</head>

<body>
    <div class="pdf-header">
        <a href="https://discuss-data.net"><h1 class="display-4">Discuss <b>Data</b></h1></a>
        <div class="subtitle">Open Platform for the Interactive Discussion of Research Data Quality<br>(on the example of area studies on the post-Soviet region)</div>
    </div>
    <div>
        <h1>{{ ds.title }}</h1>
        <h2>{{ ds.subtitle }}</h2>
        <p>Version {{ ds.version }}, {% trans "Dataset created by" %} {{ ds.creators }}</p>
        <a href="{{ ds.get_absolute_url }}">{{ ds.get_absolute_url }}</a><br>
    </div>

    <h3>{% trans "Data Citation" %}</h3>
    <p>{{ ds.get_data_citation }}</p>

    <h3>{% trans "Description" %}</h3>
    <p>{{ ds.description }}</p>

    <h3>{% trans "Files" %}</h3>
    <ul class="list-unstyled">
    {% for elem in ds.get_datafiles %}
        <li>{{ elem }} ({{ elem.get_data_file_type_display }})</li>
    {% endfor %}
    </ul>


    <h3 id="metadata">{% trans "Metadata" %}</h3>
    {% include 'dddatasets/_metadata_table.html' with ds=ds %}

    <h3>{% trans "Version History" %}</h3>
    <ul class="list-unstyled">
    {% for elem in ds.get_published_versions %}
        <li>{{ elem }}</li>
    {% endfor %}
    </ul>

    <h3>{% trans "Publications" %}</h3>
    {% if ds.get_dataset_publications %}
        <ul class="list-unstyled">
        {% for dspub in ds.get_dataset_publications %}
            <li>
                {{ dspub.publication.citation }}{% if dspub.publication.url %}, <a href="{{ dspub.publication.url }}" target="_blank">{{ dspub.publication.url }}</a>{% endif %} ({{ dspub.get_pub_type_display }})
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "No publications were added to this Dataset." %}</p>
    {% endif %}

    <h3 id="license">{% trans "Data License" %}</h3>
    <h4>{{ ds.license.get_license_title }} ({{ ds.license.get_license_type_display }})</h4>
    {{ ds.license.get_license_text|safe }}

</div>

</body>
</html>
