@page {
    /*margin: 3cm 2cm; padding-left: 1.5cm;*/
    /*
    @top-center {
        content: "Introduction to CSS 2.1";
        vertical-align: bottom;
        border-bottom: 0.5pt solid }
    */

    @bottom-center {
        content: "{{ ds.title }} v{{ ds.version}}, Page " counter(page)  "/" counter(pages)
    }
    font-family: sans-serif;
    font-size: x-small;
    /*
    @left-top {
        content: "W3C Recommendation";
        background: #005a9c;
        color: #fff;
        text-align: right;
        transform-origin: 100% 0;
        transform: rotate(-90deg)
    }
    */

}

@media print {
    a[href]:after {
        content: none !important;
    }

    #metadata {
        page-break-before: always;
    }

}

body {
    font-family: sans-serif;
    font-size: medium;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 2.5cm;
    width: 100%;
    border-bottom: 1px solid black;

}

.pdf-logo
{
    float: left;
    width: auto;
    height: 1.3cm;
    padding-right: 2.8cm;
}

.pdf-header {
    text-align: justify;
    border-bottom: 1px solid black;
    padding-bottom: .5cm;
}

table {
	width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
	padding: 5px;
	/*background-color: rgba(255,255,255,0.2);
    color: #fff;*/



}

th {
	text-align: left;
}

tr:nth-of-type(odd) {
    background: #EEEEEE;
}

.row-field {
    width: 35%;
}

.row-value {
    width: 65%;
}

.list-unstyled {
	list-style: none;
	margin-left: 0;
    padding-left: 0;
}

.list-unstyled li {
    padding-bottom: .3cm;
}

.display-4 {
    font-size: 2rem;
    margin-bottom: -.8rem;
}

a {
    text-decoration: none;
    color: black;
}

.subtitle {
    line-height: 130%;
}