{% load static i18n compress %}<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <title>Discuss-Data.net: {{ ds.get_fulltitle }}</title>
    <style>
        {% include 'dddatasets/pdf_datasets_styles.css' %}
    </style>
</head>

<body>
    <div class="pdf-header">
        <a href="https://discuss-data.net"><p class="display-4">Discuss <b>Data</b></p></a>

        {# <div class="subtitle">Open Platform for the Interactive Discussion of Research Data Quality<br>(on the example of area studies on the post-Soviet region)</div> #}
    </div>

    <div>
        <h1>Data Submission Agreement</h1>
        <h2>{{ ds.title }}{% if ds.subtitle %}: {{ ds.subtitle }}{% endif %}</h2>
        <p>Version {{ ds.version }}, {% trans "Dataset created by" %} {{ ds.creators }}</p>
        <p>{% now "DATE_FORMAT" %}</p>
        <a href="{{ ds.get_absolute_url }}">{{ ds.get_absolute_url }}</a><br>
    </div>


    <div>{{ ds.dsa.text | safe }}</div>

</body>
</html>
