{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets.html" %}
{% load static i18n %}}

{% block ic-content %}
<div id="ds-content">
    {# dataset nav #}
    {% include 'dddatasets/_dataset_header.html' with ds=object type='publications' %}

    <h3>{% trans "Publications" %}</h3>
    {% if object.get_dataset_publications %}
        {% for dspub in object.get_dataset_publications %}
            {% include "dddatasets/_publication_card.html" with dspub=dspub %}
        {% endfor %}
    {% else %}
        {% trans 'No publications attached.' %}
    {% endif %}
</div>
{% endblock ic-content %}
