{% load static i18n core_tags %}


<form class="search-data">
  <h2>{% trans "Filters" %}</h2>

  {# search_index #}
  {% include 'core/_search_index.html' with filters=search_index filters_all=search_index_all filter_applied=filter_applied search_params=search_params %}

  {# countries #}
  {% include 'core/_search_filter.html' with filters=search_params.countries filters_all='ddusers.Country'|get_all_objects filtertype="countries" search_params=search_params %}

  {# TODO: filters deactivated due to messy vocabularies, need to clean these up in the future #}
  {# keywords #}
  {# {% include 'core/_search_filter.html' with filters=search_params.keywords filters_all='core.KeywordTagged'|get_all_objects filtertype="keywords" search_params=search_params %} #}

  {% if filter_applied == 'dataset_index' %}
    {# categories #}
    {% include 'core/_search_filter.html' with filters=search_params.categories filters_all='dddatasets.Category'|get_all_objects filtertype="categories" search_params=search_params %}

    {# languages #}
    {# {% include 'core/_search_filter.html' with filters=search_params.languages filters_all='core.LanguageTagged'|get_all_objects filtertype="languages" search_params=search_params %} #}

    {# disciplines #}
    {# {% include 'core/_search_filter.html' with filters=search_params.disciplines filters_all='dddatasets.DisciplinesTagged'|get_all_objects filtertype="disciplines" search_params=search_params %} #}

    {# methods_of_data_collection #}
    {# {% include 'core/_search_filter.html' with filters=search_params.methods_of_data_collection filters_all='dddatasets.CollectionMethodsTagged'|get_all_objects filtertype="methods_of_data_collection" search_params=search_params %} #}

    {# methods_of_data_analysis #}
    {# {% include 'core/_search_filter.html' with filters=search_params.methods_of_data_analysis filters_all='dddatasets.AnalysisMethodsTagged'|get_all_objects filtertype="methods_of_data_analysis" search_params=search_params %} #}
  {% endif %}
</form>
