{% extends request.is_intercooler|yesno:"blank.html,base.html" %}
{% load static i18n core_tags %}

{% block title %}{{ pagetitle }}{% endblock %}

{% block content %}
{% block ic-content %}
  <div id="search-list">
    <div class="row">
      <div class="col-md-9">
        {% if category %}
          {# this is a category page #}
          {% include "dddatasets/_category_card.html" with category=category %}
        {% else %}
          <h2>{% trans "Data Sets" %}</h2>
        {% endif %}

        {# big search field #}
        <div class="input-group mb-3 search-field-main">
          <input class="form-control search-field-main search-middle search-data search-ui"{% if query %}value="{{ query }}"{% else %}placeholder="Search"{% endif %} name="q" aria-label="Search">
          <div class="input-group-append">
            <button class="input-group-text search-button" type="button" ic-include=".search-data" ic-get-from="{% url 'dddatasets:search' %}" ic-target="#content" ic-push-url="true" ic-push-params="q,countries,keywords,languages,categories,methods_of_data_analysis,methods_of_data_collection,disciplines"><span class="i-search-md"></span></button>
          </div>
        </div>


        {# search object list #}
        {% if object_list %}
          <div class="row smallskip">
            <div class="col-md-7">
              {% if category %}
                {{ category.get_published_datasets_category_all_count }}
              {% else %}
                {% if object_list.paginator %}{{ object_list.paginator.count }}{% else %}{{ object_list.count }}{% endif %}
              {% endif %} {% trans "Datasets found" %}
            </div>
            {% comment %} TODO: do not show sorting options temporarily
            <div class="col-md-5 text-right">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                  <input type="radio" value="pubdate" name="orderby" id="pubdate" ic-get-from="{% url 'dddatasets:search' %}{{ search_params }}" ic-push-url="true" ic-include=".search-middle" ic-target="#content" {% if search_params.orderby.0 != 'alpha' %}checked{% endif %}>{% trans "sort by publication date" %}
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" value="alpha" name="orderby" id="alpha" ic-get-from="{% url 'dddatasets:search' %}{{ search_params|add_url_search_params }}" ic-push-url="true" ic-include=".search-middle" ic-target="#content" {% if search_params.orderby.0 == 'alpha' %}checked{% endif %}>{% trans "sort alphabetically" %}
                </label>
              </div>
            </div>
            {% endcomment %}
          </div>
          {% for object in object_list %}
            {% include "dddatasets/_dataset_card.html" with dataset=object prep=False %}
          {% endfor %}

          {# pagination #}
          {% if pagination %}
            {% include 'core/_pagination.html' with object_list=object_list paginator_range=paginator_range paginator_last_page=paginator_last_page ic_target='#search-list' %}
          {% endif %}

        {% else %}
          {% trans "Nothing found" %}
        {% endif %}
      </div>

        {# filters #}
      <div class="col-md-3">
        {% include 'dddatasets/search_filters_partial.html' with search_index=search_index search_index_all=search_index_all filter_applied="dataset_index" search_params=search_params %}
      </div>
    </div>
  </div>

{% endblock ic-content %}
{% endblock content %}
