{% extends request.is_intercooler|yesno:"blank.html,dddatasets/_base_datasets.html" %}
{% load static i18n %}


{% block ic-content %}
<div id="ds-content">
    {# dataset nav #}
    {% include 'dddatasets/_dataset_header.html' with ds=object type='versions' %}

    <h2>{% trans 'Versions' %}</h2>
    {% for object in object.get_published_versions %}
    <div class="card content-bg smallskip">
        <div class="card-body">
            <div class="media">
                <div class="media-body align-items-center">
                    <div class="row">
                        <div class="col-sm-1 col-2">
                            <a href="{% url 'dddatasets:detail' object.uuid %}"><span class="badge badge-pill badge-primary badge-tag">{{ object.version }}</span></a>
                        </div>
                        <div class="col-sm-11 col-10">
                            <a href="{% url 'dddatasets:detail' object.uuid %}"><h5 class="mt-0">{{ object.title }}</h5> {{ object.publication_date }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock ic-content %}
