
$blueberry: #343b86;
$warm-gray: #777777;
$inactive-gray: #d1cddf;
$light-gray: #ced4da;
$green: #87c056;
$red: #ff4136;
$black: #222222;
$cool-blue: #45a7c5;
$transparent-grey: rgba(0,0,0,0.4);
$pinkish-grey: #cccccc;
$pale-grey: #f8f9fa;
$dark: #0c0d1d;
$white: #ffffff;
$yellow: #ffff00;
$transparent-white: rgba(255, 255, 255, 0.1);

$theme-colors:
(
  "primary": $blueberry,
  "secondary": $warm-gray,
  "tertiary": $inactive-gray,
  "success": $green,
  "danger": $red,
  "warning": $yellow,
  "info": $blueberry,
  "light": $white,
  "dark": $black,
  "shadow": $cool-blue,
  "content-bg": $pale-grey,
  "border-gray": $light-gray,
  "image-overlay": $transparent-grey,
  "transparent-light": $transparent-white,
  "hint": $transparent-grey,
);

$font-size-base: 0.8rem;
