@import "dropzone";
@import "custom_bootstrap_vars";
@import "bootstrap";


/*
 * Color encoder
 * see https://gist.github.com/keeperofkeys/45b14189f49017171a3d48f12c6ccf69
 * take a color hex string and encode the '#'
 * this is primarily needed for data uri svg color injection
 */
@function encodecolor($string) {
	@if type-of($string) == 'color' {
        $hex: str-slice(ie-hex-str($string), 4);
        $string:unquote("#{$hex}");
    }
    $string: '%23' + $string;
	@return $string;
}

/*
 * General
 */

html
{
  scroll-behavior: smooth;

}

body {
  font-size: 1rem;
  background-color: theme-color("content-bg");
  min-height: 100vh;
  padding-top: 5rem;
  /*padding-left: 15rem;*/
  position: relative;
  margin: 0;

}

a {
  text-decoration: none ;
}

a:hover
{
  text-decoration:none;
 cursor:pointer;
}

.lp-body {
  padding-top: 0;
  padding-left: 0;
}
/* workaround for shift to right on lg */
@include media-breakpoint-up(lg) {
  .lp-body {
    padding-top: 0;
    padding-left: 0;
    width:120%;
    left: -20%;
  }
}

@include media-breakpoint-up(md) {
  .lp-body {
    padding-top: 0;
    padding-left: 0;
    width:120%;
    left: -20%;
  }
}



.infobox {
  padding: 1rem;
  z-index: 99;
  border: theme-color("primary") 1px solid;
  z-index: 200;
  background-color: theme-color("light");
  left: 80%;
  width: 19%;
  right: 1%;
  bottom: 5%;
  font-size: smaller;
}

.smaller {
  font-size: smaller;
}

.infobox docupage-intro {
  font-size: larger;
}

.status-badges {
  float: right;
}

.slim {
  font-weight: 300;
}

.pubcard-header {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
}

.extrabold {
  font-weight: 900;
}

.toc_active {
  font-weight: 900;
}

.chars-left {
  color: theme-color("hint");
  padding-top: .3rem;
  float:right;
  font-size: smaller;
}

.chars-left-tags {
  color: theme-color("hint");
  padding-top: .3rem;
  padding-bottom: .3rem;
  font-size: smaller;
  text-align: right;
  width: 84%;
}

.list-group-item {
  user-select: none;
}

.list-group input[type="checkbox"] {
  display: none;
}

.list-group input[type="checkbox"] + .list-group-item {
  cursor: pointer;
}

.list-group input[type="checkbox"] + .list-group-item:after {
  content: "\2713";
  color: transparent;
  font-weight: bold;
  float:right;
}

.list-group input[type="checkbox"]:checked + .list-group-item {
  color: theme-color("primary");
  font-weight: bold;
}

.list-group input[type="checkbox"]:checked + .list-group-item:after {
  color: inherit;
}


.list-group input[type="radio"] {
  display: none;
}

.list-group input[type="radio"] + .list-group-item {
  cursor: pointer;
}

.list-group input[type="radio"] + .list-group-item:after {
  content: "\2713";
  color: transparent;
  font-weight: bold;
  float:right;
}

.list-group input[type="radio"]:checked + .list-group-item {
  color: theme-color("primary");
  font-weight: bold;
}

.list-group input[type="radio"]:checked + .list-group-item:after {
  color: inherit;
}


.select-filter-caret {
  float:right;
  font-weight: 600;
  font-size: 0.9rem;
  padding-left: 0.5rem;
}

.select-header {
  font-size: 0.9rem;
  border-radius: calc(1rem / 3);
}

.select-field {
  font-size: 0.9rem;
  border-radius: calc(1rem / 3);
}

#search-field {
  border-top-left-radius: calc(1rem / 3);
  border-bottom-left-radius: calc(1rem / 3);
}

.search-filter-button {
  margin-bottom: calc(1rem / 3);
  text-align: left;
  font-weight: 600;
  min-height: 3rem;
}

.search-field-main {
  min-height: 3rem;
  font-size: large;
}



.search-filter-caret {
  float:right;
  font-weight: 600;
  font-size: medium;
}

.search-filter-check {
  float:right;
}


.data-citation {
  padding: 2rem;
}

.landingpage {
  background-color: theme-color("primary");
}

.lp-jumbotron {
  background-color: theme-color("primary");
  color: theme-color("light");
  font-weight: 700;
  padding-top: 30vh;
}

.subtitle {
  font-size: x-large;
  font-weight: 300;
}

.bold-900	{
  font-weight: 900;
}

#lp-slogans-carousel {
  margin-top: 8%;
}

.slogan-heading {
  font-size: x-large;
  font-weight: 500;
}

.slogan-text {
  font-size: large;
  font-weight: 300;
}

.lp-width {
  right:10%;
  left:10%;
  width: 80%;
}

.lp-section {
  padding-top:1rem;
}

.lp-left {
  padding-left:10%;
}

.lp-carousel-card {
  background-color: theme-color("transparent-light");
  color: theme-color("light");
  width: 100%;
}

.lp-card {
  background-color: theme-color("content-bg");
  width: 100%;
  margin-bottom: 2rem;
}

.carousel-control-prev-icon-primary {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23343b86' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");

 }

 .carousel-control-next-icon-primary {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23343b86' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") ;
 }


.color-primary {
  color: theme-color("primary");
}


.color-light {
  color: theme-color("light");
}

.border-bottom-light {
  border-bottom: 1px solid theme-color("transparent-light");
}

.lp-content-top {
  min-height: 100vh; /*calc(80vh - 82px);*/
  right:0;
  left:0;
  top:0;

}

.landingpage .nav-link{
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar-dark .navbar-nav .nav-link {
  /*color: rgba(255, 255, 255, 0.5);*/
  color: theme-color("light");
}

.nav-link-light {
  color: theme-color("light");
}

.no-box-shadow {
  -webkit-box-shadow: inset -1px 0 0 theme-color("primary");
  box-shadow: inset -1px 0 0 theme-color("primary");
}

.border-license-odc-by-v1-0, .border-license-odbl {
  border: 1px solid theme-color("success")!important;
};

.bg-license-odc-by-v1-0, .bg-license-odbl {
  background-color: theme-color("success");
};

.border-license-no-sharing {
  border: 1px solid theme-color("warning")!important;
}

.bg-license-no-sharing {
  background-color: theme-color("warning");
}


.navbar-brand-no-shadow {
  padding-top: 12px;
  padding-top: 0.75rem;
  padding-bottom: 12px;
  padding-bottom: 0.75rem;
  font-size: 16px;
  font-size: 1rem;
/*  -webkit-box-shadow: inset -1px 0 0 #ffffff;
  box-shadow: inset -1px 0 0 #ffffff;*/
}
/*
* nav-datasets
*/
.btn-pill {
  border-radius: 50em;
  margin-bottom: .2rem !important;
}

.nav-datasets {
  /*width: 100vw;
  position: relative;
  margin-left: -28vw;*/
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.nav-active {
  border-bottom: 0.2rem solid theme-color("primary");
}

.content-bg {
  background-color: theme-color("content-bg");
}

.badge-tag {
  font-size: 0.7rem;
  padding: 0.4rem;
  margin-bottom: 0.2rem;
}

.input-group-tags {
  width: 100%;
}

.tag-input {
  border-top-right-radius: initial;
  border-bottom-right-radius: initial;
}

.smallskip {
  margin-bottom: 1rem;
}

.check-mark {
  font-size: -webkit-xxx-large;
  color: theme-color("primary");
}

.check-mark-small {
  font-size: large;
  color: theme-color("primary");
  float: right;
}

.border-gray {
  border: 1px solid theme-color("border-gray");
}

.border-restricted {
  border-color: theme-color("danger");
}

.fileicon {
  font-size: xx-large;
  color: theme-color("primary");
}

/*
 * Notifications
 */

.notification textarea.form-control {
  height: 5rem;
}

.notification .form-control {
  width: 80%;
}

/*
 * Sidebar
 */

 .sidebar {
  position: fixed;
  top: 0;
  /*bottom: 30vh;*/
  left: 0;
  z-index: 1; /* Behind the top navbar */
  padding: 5rem 0 0; /* Height of top navbar */
  background-color: theme-color("light");
  /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);*/
  width:14%;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: 100vh;
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  bottom: 4rem;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
}

.sidebar .nav-link:hover,
.sidebar .nav-link:active,
.sidebar .active .nav-link {
  color: theme-color("light");
  background-color: theme-color("primary");
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.sidebar-badge {
  float:right;
  margin-top: .5rem;
}

.active .sidebar-badge {
  color: theme-color("primary");
  background-color: theme-color("light");
}

.sidebar-follow {
  font-size: 85%;
}

/*
 * Comments
 */

.comment-card {
  padding-top: 1rem;
}

.comments-head {
  margin-top: 1rem;
}

.comment-name {
  font-weight: 700;
}

.comment-naturaltime {
  color: theme-color("secondary");
}

.comment-date {
  color: theme-color("secondary");
}

.comment-text {
  font-size: larger;
}

/*
 * Comment badges
 */
.badge-deleted {
  background-color: theme-color("dark");
  color: theme-color("light");
  font-weight: 500;
}

.badge-access-request {
  background-color: theme-color("tertiary");
  color: theme-color("light");
  font-weight: 500;
}

.badge-transfer-request {
  background-color: theme-color("primary");
  color: theme-color("light");
  font-weight: 500;
}


.badge-public {
  background-color: theme-color("success");
  color: theme-color("black");
  font-weight: 500;
}

.badge-private {
  background-color: theme-color("secondary");
  color: theme-color("light");
  font-weight: 500;
}

.badge-curator {
  background-color: theme-color("warning");
  color: theme-color("black");
  font-weight: 500;
}

.badge-publication-request {
  background-color: theme-color("warning");
  color: theme-color("black");
  font-weight: 500;
}

.badge-permanent {
  background-color: theme-color("primary");
  color: theme-color("light");
  font-weight: 500;
}


.badge-MO {
  background-color: theme-color("danger");
  color: theme-color("light");
  font-weight: 500;
}

.badge-RA {
  background-color: theme-color("warning");
  color: theme-color("black");
  border: 1px solid theme-color("border-gray");
  font-weight: 500;
}

.badge-OA {
  background-color: theme-color("success");
  color: theme-color("black");
  font-weight: 500;
}

.badge-big {
  padding: 0.5rem;
  font-size: larger;
}

.badge-middle {
  padding: 0.3rem;
  font-size: 0.9rem;
}

/*
 * User image avatar sizes
 */

.sidebar .avatar {
  height: 5rem;
  width: 5rem;
}
.user-profile .avatar {
  height: 5rem;
}

.comment-add .avatar,
.media .avatar {
  height: 4rem;
}

.usercard .avatar,
.datasetheader .avatar,
.feedcard .avatar,
.pubrequest-header .avatar,
.comments-list .avatar {
  height: 2.3rem;
}

.category-card .avatar {
  height: 1.4rem;
}

.status {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  font-weight: 700;
  font-size: .875rem;
}

.datasetheader .btn {
  margin-right: .2rem;
  padding-bottom: .2rem;
}

.dataset-buttons {
  padding-left: .9rem;
}

.dataset-buttons a {
  padding-bottom: .2rem;
  padding-right: .2rem;
}

/*
 * No underlining in button links
*/

.btn-link:hover,
.btn-link:active,
.btn-link:focus {
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*
 * documenation
*/

h1, h2, h3, h4 {
  font-weight: 400;
}
h1 {
  font-size: 1.7rem;
}
h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

.docupage-intro {
  font-weight: 300;
  font-size: large;
}

.docucard {
  background-color: theme-color("light");
}

.docucard-header {
  background-color: theme-color("light");
}

.docucard-header .btn-link {
  text-align: left;
}

.docucard-header-active {
  background-color: theme-color("primary");
}

.docucard-header-active .btn-link {
  color: theme-color("light");
}

/*
 * tooltips
 */

.small {
  font-size: small;
}

.collapse-help-text {
  margin-top: 0.4%;
  position: absolute;
  z-index: 1;
  background-color: theme-color("light");
  right: 0.9rem;
  font-size: small;
  font-weight: normal;
  max-width: 19rem;
  min-width: 10rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid theme-color("border-gray");
  -webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
}

.collapse-help-text-no-form {
  margin-top: 0.4%;
  position: absolute;
  z-index: 1;
  background-color: theme-color("light");
  right: 0.9rem;
  font-size: small;
  font-weight: normal;
  max-width: 19rem;
  min-width: 10rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid theme-color("border-gray");
  -webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
}

.collapse-help-text p {
  margin-bottom: 0;
  color: theme-color("dark");
}


.help-text {
  text-align: right;
  float:right;
}

.manpage {
  text-align: right;
  float:right;
}


#name {
  font-weight: 700;
  font-size: large;
}

#indicator {
  display: none;
}


/*
 * Icons
 */

/* icons path map */
$icons: (
  account: '<path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/>',
  add-photo: '<path d="M0 0h24v24H0z" fill="none"/><path d="M3 4V1h2v3h3v2H5v3H3V6H0V4h3zm3 6V7h3V4h7l1.83 2H23v16H3V10h3zm7 9c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-3-5c0 1.66 1.34 3 3 3s3-1.34 3-3-1.34-3-3-3-3 1.34-3 3z"/>',
  camera: '<path d="M0 0h24v24H0V0z" fill="none"/><circle cx="12" cy="12" r="3"/><path d="M16.83 4L15 2H9L7.17 4H2v16h20V4h-5.17zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"/>',
  check-mark: '<path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/>',
  close: '<path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/>',
  dashboard: '<path d="M0 0h24v24H0V0z" fill="none"/><path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"/>',
  drop-down-arrow: '<path d="M0 0h24v24H0V0z" fill="none"/><path d="M7 10l5 5 5-5H7z"/>',
  file-pdf: '<path fill="currentColor" d="M13,9H18.5L13,3.5V9M6,2H14L20,8V20A2,2 0 0,1 18,22H6A2,2 0 0,1 4,20V4A2,2 0 0,1 6,2M10.1,11.4C10.08,11.44 9.81,13.16 8,16.09C8,16.09 4.5,17.91 5.33,19.27C6,20.35 7.65,19.23 9.07,16.59C9.07,16.59 10.89,15.95 13.31,15.77C13.31,15.77 17.17,17.5 17.7,15.66C18.22,13.8 14.64,14.22 14,14.41C14,14.41 12,13.06 11.5,11.2C11.5,11.2 12.64,7.25 10.89,7.3C9.14,7.35 9.8,10.43 10.1,11.4M10.91,12.44C10.94,12.45 11.38,13.65 12.8,14.9C12.8,14.9 10.47,15.36 9.41,15.8C9.41,15.8 10.41,14.07 10.91,12.44M14.84,15.16C15.42,15 17.17,15.31 17.1,15.64C17.04,15.97 14.84,15.16 14.84,15.16M7.77,17C7.24,18.24 6.33,19 6.1,19C5.87,19 6.8,17.4 7.77,17M10.91,10.07C10.91,10 10.55,7.87 10.91,7.92C11.45,8 10.91,10 10.91,10.07Z" />',
  follow: '<path d="M22 6H12l-2-2H2v16h20V6zm-4.06 11L15 15.28 12.06 17l.78-3.33-2.59-2.24 3.41-.29L15 8l1.34 3.14 3.41.29-2.59 2.24.78 3.33z"/>',
  /* for DSA, maybe rename */
  gavel: '<path d="M0 0h24v24H0V0z" fill="none"/><path d="M1 21h12v2H1v-2zM5.24 8.07l2.83-2.83 14.14 14.14-2.83 2.83L5.24 8.07zM12.32 1l5.66 5.66-2.83 2.83-5.66-5.66L12.32 1zM3.83 9.48l5.66 5.66-2.83 2.83L1 12.31l2.83-2.83z"/>',
  glasses: '<path fill="currentColor" d="M3,10C2.76,10 2.55,10.09 2.41,10.25C2.27,10.4 2.21,10.62 2.24,10.86L2.74,13.85C2.82,14.5 3.4,15 4,15H7C7.64,15 8.36,14.44 8.5,13.82L9.56,10.63C9.6,10.5 9.57,10.31 9.5,10.19C9.39,10.07 9.22,10 9,10H3M7,17H4C2.38,17 0.96,15.74 0.76,14.14L0.26,11.15C0.15,10.3 0.39,9.5 0.91,8.92C1.43,8.34 2.19,8 3,8H9C9.83,8 10.58,8.35 11.06,8.96C11.17,9.11 11.27,9.27 11.35,9.45C11.78,9.36 12.22,9.36 12.64,9.45C12.72,9.27 12.82,9.11 12.94,8.96C13.41,8.35 14.16,8 15,8H21C21.81,8 22.57,8.34 23.09,8.92C23.6,9.5 23.84,10.3 23.74,11.11L23.23,14.18C23.04,15.74 21.61,17 20,17H17C15.44,17 13.92,15.81 13.54,14.3L12.64,11.59C12.26,11.31 11.73,11.31 11.35,11.59L10.43,14.37C10.07,15.82 8.56,17 7,17M15,10C14.78,10 14.61,10.07 14.5,10.19C14.42,10.31 14.4,10.5 14.45,10.7L15.46,13.75C15.64,14.44 16.36,15 17,15H20C20.59,15 21.18,14.5 21.25,13.89L21.76,10.82C21.79,10.62 21.73,10.4 21.59,10.25C21.45,10.09 21.24,10 21,10H15Z" />',
  help: '<path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z"/>',
  home: '<path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8h5z"/>',
  label: '<path fill="currentColor" d="M17.63,5.84C17.27,5.33 16.67,5 16,5H5A2,2 0 0,0 3,7V17A2,2 0 0,0 5,19H16C16.67,19 17.27,18.66 17.63,18.15L22,12L17.63,5.84Z" />',
  labels: '<path fill="currentColor" d="M4 19H13L11 21H4C3.5 21 2.97 20.79 2.59 20.41C2.21 20.03 2 19.5 2 19V9H4V19M17.63 5.84C17.27 5.33 16.67 5 16 5H8C6.9 5 6 5.9 6 7V15C6 16.1 6.9 17 8 17H16C16.67 17 17.27 16.66 17.63 16.15L22 11L17.63 5.84Z" />',
  list: '<g fill="none"><path d="M0 0h24v24H0V0z"/><path d="M0 0h24v24H0V0z" opacity=".87"/></g><path d="M3 13h2v-2H3v2zm0 4h2v-2H3v2zm0-8h2V7H3v2zm4 4h14v-2H7v2zm0 4h14v-2H7v2zM7 7v2h14V7H7zm-4 6h2v-2H3v2zm0 4h2v-2H3v2zm0-8h2V7H3v2zm4 4h14v-2H7v2zm0 4h14v-2H7v2zM7 7v2h14V7H7z"/>',
  lock: '<path fill="currentColor" d="M12,17A2,2 0 0,0 14,15C14,13.89 13.1,13 12,13A2,2 0 0,0 10,15A2,2 0 0,0 12,17M18,8A2,2 0 0,1 20,10V20A2,2 0 0,1 18,22H6A2,2 0 0,1 4,20V10C4,8.89 4.9,8 6,8H7V6A5,5 0 0,1 12,1A5,5 0 0,1 17,6V8H18M12,3A3,3 0 0,0 9,6V8H15V6A3,3 0 0,0 12,3Z" />',
  my-data: '<path d="M0 0h24v24H0V0z" fill="none"/><path d="M22 6H12l-2-2H2v16h20V6zm-3 8h-3v3h-2v-3h-3v-2h3V9h2v3h3v2z"/>',
  /* replace my-profile with account */
  my-profile: '<path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>',
  pagination-arrow-left: '<path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"/>',
  pagination-arrow-right: '<path d="M0 0h24v24H0V0z" fill="none"/><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/>',
  people: '<g><rect fill="none" height="24" width="24"/></g><g><g/><g><g><path d="M16.67,13.13C18.04,14.06,19,15.32,19,17v3h4v-3 C23,14.82,19.43,13.53,16.67,13.13z" fill-rule="evenodd"/></g><g><circle cx="9" cy="8" fill-rule="evenodd" r="4"/></g><g><path d="M15,12c2.21,0,4-1.79,4-4c0-2.21-1.79-4-4-4c-0.47,0-0.91,0.1-1.33,0.24 C14.5,5.27,15,6.58,15,8s-0.5,2.73-1.33,3.76C14.09,11.9,14.53,12,15,12z" fill-rule="evenodd"/></g><g><path d="M9,13c-2.67,0-8,1.34-8,4v3h16v-3C17,14.34,11.67,13,9,13z" fill-rule="evenodd"/></g></g></g>',
  search: '<path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>',
  shared-data: '<path d="M0 0h24v24H0V0z" fill="none"/><path d="M22 6H12l-2-2H2v16h20V6zm-7 3c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm4 8h-8v-1c0-1.33 2.67-2 4-2s4 .67 4 2v1z"/>',
  categories: '<path d="M4 19H13L11 21H4C3.5 21 2.97 20.79 2.59 20.41C2.21 20.03 2 19.5 2 19V9H4V19M17.63 5.84C17.27 5.33 16.67 5 16 5H8C6.9 5 6 5.9 6 7V15C6 16.1 6.9 17 8 17H16C16.67 17 17.27 16.66 17.63 16.15L22 11L17.63 5.84Z" />'
  );


/* SIDENAV ICONS */
/* general settings */
.i-nav::before, .i-nav-24::before {
  display: inline-block;
  height: 1.5rem;
  width:  1.5rem;
  position:relative;
  top: calc(1rem / 3);
}

@each $icon, $path in $icons {
  .i-nav-#{$icon}::before, .i-nav-#{$icon}-24::before {
    content: "";
    $color: encodecolor(theme-color("tertiary"));
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#{$color}" width="24px" height="24px">#{$path}</svg>');
  }

  .active .i-nav-#{$icon}::before,
  .i-nav-#{$icon}:hover::before, .i-nav-#{$icon}-24::before,
  .i-nav-#{$icon}-24:hover::before {
    display: inline-block;
    content: "";
    $color: encodecolor(theme-color("tertiary"));
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#{$color}" width="24px" height="24px">#{$path}</svg>');
  }
}

$sizes: (
  sm: 1em,
  md: 1.5em,
  lg: 2em,
  xl: 3em,
);

/* GENERAL ICONS */
@each $icon, $path in $icons {
  @each $size-name, $size in $sizes {
    .i-#{$icon}-#{$size-name} {
      display: inline-block;
      content: "";
      height: $size;
      width:  $size;
      $color: encodecolor(theme-color("primary"));
      background-repeat: no-repeat; /** disable repeating */
      background-position: center; /** center the background image */
      background-size: contain; /** optimal background size to fit in icon */
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#{$color}" width="#{$size}" height="#{$size}">#{$path}</svg>');
    }
  }
}

.modal {
  top: 20%!important;

}

.modal-backdrop {
  z-index: 0!important;

}


.icon-middle {
  position: relative;
  top: calc(1rem / 3);
}

/* spinner taken from https://tobiasahlin.com/spinkit/ */
@each $size-name, $size in $sizes {
  .spinner-#{$size-name} {
    width: $size;
    height: $size;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.sidebar-shift {
  margin-left:0;;
}

@include media-breakpoint-up(sm) {
  html {
    margin-left:0;
  }
}

@include media-breakpoint-up(md) {
  html {
    margin-left:14%;
  }
}

@include media-breakpoint-up(lg) {
  html {
    margin-left:14%;
  }
}

/*
 * Content
 */
#content {
  padding-top: 0.6rem;
  min-height: calc(75vh);
  padding-bottom: 10%;
}

/*
* footer
*/

.footer {
  padding-top: 1rem;
  background-color: theme-color("light");
  //bottom: -.1rem;
  z-index: 110;
  position: absolute;
  right:0;
  left:0;
}

.footer-logo
{
  vertical-align: middle;
  width: auto;
  height: 4rem;
}

.footer-copyright {
  font-size: smaller;
  padding-top:.2rem;
  padding-bottom:.2rem;
}

.footer-link-list {
  margin-top: 0;
}

.footer-nav {
  font-size: smaller;
}

/*
.footer-logo-text {
  font-size: smaller;
}
*/

.list-inline-footer li {
  padding-left: .5rem;
  padding-right: 1rem;
}

/*
 * Navbar
 */

.navbar-light {
  background-color: theme-color("light");
 }



.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;

  border-width: 1;
  border-radius: 1;
  border-color: theme-color("border-gray");
  background-color: theme-color("light");
}

/*
* Typeahead
*/

.twitter-typeahead{
  width: 80%;
}

.typeahead {
  background-color: theme-color("light");
}

.tt-menu {
  width: 85%;
  margin: 0.2rem 0;
  padding: 0.5rem 0;
  background-color: theme-color("light");
  border: 1px solid theme-color("tertiary");
}

.tt-suggestion {
  padding: 0.1rem 1rem;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: theme-color("tertiary");
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: theme-color("tertiary");

}

.tt-suggestion p {
  margin: 0;
}

/*
 * Utilities
 */

 .no-padding {
  padding-left: 0;
  padding-right: 0;
}

.usercard {
  font-size: 1rem;
}

.center-block {
  float:none;
}

.btn
{
  min-width: 8rem;
  height: 2rem;
  border-radius: calc(1rem / 3);
}

.btn-lg {
  min-width: 10rem;
  height: 2.5rem;
  border-radius: calc(1rem / 3);
}

.btn-slim
{
  min-width: 6rem;
  height: 1.6rem;
  border-radius: calc(1rem / 6);
  font-size: 0.8rem;
}

.btn-small
{
  min-width: 0rem;
}

.btn-primary
{
  color: theme-color("light");
  background-color: theme-color("primary");
  border-color: theme-color("light");
}

.btn-secondary
{
  color: theme-color("secondary");
  background-color: inherit;
  border-color: theme-color("primary");
}

.btn-tertiary
{
  color: theme-color("light");
  background-color: theme-color("tertiary");
  border-width: 0;
}

.btn-nav
{
  min-width: 7rem;
}

.card-img-top
{
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-horizontal
{
  display: flex;
  flex: 1 1 auto;
}

.navbar-logo
{
  width: auto;
  height: 2.5rem;
}

.no-gutters
{
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="container-"],
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}


/******************************************************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
* ref → [BootStrap Modal as Left/Right Sidebar](https://codepen.io/bootpen/pen/jbbaRa) for Bootstrap 3
* 並改良成適用於 Bootstrap 4
******************************************************************/

.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}


 #search-list {
  margin-bottom: 1%;
 }
/*
 * Search field
 */
input[type=search]
{
	-webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button
{
	display: none;
}

input[type=search]
{
	background: theme-color("light") url(../images/search.svg) no-repeat 9px center;
	border: solid 1px theme-color("primary");
	padding: 9px 10px 9px 32px;
	width: 55px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

input[type=search]:focus
{
  width: 130px;
  background-color: theme-color("light");
	border-color: theme-color("success");

	-webkit-box-shadow: 0 0 5px theme-color("shadow");
	-moz-box-shadow: 0 0 5px theme-color("shadow");
	box-shadow: 0 0 5px theme-color("shadow");
}

#navsearch input[type=search]
{
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}

#navsearch input[type=search]:focus
{
	width: 130px;
	padding-left: 32px;
	cursor: auto;
}

#navsearch input:-moz-placeholder
{
	color: transparent;
}
#navsearch input::-webkit-input-placeholder
{
	color: transparent;
}


////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

/*
 * User image edit overlay effect
 */

/* Container needed to position the overlay. Adjust the width as needed */
.img-container {
  position: relative;
  width: 7rem;
}


#image-circle{
  width:5rem;
  height:5rem;
  position:relative;
  overflow:hidden;
  border-radius:50%;
  right:auto;
  left:auto;
  text-align: center;
}

#image-overlay{
  display:block;
  position:absolute;
  bottom:0;
  text-align:center;
  width:5rem;
  height:2.5rem; /* Half of the container */
  line-height:2.5rem;
  background-color:theme-color("image-overlay");
}

.image-dataset-container {
  position: relative;
  width: 20rem;
  height:10rem;
}

#image-dataset{
  width:20rem;
  height:10rem;
  position:relative;
  overflow:hidden;
  right:auto;
  left:auto;
  text-align: center;
}

#image-dataset-overlay{
  display:block;
  position:absolute;
  bottom:0;
  text-align:center;
  width:20rem;
  height:10rem;
  line-height:12rem;
  background-color:theme-color("image-overlay");
}

.datalist {
  color: theme-color("primary");
}

.user-camera-icon {
  color: white;
  font-size:1rem;
}

.dataset-camera-icon {
  color: white;
  font-size: 5rem;
}

.user-image-upload {
  width:9rem;
  height:9rem;
}

.toc ul {
  list-style-type: none;
}

ul.level-1 {
  padding-left:0;
}

ul.level-2 {
  padding-left:1.5rem;
}

ul.level-3 {
  padding-left:2.5rem;
}

.progress {
  height: 1.8rem;
}

.progress-bar {
  font-size: 1rem;
}

#messages {
  position: fixed;
  font-size: 0.8rem;
  top: 4.5rem;
  width: 25%;
  z-index: 1031;
}

#messages-lp {
  position: fixed;
  font-size: 0.8rem;
  top: 4.5rem;
  width: 25%;
  z-index: 1031;
  margin-left: 25%;
  margin-right: 25%;
}

/*
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */
 .dropzone, .dropzone * {
  box-sizing: border-box; }

.dropzone {
  position: relative; }
  .dropzone .dz-preview {
    position: relative;
    display: inline-block;
    width: 120px;
    margin: 0.5em; }
    .dropzone .dz-preview .dz-progress {
      display: block;
      height: 15px;
      border: 1px solid #aaa; }
      .dropzone .dz-preview .dz-progress .dz-upload {
        display: block;
        height: 100%;
        width: 0;
        background: green; }
    .dropzone .dz-preview .dz-error-message {
      color: white;
      display: none; }
    .dropzone .dz-preview.dz-error .dz-error-message, .dropzone .dz-preview.dz-error .dz-error-mark {
      display: block; }
    .dropzone .dz-preview.dz-success .dz-success-mark {
      display: block; }
    .dropzone .dz-preview .dz-error-mark, .dropzone .dz-preview .dz-success-mark {
      position: absolute;
      display: none;
      left: 30px;
      top: 30px;
      width: 54px;
      height: 58px;
      left: 50%;
      margin-left: -27px; }
