{% load wagtailcore_tags wagtailimages_tags %}

<div class="topic row">
    {% if value.image %}
    <div class="col-md-4">
        {% image value.image width-450 %}
    </div>
    <div class="col-md-8">
    {% else %}
    <div class="col-md-12">
    {% endif %}
    {% if value.heading %}
        <h3>{{ value.heading }}</h3>
    {% endif %}
        {{ value.paragraph|richtext }}
    </div>
    {% if value.slogan %}
    <div class="col-md-12">
        <h4>{{ value.slogan }}</h4>
    </div>
    {% endif %}
</div>