{% load wagtailcore_tags wagtailimages_tags %}

<div class="topic">
    {% image value.image width-800 %}
    <h3>{{ value.heading }}</h3>
    {{ value.paragraph|richtext }}


    {% if value.table %}
        {% include_block value.bound_blocks.table %}
    {% endif %}

</div>