{% load static i18n core_tags wagtailcore_tags%}

{% get_root_help_page as root_help_page %}
<h2><a href="{% slugurl 'discuss-data-help' %}">{% trans 'Help' %}</h2></a>
<div class="toc" id="help_toc">
    <ul class="level-1">
        {% for hpage in root_help_page.get_children %}
            <li>
                {% if hpage.url == request.path %}
                    <b>{{ hpage.title }}</b>
                {% else %}
                    <a href="{% pageurl hpage %}">{{ hpage.title }}</a>
                {% endif %}
                <ul class="level-2">
                {% for subpage in hpage.get_children %}
                <li>
                    {% if subpage.url == request.path %}
                        <b>{{ subpage.title }}</b>
                    {% else %}
                        <a href="{% pageurl subpage %}">{{ subpage.title }}</a>
                    {% endif %}
                    {% comment %}                    
                    <ul class="level-3">
                    {% for subsubpage in subpage.get_children %}
                    <li>
                        {% if subsubpage.url == request.path %}
                            <b>{{ subsubpage.title }}</b>
                        {% else %}
                            <a href="{% pageurl subsubpage %}">{{ subsubpage.title }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                    </ul>
                    {% endcomment %}
                </li>
                {% endfor %}
                </ul>
            </li>
    {% endfor %}
    </ul>
</div>
