{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
<div>
    <h1 class="docupage-title">{{ page.title }}</h1>
    {% if page.intro %}<p class="docupage-intro">{{ page.intro }}</p>{% endif %}

    <div>{{ page.text|richtext }}</div>
</div>


{% for subpage in page.get_children %}
    <div class="card smallskip">
        <div class="card-body">
            <a href="{% pageurl subpage %}">{{ subpage.title }}</a>
        </div>
    </div>
{% endfor %}






{% endblock %}