{% extends request.is_intercooler|yesno:"blank.html,base.html" %}
{% load static i18n core_tags wagtailcore_tags%}

{% block content %}
{% block ic-content %}
  <div id="search-list">
    <div class="row">
      <div class="col-md-8">
        <h2>{% trans "Discuss Data Help" %}</h2>
        {# big search field #}
        <div class="input-group mb-3 search-field-main">
          <input class="form-control search-field-main search-middle search-data"{% if query %}value="{{ query }}"{% else %}placeholder="Search"{% endif %} name="q" aria-label="Search">
          <div class="input-group-append">
            <button class="input-group-text search-button" type="button" ic-include=".search-data" ic-get-from="{% url 'core:help_search' %}" ic-target="#content" ic-push-url="true" ic-push-params="q,countries,categories"><span class="i-search-md"></span></button>
          </div>
        </div>

        {# search object list #}
        {% if object_list %}
        <p>{% if object_list.paginator %}{{ object_list.paginator.count }}{% else %}{{ object_list.count }}{% endif %} {% trans "Discuss Data Help Pages found" %}</p>
          {% for subpage in object_list %}
            <div class="card smallskip usercard">
              <div class="card-body">
                <a href="{% pageurl subpage %}">{{ subpage.title }}</a>
              </div>
            </div>
          {% endfor %}

          {# pagination #}
          {% if pagination %}
            {% include 'core/_pagination.html' with object_list=object_list paginator_range=paginator_range paginator_last_page=paginator_last_page ic_target='#search-list' %}
          {% endif %}

        {% else %}
            {% if query %}
                {% trans "Nothing found" %}
            {% endif %}
        {% endif %}

        {# help subpages #}
        <h3>{% trans "Discuss Data Help Sections" %}</h3>
        {% get_root_help_page as root_help_page %}
        {% for hpage in root_help_page.get_children %}
            <div class="card smallskip">
                <div class="card-body">
                    <a href="{% pageurl hpage %}">{{ hpage.title }}</a>
                </div>
            </div>
        {% endfor %}

      </div>

      {# filters #}
      <div class="col-md-4">
        {% get_toc_tree 'help' %}
        {% comment %}
        <form class="search-data">
          <h2>{% trans "Filters" %}</h2>
          {# search_index #}
          {% include 'core/_search_index.html' with filters=search_index filters_all=search_index_all filter_applied="help_index" %}
        </form>
        {% endcomment %}
      </div>
    </div>
  </div>


{% endblock ic-content %}
{% endblock content %}