{% extends request.is_intercooler|yesno:"blank.html,base.html" %}

{% load wagtailcore_tags core_tags core_tags %}

{% block ic-content %}
<div class="row">

    <div class="col-md-8">
    <h2 class="docupage-title" id="{{ page.slug }}">{{ page.title }}</h2>
    {% if page.intro %}<p class="docupage-intro">{{ page.intro }}</p>{% endif %}

    <div>{{ page.text|richtext }}</div>

    {% for subpage in page.get_children %}
        <div class="card smallskip">
            <div class="card-body">
                <a href="{% pageurl subpage %}">{{ subpage.title }}</a>
            </div>
        </div>
    {% endfor %}

    </div>
    <div class="col-md-4">
        {% get_toc_tree 'help' %}
    </div>

</div>

{% endblock %}
