{% extends request.is_intercooler|yesno:"blank.html,base.html" %}
{% load wagtailcore_tags wagtailimages_tags core_tags %}


{% block ic-content %}
<div class="row">
    <div class="col-md-8">
        <h2 class="docupage-title">{{ page.title }}</h2>
        {% if page.intro %}<p class="docupage-intro">{{ page.intro }}</p>{% endif %}

        {{ page.text|richtext }}

        <div class="accordion smallskip" id="accordion-docu">
        {% for block in page.body %}
            <div class="card content-bg">
                <div class="card-header docucard-header {% if forloop.first %}docucard-header-active{% endif %}" id="{{ block.slug }}">
                    <button class="btn btn-link docucard-button no-padding" data-toggle="collapse" data-target="#block-{{ block.id }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="block-{{ block.id }}">
                        {{ block.value.heading }}
                    </button>
                </div>
                <div id="block-{{ block.id }}" class="{% if forloop.first %}show {% endif %}collapse" aria-labelledby="{{ block.slug }}" data-parent="#accordion-docu">
                    <div class="card-body">
                        <section>{% include_block block %}</section>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="col-md-4">
        {% get_toc_tree 'help' %}
    </div>
</div>
{% endblock ic-content %}

