{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-teammemberpage{% endblock %}

{% block content %}
    <div class="media">
    {% if page.image %}
        {% image page.image fill-320x240 class='mr-3' %}
    {% endif %}
        <div class="media-body">
            <h5 class="mt-0">{{ page.title }}</h5>
            {{ page.text|richtext }}
        </div>
    </div>

    <p><a href="{{ page.get_parent.url }}">Zurück</a></p>
{% endblock %}