{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-teammemberindexpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    {% for member in page.get_children %}
    <h3><a href="{% pageurl member %}">{{ member.title }}</a></h3>
    {% endfor %}

{% endblock %}