{% load i18n core_tags %}

{% if action.actor.get_absolute_url %}<a href="{{ action.actor.get_absolute_url }}">{{ action.actor }}</a>
{% else %}<a href="{{ action.actor_url }}">{{ action.actor }}</a>{% endif %}

{% if action.verb %}
    {{ action.verb }}
{% endif %}

{% if action.action_object %}
    {% if action.action_object.class_name == 'Notification' %}
        {# show nothing #}
    {% elif action.action_object.class_name == 'DataSet' and action.target.class_name == 'Comment' %}
        {# show nothing #}
    {% else %}
    <a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object }}</a>
    {% endif %}
{% endif %}

{% if action.action_object and action.target %}
    {% if action.target.class_name == 'DataSet' %}{% trans 'for Dataset' %}{% else %}{% trans 'to' %}{% endif %}
{% endif %}

{% if action.target %}
    <a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a>
{% endif %}

{{ action.timestamp|timesince }} {% trans "ago" %}
