{% load static i18n core_tags %}
<div class="card smallskip">
    <div class="card-body">
        <div class="media">
            <div class="media-body row align-items-center">
                <div class="col-1">
                    <img src="{% static 'images/affiliation-primary.svg' %}" height="30rem" />
                    <br>
                    {% if editmode %}
                        {% if object.main %}
                        <span class="badge badge-primary">{% trans 'main' %}</span>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-11">
                    <h4>
                        {{ object.get_institution }}
                    </h4>
                    <p>{{ object.position }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% if editmode %}
    {% include "ddusers/_edit_mode_buttons.html" with object=object edit_url=edit_url object_type="affiliation" %}
{% endif %}
