{% extends request.is_intercooler|yesno:"blank.html,base.html" %}

{% load static i18n %}


{% block title %}
Edit {{ user.username }}'s Profile
{% endblock %}



{% block content %}
<div class="row">
    <div class="col-md-12">
    {% block ic-content %}
    {% endblock ic-content %}
    </div>
</div>

{% endblock content %}


