{% load static i18n %}

{% block content %}
<div id="user-countries">
    {% for tag in countries %}
        <input id="country-{{ tag.0.slug }}" type="hidden" name="countryslug" value="{{ tag.0.slug }}"/>

        <button type="button" class="btn btn-pill{% if tag.1 %} btn-primary{% else %} btn-outline-primary{% endif %} badge-tag" ic-post-to="{% url 'ddusers:countries' %}" ic-target="#user-countries" ic-include="#country-{{ tag.0.slug }}" ic-indicator="#country-{{ tag.0.slug }}-indicator" ic-on-beforeSend="xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');">
            {{ tag.0 }} <span id="country-{{ tag.0.slug }}-indicator" class="spinner-sm"></span>
        </button>

    {% endfor %}
</div>

{% if error_msg %}
<p>{{ error_msg }}</p>
{% endif %}
{% endblock %}




