{% load static i18n %}

{% if btn_mode == "add" %}
    <div>
        <button class="btn btn-danger smallskip" ic-delete-from="{% url 'ddusers:dataset_to_list' %}" ic-target="#ds-{{dataset.uuid}}-to-{{datalist.uuid}}-button" ic-on-beforeSend="xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');">{% trans 'Remove from' %} {{ datalist }} ({{ datalist.get_status }})</button>
    </div>
{% else %}
    <div>
        <button class="btn btn-outline-primary smallskip" ic-post-to="{% url 'ddusers:dataset_to_list' %}" ic-target="#ds-{{dataset.uuid}}-to-{{datalist.uuid}}-button">{% trans "Add to" %} {{ datalist }} ({{ datalist.get_status }})</button>
    </div>
{% endif %}