{% extends request.is_intercooler|yesno:"blank.html,ddusers/_base_profile_edit.html" %}
{% load static i18n %}

{% block title %}
{% trans "Edit your Profile" %}: {{ object_type }}
{% endblock %}

{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'ddusers/_profile_header_edit.html' with type=object_type %}
    {% endblock dataset-nav %}

    {% if manpage %}
        {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
    {% endif %}

    {% if object_type == 'affiliation' %}
        <p class="text-right">
            <span id="indicator" style="display:none">
                {% trans 'Saving ...' %}
            </span>
            <span>{% trans 'Sort per drag & drop' %}</span>
        </p>


        <form>
            <ul id="sortable-list" class="list-unstyled" ic-post-to="{% url sort_url %}" ic-trigger-on="end" ic-indicator="#indicator"  ic-on-beforeSend="xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');" ic-include="#sortable-form">
                {% include 'ddusers/_edit_user_objects_sort.html' %}
            </ul>
        </form>
    {% else %}
        {% for object in objects %}
            {% if object_type == 'project' %}
                {% include 'ddusers/_project_card.html' with object=object edit_url=edit_url editmode=True %}
            {% elif object_type == 'publication' %}
                {% include 'ddusers/_publication_card.html' with object=object edit_url=edit_url editmode=True %}
            {% endif %}

            {# Modal to confirm project delete #}
            {% include "core/_confirm_modal.html" with objecttype=object_type objectid=object.uuid dsid=ds.uuid objectname=object delete_url=delete_url edit_url=edit_url target=target ictarget=ictarget %}
        {% endfor %}
    {% endif %}

    {# add text #}

    <h3>{% trans "Add new" %} {{ object_type }}</h3>

    <div ic-get-from="{% if ds.uuid %}{% url add_url ds.uuid %}{% else %}{% url add_url %}{% endif %}" id="collapse-{{ object_type }}-add" ic-trigger-on="load"></div>

    {% if error_msg %}
    <p>{{ error_msg }}</p>
    {% endif %}
</div>
{% endblock %}
