{% load static i18n core_tags %}
<div class="smallskip text-right">
    <button type="button" class="btn btn-outline-primary" ic-get-from="{% url edit_url object.uuid %}" ic-target="#edit-{{ object.uuid}}" data-toggle="collapse" data-target="#edit-{{ object.uuid}}" aria-expanded="false" aria-controls="edit-{{ object.uuid}}">{% trans "Edit" %}</button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal{{object.uuid}}" ic-target="#confirmModal-target-span" title="{% trans "Delete" %}">
        {% trans "Delete" %}
    </button>
</div>
<div id="edit-{{ object.uuid}}"></div>