{% extends request.is_intercooler|yesno:"blank.html,ddusers/_base_profile_edit.html" %}
{% load static i18n %}

{% block title %}{% trans 'Data Lists' %}{% endblock %}


{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'ddusers/_profile_header_edit.html' with type='datalists' %}
    {% endblock dataset-nav %}

    {% if manpage %}
        {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
    {% endif %}

    {% for data_list in objects %}
        {% include 'dddatasets/_datalist_card.html' with data_list=data_list edit_url=edit_url editmode=True %}
        <div class="smallskip text-right">
            {# edit button #}
            <button type="button" class="btn btn-outline-primary" ic-get-from="{% url edit_url data_list.uuid %}" ic-target="#data-list-edit-{{ data_list.uuid}}" data-toggle="collapse" data-target="#data-list-edit-{{ data_list.uuid}}" aria-expanded="false" aria-controls="#data-list-edit-{{ data_list.uuid}}" data-id="{{ data_list.uuid}}" id="#data-list-edit-{{ data_list.uuid}}-form">{% trans "Edit" %}</button>
            {# delete button #}
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#confirmModal{{data_list.uuid}}" ic-target="#confirmModal-target-span" title="{% trans "Delete" %}">
                    {% trans "Delete" %}
            </button>
        </div>
        <div id="data-list-edit-{{ data_list.uuid}}"></div>
        {# Modal to confirm project delete #}
        {% include "core/_confirm_modal.html" with objecttype="data_list" objectid=data_list.uuid objectname=data_list delete_url=delete_url edit_url=edit_url target=target ictarget="#ds-content" %}

    {% endfor %}


    {# add text #}

    <h3>{% trans "Add new" %} {{ object_type }}</h3>

    <div ic-get-from="{% if ds.uuid %}{% url add_url ds.uuid %}{% else %}{% url add_url %}{% endif %}" id="collapse-{{ object_type }}-add" ic-trigger-on="load"></div>

    {% if error_msg %}
    <p>{{ error_msg }}</p>
    {% endif %}
    <div id="confirmModal-target-span"></span>
</div>
{% endblock %}
