{% load static i18n activity_tags core_tags %}
<div class="card smallskip feedcard">
    <div class="card-body">
        <div class="media">
            <div class="media-body row">
                <div class="col-12">
                    {% include 'ddusers/_user-image.html' with user_uuid=action.actor.uuid user_photo=action.actor.photo %}
                    {% display_action action %}
                </div>
            </div>
        </div>
    </div>
</div>