{% load static i18n crispy_forms_tags wagtailcore_tags wagtailimages_tags %}


<div class="infobox fixed-bottom align-right">
    {% if page.intro %}<p class="docupage-intro">{{ page.intro }}</p>{% endif %}

    {% for block in page.body %}
        <section>{% include_block block %}</section>
    {% endfor %}


    <button class="btn btn-secondary hide-infobox">{% trans "Close" %}</button>

    <button class="btn btn-primary hide-infobox mt-2" ic-post-to="{{ request.path }}" ic-on-beforeSend="xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');">{% trans 'Close and do not show again' %}</button>

</div>
