{% load static i18n core_tags activity_tags %}

{% if request.user.is_authenticated %}
<div id="follow-button-{{ object.uuid }}">
    <form id="follow-{{ object.uuid }}">
    {% csrf_token %}
    </form>
    <button type="button" class="btn {% if request.user|is_following:object %}btn-secondary{% else %}btn-primary{% endif %} align-middle" ic-post-to="{% url follow_url object.uuid %}" ic-target="#follow-button-{{ object.uuid }}" ic-include="#follow-{{ object.uuid }}">
        {% if request.user|is_following:object %}
            {% trans 'Stop Following' %}
        {% else %}
            {% trans 'Follow' %}
        {% endif %}
    </button>
</div>
{% endif %}