{% load static i18n %}

<h1>{% trans title %}</h1>
<div class="row">
    <div class="col-xs-7">
        <ul class="nav nav-pills navbar-right nav-datasets" ic-target="#ds-content" ic-push-url="true">
            <li class="{% if object_type == "datasets_followed" %}nav-active{% endif %}">
                <button class="btn btn-link" ic-get-from="{% url 'ddusers:list_following_datasets' %}">{% trans "Followed Datasets" %}</button>
            </li>
            <li class="{% if object_type == "datalists_followed" %}nav-active{% endif %}">
                <button class="btn btn-link" ic-get-from="{% url 'ddusers:list_following_datalists' %}">{% trans "Followed Data Lists" %}</button>
            </li>
        </ul>
    </div>
</div>