{# modal for data input #}
<div class="modal fade" id="{{ modalid }}" tabindex="-1" role="dialog" aria-labelledby="userinfoModalLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ modaltitle }}</h4>
        </div>
        <div class="modal-body">
        <span id="{{ target }}"></span>
    </div>
    </div>
    </div>
</div>