{% load static i18n %}

<div class="row">
    <div class="col-xs-7">
        <ul class="nav nav-pills navbar-right nav-datasets" ic-target="#ds-content" ic-push-url="true">
            <li class="{% if feed_type == "datasets-act-feed" %}nav-active{% endif %}">
                <button class="btn btn-link" ic-get-from="{% url 'ddusers.dashboard_page' %}">{% trans "About your Datasets" %}</button>
            </li>
            <li class="{% if feed_type == "user-act-feed" %}nav-active{% endif %}">
                <button class="btn btn-link" ic-get-from="{% url 'ddusers:user_feed' %}">{% trans "Your Activities" %}</button>
            </li>
            <li class="{% if feed_type == "following-act-feed" %}nav-active{% endif %}">
                <button class="btn btn-link" ic-get-from="{% url 'ddusers:following_feed' %}">{% trans "Other's Activities" %}</button>
            </li>
            <li class="{% if feed_type == "followers" %}nav-active{% endif %}">
               <button class="btn btn-link" ic-get-from="{% url 'ddusers:followers_users' %}">{% trans "Your Followers" %}</button>
            </li>
            <li class="{% if feed_type == "following-users" %}nav-active{% endif %}">
                <button class="btn btn-link" ic-get-from="{% url 'ddusers:following_users' %}">{% trans "Users you are following" %}</button>
            </li>
            <li class="{% if feed_type == "notifications" %}nav-active{% endif %}">
                <button class="btn btn-link" ic-get-from="{% url 'ddusers:notifications' %}">{% trans "Notifications" %}</button>
            </li>
            {% if user.curated_categories.count > 0 %}
                <li class="{% if feed_type == "curation" %}nav-active{% endif %}">
                    <button class="btn btn-link" ic-get-from="{% url 'ddusers:curation' %}">{% trans "Curation" %}</button>
                </li>
            {% endif %}
        </ul>
    </div>
</div>