{% load static i18n %}

<div class="row">
    <div class="col-xs-7">
        <ul class="nav nav-pills navbar-right nav-datasets" ic-target="#ds-content" ic-push-url="true">
            <li class="{% if type == "details" %}nav-active{% endif %}">
                <button class="btn btn-link" ic-get-from="{% url 'ddusers:detail' user.uuid %}">{% trans "Personal Details" %}</button>
            </li>
            <li class="{% if type == "affiliation" %}nav-active{% endif %}">
                <button class="btn btn-link" ic-get-from="{% url 'ddusers:affiliations' user.uuid %}">{% trans "Affiliations" %}</button>
            </li>
            <li class="{% if type == "project" %}nav-active{% endif %}">
                <button class="btn btn-link" ic-get-from="{% url 'ddusers:projects' user.uuid %}">{% trans "Projects" %}</button>
            </li>
            <li class="{% if type == "publication" %}nav-active{% endif %}">
                <button class="btn btn-link" ic-get-from="{% url 'ddusers:publications' user.uuid %}">{% trans "Publications" %}</button>
            </li>
            <li class="{% if type == "dataset" %}nav-active{% endif %}">
                <button class="btn btn-link" ic-get-from="{% url 'ddusers:datasets' user.uuid %}">{% trans "Datasets" %}</button>
            </li>
            <li class="{% if type == "data_lists" %}nav-active{% endif %}">
                <button class="btn btn-link" ic-get-from="{% url 'ddusers:data_lists' user.uuid %}">{% trans "Data Lists" %}</button>
            </li>
        </ul>
    </div>
</div>