{% load static i18n %}

<div class="row">
    <div class="col-xs-7">
        <ul class="nav nav-pills navbar-right nav-datasets" ic-target="#ds-content" ic-push-url="true">
            <li class="{% if type == "details" %}nav-active{% endif %}">
                <button class="btn btn-link" ic-get-from="{% url 'ddusers:edit' %}">{% trans "Personal Details" %}</button>
            </li>
            <li class="{% if type == "affiliation" %}nav-active{% endif %}">
                <button class="btn btn-link" ic-get-from="{% url 'ddusers:edit_affiliations' %}">{% trans "Affiliations" %}</button>
            </li>
            <li class="{% if type == "project" %}nav-active{% endif %}">
                <button class="btn btn-link" ic-get-from="{% url 'ddusers:edit_projects' %}">{% trans "Projects" %}</button>
            </li>
            <li class="{% if type == "publication" %}nav-active{% endif %}">
                <button class="btn btn-link" ic-get-from="{% url 'ddusers:edit_publications'%}">{% trans "Publications" %}</button>
            </li>
            <li class="{% if type == "datalists" %}nav-active{% endif %}">
                <button class="btn btn-link" ic-get-from="{% url 'ddusers:edit_lists' %}">{% trans "My Data Lists" %}</button>
            </li>
        </ul>
    </div>
</div>