{# new object edit panel #}
<div id='{{ oep.type }}Modal-target-span'>
    {% if outerpanel %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{{ title }}</h2>
        </div>
    {% endif %}
        <div class="panel-body">
            <div id="{{ ictarget }}" ic-src="{% if object_id %}{% url list_url object_id %}{% else %}{% url list_url %}{% endif %}" ic-trigger-from="#confirmModalButton" ic-trigger-on="load">
                <span class="spinner-sm"></span> Loading {{ type|first }}s...
            </div>
        </div>
    {% if outerpanel %}
    </div>
    {% endif %}
</div>