{% load static i18n %}

<div class="row">
    <div class="col-lg-1 col-4 user-profile">
        {% include 'ddusers/_user-image.html' with user_uuid=user.uuid user_photo=user.photo %}
    </div>
    <div class="col-lg-9 col-8 align-middle">
        <h3 class="mt-0">{{ user.get_academic_name }}</h3>
        {% include 'ddusers/_user_main_affiliation.html' with object=user %}
    </div>
    <div class="col-lg-2 col-12">
        {% if user == request.user %}
            <a href="{% url 'ddusers:edit' %}" class="btn btn-secondary">{% trans "Edit this profile" %}</a>
        {% else %}
            {% include 'ddusers/_follow_button.html' with object=user follow_url='ddusers:follow' %}
        {% endif %}
    </div>
</div>

{# user profile edit nav #}
{% include 'ddusers/_nav_profile.html' with user=user type=type %}
