{% load static i18n %}

<div class="row">
    <div class="col-md-10">
        <h1>{% trans 'Edit your profile' %}</h1>
    </div>
    <div class="col-md-2">
        <a href="{% url 'ddusers:detail' user.uuid %}" class="btn btn-secondary">{% trans "View profile" %}</a>
    </div>
</div>

{# user profile edit nav #}
{% include 'ddusers/_nav_profile_edit.html' with user=user type=type %}
