{% load static i18n core_tags %}
<div class="card smallskip">
    <div class="card-body">
        <div class="media">
            <div class="media-body row align-items-center">
                <div class="col-1">
                    <img src="{% static 'images/project-primary.svg' %}" height="30rem" />
                </div>
                <div class="col-11">
                    <h4>
                        {{ object.name }}
                    </h4>
                    <p><a href="{{ object.url }}">{{ object.url }}</a></p>
                    <p>{{ object.description|linebreaks |urlize | safe }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% if editmode %}
    {% include "ddusers/_edit_mode_buttons.html" with object=object edit_url=edit_url %}
{% endif %}
