{% load static i18n core_tags %}
<div class="card smallskip">
    <div class="card-body">
        <div class="media">
            <div class="media-body row align-items-center">
                <div class="col-2">
                    <img src="{% static 'images/publication-primary.svg' %}" height="30rem" />
                </div>
                <div class="col-10">
                    <p>
                        {{ object.citation }}{% if object.url %}, <a href="{{ object.url }}" target="_blank" rel="noreferrer noopener">{{ object.url }}</a>{% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% if editmode %}
    {% include "ddusers/_edit_mode_buttons.html" with object=object edit_url=edit_url %}
{% endif %}