{% load static i18n %}

{% if user.research_profile_short %}
    <blockquote>
        <div>{{ user.research_profile_short| urlize |linebreaks |safe }}{% if user.research_profile_full %}
            <a data-toggle="collapse" href="#research_profile_full" role="button" aria-expanded="false" aria-controls="research_profile_full">
                {% trans 'see more...' %}
            </a>
        </div>
        <div id="research_profile_full" class="collapse">
            {{ user.research_profile_full| urlize |linebreaks |safe }}
        </div>
    </blockquote>
    {% endif %}

{% endif %}