{% extends request.is_intercooler|yesno:"blank.html,base.html" %}
{% load static i18n core_tags %}

{% block content %}
{% block ic-content %}
{% if search_type == 'pubaccess_search' or search_type == 'collaboration_search' or search_type == 'ownership_search' %}
  {# search object list for embedded user search w/o filters, big search field, pagination #}
  {% if object_list %}
    {% for object in object_list %}
        {% if search_type %}
          {% include 'ddusers/_user_detail_card.html' with object=object image_url=objectimage.url dsid=ds.uuid cardtype=search_type ds=ds %}
        {% else %}
          {% include 'ddusers/_user_detail_card.html' with object=object image_url=objectimage.url %}
        {% endif %}
    {% endfor %}

  {% else %}
    {% trans "Nothing found" %}
  {% endif %}

{% else %}
  <div id="search-list">
    <div class="row">
      <div class="col-md-9">
        <h2>{% trans "People on Discuss Data" %}</h2>
        {# big search field #}
        <div class="input-group mb-3 search-field-main">
          <input class="form-control search-field-main search-middle search-data search-ui"{% if query %}value="{{ query }}"{% else %}placeholder="Search"{% endif %} name="q" aria-label="Search">
          <div class="input-group-append">
            <button class="input-group-text search-button" type="button" ic-include=".search-data" ic-get-from="{% url 'ddusers:search' %}" ic-target="#content" ic-push-url="true" ic-push-params="q,countries,keywords"><span class="i-search-md"></span></button>
          </div>
        </div>

        {# search object list #}
        {% if object_list %}

        <p>{% if object_list.paginator %}{{ object_list.paginator.count }}{% else %}{{ object_list.count }}{% endif %} {% trans "Discuss Data Users found" %}</p>
          {% for object in object_list %}
              {% if search_type %}
                {% include 'ddusers/_user_detail_card.html' with object=object image_url=objectimage.url dsid=ds.uuid cardtype=search_type %}
              {% else %}
                {% include 'ddusers/_user_detail_card.html' with object=object image_url=objectimage.url %}
              {% endif %}
          {% endfor %}

          {# pagination #}
          {% if pagination %}
            {% include 'core/_pagination.html' with object_list=object_list paginator_range=paginator_range paginator_last_page=paginator_last_page ic_target='#search-list' %}
          {% endif %}

        {% else %}
          {% trans "Nothing found" %}
        {% endif %}
      </div>

      {# filters #}
      <div class="col-md-3">
        {% include 'dddatasets/search_filters_partial.html' with search_index=search_index search_index_all=search_index_all filter_applied="user_index" search_params=search_params %}
      </div>
    </div>
  </div>
{% endif %}

{% endblock ic-content %}
{% endblock content %}