{% load static i18n %}

{% block content %}

<div id="{{ object }}-tag-control">
  <form enctype="multipart/form-data" method="post">
  {% csrf_token %}
    <div class="input-group input-group-tags" id="user-keyword-tags">
      <input id="{{ ca.input_id }}" class="form-control typeahead tag-input" maxlength="100" type="text" name="{{ ca.input_id}}" placeholder="{% trans "Begin Typing To add" %} {{ ca.text }} {% trans "here" %}..." ic-src="{% url ca.url_objects_all %}" ic-trigger-delay="500ms" ic-indicator="#{{ ca.div_id }}-indicator" autocomplete="off">
      <div class="input-group-append">
        <button class="input-group-text" ic-include="#{{ ca.input_id }}" ic-post-to="{% url ca.url_object_add %}" ic-target="#{{ ca.div_id }}" type="button">{% trans "Save" %}</button>
      </div>
    </div><!-- /input-group -->
  </form>
  <div class="chars-left-tags" id="{{ ca.input_id }}_chars_left"></div>

  <div id="{{ ca.div_id }}" class="btngroup-toolbar smallskip">
    {% for tag in user.get_interests %}
      <input id="tag-keyword-{{ tag.id}}" type="hidden" name="tag-keyword" value="{{ tag.id }}"/>
      <button type="button" class="btn btn-tertiary btn-pill smallskip" ic-delete-from="{% url ca.url_object_remove %}" ic-target="#{{ ca.div_id}}" ic-include="#tag-keyword-{{ tag.id}}" ic-on-beforeSend="xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');"><b>{{ tag }}</b> <span class="i-close-md"></span>
      </button>
    {% endfor %}
  </div>
</div>

{# trigger an intercooler load to reload javascripts (needed for typeahead) #}
<span ic-get-from="{% url 'core:load' %}" ic-trigger-on="load"></span>

{% if error_msg %}
  <p>{{ error_msg }}</p>
{% endif %}

{% endblock %}