{% load static i18n %}

<button type="button" class="btn-slim btn-tertiary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {% if user in control_args.user_view %}{% trans 'View rights' %}{% endif %}
    {% if user in control_args.user_edit %}{% trans 'Edit rights' %}{% endif %}
    {% if user in control_args.user_admin %}{% trans 'Admin rights' %}{% endif %}
    <span class="sr-only">{% trans 'Toggle Dropdown' %}</span>
</button>

<div class="dropdown-menu align-items-left">
    <form class="form-inline" >
        {% csrf_token %}
        <input type="hidden" value="{{ user.uuid }}" name="userid">
        <input type="hidden" value="v" name="perm">
        <button type="button" class="dropdown-item" ic-post-to="{% url 'dddatasets:prep_edit_collaboration_user' dsid  %}" ic-target="#ds-content">{% trans "View rights" %}{% if user in control_args.user_view %} <span class="i-check-mark-sm"></span>{% endif %} </button>
    </form>

    <form class="form-inline" >
        {% csrf_token %}
        <input type="hidden" value="{{ user.uuid }}" name="userid">
        <input type="hidden" value="e" name="perm">
        <button type="button" class="dropdown-item" ic-post-to="{% url 'dddatasets:prep_edit_collaboration_user' dsid  %}" ic-target="#ds-content">{% trans 'Edit rights' %}{% if user in control_args.user_edit %} <span class="i-check-mark-sm"></span>{% endif %}</button>
    </form>

    <form class="form-inline" >
        {% csrf_token %}
        <input type="hidden" value="{{ user.uuid }}" name="userid">
        <input type="hidden" value="a" name="perm">
        <button type="button" class="dropdown-item" ic-post-to="{% url 'dddatasets:prep_edit_collaboration_user' dsid  %}" ic-target="#ds-content">{% trans 'Admin rights' %}{% if user in control_args.user_admin %} <span class="i-check-mark-sm"></span>{% endif %}</button>
    </form>
</div>