{% load static i18n %}
<div class="col">
    <a href="{% url 'ddusers:followers_users' %}">{{ request.user.get_followers_count }}<br>
    <span class="sidebar-follow">{% trans 'Followers' %}</span></a>
</div>
<div class="col">
    <a href="{% url 'ddusers:following_users' %}">{{ request.user.get_following_count }}<br>
    <span class="sidebar-follow">{% trans 'Following' %}</span></a>
</div>
<div class="col">
    <a href="{% url 'ddusers:notifications' %}">{{ request.user.get_notifications_recent_count }}<br>
    <span class="sidebar-follow">{% trans 'Notifications' %}</span></a>
</div>