{% load static i18n core_tags activity_tags %}
<div class="card smallskip usercard">
    <div class="card-body">
        <div class="media">
            <div class="media-body row align-items-center">
                <div class="col-2">
                    {% include 'ddusers/_user-image.html' with user_uuid=object.uuid user_photo=object.photo %}
                </div>
                <div class="col-7">
                    <h5 class="mt-0"><a href="{% url "ddusers:detail" object.uuid %}">{{object.get_academic_name}}</a></h5>
                    {% include 'ddusers/_user_main_affiliation.html' with object=object %}

                    {% if cardtype == 'collaboration' %}
                        <div>{% include 'ddusers/_user_access_rights.html' with control_args=control_args user=user %}</div>
                    {% endif %}

                </div>
                <div class="col-3">
                {% if cardtype == 'collaboration_search' %}
                    <form class="form-inline" >
                        {% csrf_token %}
                        <input type="hidden" value="{{ object.uuid }}" name="userid">
                        <input type="hidden" value="v" name="perm">
                        <button type="button" class="btn btn-primary" ic-post-to="{% url 'dddatasets:prep_edit_collaboration_user' dsid  %}" ic-target="#ds-content">{% trans "Add" %}</button>
                    </form>
                {% elif cardtype == 'ownership_search' %}
                    {% if request.user == ds.owner %}
                        <form class="form-inline">
                        {% csrf_token %}
                            <input type="hidden" value="{{ object.uuid }}" name="newuserid">
                            <button type="button" class="btn btn-warning" ic-post-to="{% url 'dddatasets:prep_edit_ownership_transfer' dsid 'request' %}"  ic-target="#ds-content" data-toggle="tooltip" title="{% trans "Request owner transfer for this dataset" %}">{% trans "Request ownership transfer" %}</button>
                        </form>
                    {% else %}
                        {% trans "Action only allowed for owner" %}
                    {% endif %}
                {% elif cardtype == 'transfer_request' %}
                    {% if request.user == ds.owner %}
                        <form class="form-inline">
                        {% csrf_token %}
                            <input type="hidden" value="{{ object.uuid }}" name="newuserid">
                            <button type="button" class="btn btn-danger" ic-post-to="{% url 'dddatasets:prep_edit_ownership_transfer' dsid 'cancel' %}"  ic-target="#ds-content" data-toggle="tooltip" title="{% trans "Cancel ownership transfer" %}">{% trans "Cancel ownership transfer" %}</button>
                        </form>
                    {% else %}
                        {% trans "Action only allowed for owner" %}
                    {% endif %}
                {% elif cardtype == 'collaboration' %}
                    <form class="form-inline">
                    {% csrf_token %}
                        <input type="hidden" value="{{ object.uuid }}" name="userid">
                        <input type="hidden" value="clr" name="perm">
                        <button type="button" class="btn btn-danger" ic-post-to="{% url 'dddatasets:prep_edit_collaboration_user' dsid %}"  ic-target="#ds-content" data-toggle="tooltip" title="Revoke access for {{ object }}">{% trans 'Revoke access' %}</button>
                    </form>
                {% elif cardtype == 'pubaccess_search' %}
                    <form class="form-inline">
                    {% csrf_token %}
                        <input type="hidden" value="{{ object.uuid }}" name="userid">
                        <input type="hidden" value="acc" name="perm">
                        <button type="button" class="btn btn-primary" ic-post-to="{% url 'dddatasets:prep_edit_access_user' dsid  %}" ic-target="#ds-content">{% trans 'Grant access' %}</button>
                    </form>
                {% elif cardtype == 'pubaccess' %}
                    <form class="form-inline">
                    {% csrf_token %}
                        <input type="hidden" value="{{ object.uuid }}" name="userid">
                        <input type="hidden" value="clr" name="perm">
                        <button type="button" class="btn btn-danger" ic-post-to="{% url 'dddatasets:prep_edit_access_user' dsid %}"  ic-target="#ds-content" data-toggle="tooltip" title="Revoke access for {{ object }}">{% trans 'Revoke access' %}</button>
                    </form>
                {% else %}
                    {% if object != request.user and request.user.is_authenticated %}
                        {% include 'ddusers/_follow_button.html' with object=object follow_url='ddusers:follow' %}
                    {% endif %}
                {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>