{% load static i18n %}
{# image upload modal #}
<div class="modal fade" id="userImageModal" tabindex="-1" role="dialog" aria-labelledby="userinfoModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{% trans "Upload new image" %}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                    {% if user.photo %}
                        <img src="{{ user.photo.url }}" alt="photo of {{ user }}" class="avatar media-object rounded-circle user-image-upload" />
                    {% else %}
                        <img src='{% static "images/user_default.svg" %}' alt="default user photo" class="avatar media-object rounded-circle user-image-upload" />
                    {% endif %}
                    </div>
                    <div class="col-md-8">
                        <form action="{% url 'ddusers:edit' %}"
                            class="dropzone smallskip"
                            id="user-image-dropzone">{% csrf_token %}
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" type="submit" value="Upload new image" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>