{% load static %}


<div class="row" id="user-list">
    <div class="col-md-12">
    {% if users %}
        {% for object in users %}
            <hr>
            <div class="media">
                <div class='media-left'>
                {% if object.photo %}
                    <a href="{# {% url 'user_detail' object.uuid %} #}"><img src="{{ object.photo.url }}" height="60" class="media-object img-circle" /></a>
                {% endif %}
                </div>
                <div class='media-body'>
                    <p class="media-heading"><a href="{# {% url 'user_detail' object.uuid %} #}">{{object.get_academic_name}}</a>
                    {% for affiliation in object.get_main_affiliation %}
                        {% if affiliation.main %}
                        <p>{{ affiliation.position }}, {{ affiliation.name_of_institution }}, {{ affiliation.place_of_institution }} ({{ affiliation.country_of_institution }})</p>
                        {% endif %}
                    {% endfor %}
                    <div id="ds-add-user-{{ object.uuid}}">
                    <form>
                    {% csrf_token %}
                    <input type="hidden" value="{{ object.uuid }}" name="userid">

                    <button type="button" class="btn{% if tag.1 %} btn-success{% else %} btn-default{% endif %}"
                    ic-post-to="{% url 'dddatasets:prep_edit_access_user_add' oep.dsid groupid  %}" ic-target="#ds-content">Add to {{ objecttype }}</button>
                    </form>
                    </div>
                    </p>
                </div>
                <span class="spinner" id="indicator-paginator"></span>

            </div>
        {% endfor %}
    {% else %}
        <div class="col-md-6">No users found with query {{ query }}.</div>
    {% endif %}
    </div>
</div>
