{% load static i18n compress%}

<div class="img-container container">
    <div id="image-circle">
        {% if user.photo %}
            <img id="image" src="{{ user.photo.url }}" class="avatar media-object" />
        {% else %}
            <img src={% static "images/user_default.svg" %} class="avatar media-object" />
        {% endif %}
        {% if editmode %}
            <div id="image-overlay" data-toggle="modal" data-target="#userImageModal" ic-target="#confirmModal-target-span">
                <span class="i-camera-md"></span>
            </div>
        {% endif %}
    </div>
</div>