{% extends request.is_intercooler|yesno:"blank.html,ddusers/_base_profile_edit.html" %}
{% load static i18n crispy_forms_tags wagtailcore_tags wagtailimages_tags %}

{% block title %}
{% trans 'Welcome to Discuss Data!' %}
{% endblock %}

{% block ic-content %}
<div id="ds-content">
    <h2>{% trans 'Discuss Data Terms of Use' %}</h2>

    <p>{% trans 'For the use of Discuss Data we kindly ask you to accept our Terms of Use.' %}

    {% if page.intro %}<p class="docupage-intro">{{ page.intro }}</p>{% endif %}

    {% for block in page.body %}
        <section>{% include_block block %}</section>
    {% endfor %}

    <form method="POST" ic-post-to="{{ request.path }}" enctype="multipart/form-data" ic-target="#ds-content">
    {% csrf_token %}
        {% if next_url %}
            <input type="hidden" name="nexturl" value="{{ next_url }}" />
        {% endif %}
        <input type="submit" class="btn btn-primary" value="{% trans 'I accept' %}" />
    </form>


</div>
{% endblock %}