{% load static %}

{% block content %}
{% if updated %}
    <div id="updated-msg" class="alert alert-success" role="alert">
        <strong>Password changed</strong>
    </div>
{% endif %}
{% if form %}
<form method="post">
  {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {% for error in field.errors %}
                    <div class="alert alert-warning">{{ error }}</div>
                {% endfor %}
                {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            </div>
        {% endif %}
            {% endfor %}
            <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" >Close</span></button>
            <button type="button" class="btn btn-primary" ic-post-to="{{ request.path }}" ic-target="#userpasswordModal-target-span">Save changed password</button>
            </div>
    </div>
</form>
{% endif %}
{% if error_msg %}
<p>{{ error_msg }}</p>
{% endif %}
{% endblock %}