{% extends request.is_intercooler|yesno:"blank.html,ddusers/_base_profile.html" %}

{% load static i18n activity_tags core_tags %}

{% block title %}User: {{ user.get_academic_name }}{% endblock %}
{% block content %}
{% block ic-content %}
<div id="ds-content">
    <div class="container" id="dashboard">
        <h1>{% trans "Hello" %}, <b>{{ user.get_academic_name }}</b>!</h1>
        <h2>{% trans "Here's what people discuss:" %}</h2>

    {% block dataset-nav %}
        {% include 'ddusers/_nav_dashboard.html' with type=type %}
    {% endblock dataset-nav %}

    {% if manpage %}
        {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
    {% endif %}

    {% if feed_type == 'followers' or feed_type == 'following-users' %}
        {% for object in object_list %}
            {% include 'ddusers/_user_detail_card.html' with object=object image_url=objectimage.url %}
        {% endfor %}
    {% else %}
        {% include 'ddusers/_feed.html' with feed_actions=feed_actions %}
    {% endif %}
    </div>
</div>
{% endblock ic-content %}
{% endblock content %}