{% extends request.is_intercooler|yesno:"blank.html,ddusers/_base_profile.html" %}
{% load static i18n %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'ddusers/_profile_header.html' with type='dataset' %}
    {% endblock dataset-nav %}

    {% if manpage %}
        {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
    {% endif %}

    <h3>{% trans "Datasets" %}</h3>
    {% if user.get_published_datasets %}
        {% for dataset in user.get_published_datasets %}
            {% include "dddatasets/_dataset_card.html" with dataset=dataset prep=False userpage=True %}
        {% endfor %}
    {% else %}
        <p>{% trans "No datasets listed" %}</p>
    {% endif %}

</div>
{% endblock ic-content %}