{% extends request.is_intercooler|yesno:"blank.html,ddusers/_base_profile.html" %}
{% load static i18n %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'ddusers/_profile_header.html' with type='data_lists' %}
    {% endblock dataset-nav %}

    {% if manpage %}
        {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
    {% endif %}

    <h3>{% trans "Data Lists" %}</h3>
    {% if user.get_lists_public %}
        {% for data_list in user.get_lists_public %}
            {% include 'dddatasets/_datalist_card.html' with data_list=data_list edit_url=edit_url editmode=False %}
        {% endfor %}
    {% else %}
        <p>{% trans "No public data lists have been created yet" %}</p>
    {% endif %}

</div>
{% endblock ic-content %}