{% extends request.is_intercooler|yesno:"blank.html,ddusers/_base_profile.html" %}
{% load static i18n %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'ddusers/_profile_header.html' with type='details' %}
    {% endblock dataset-nav %}

    {% if manpage %}
        {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
    {% endif %}


    {% if user %}
        <h3>{% trans "Contact" %}</h3>


            <p>{% trans "E-Mail" %}: {{ user.get_email|urlize }}</p>

        {% if request.user.is_authenticated %}
            <div class="notification">
                {% include 'ddcomments/_notification_add.html' with form=form add_url=add_url btn_text="Send message" ictarget=ictarget %}
            </div>
        {% endif %}


        {% if user.external_profile %}
            <p>{% trans "External Profile" %}: <a href="{{ user.external_profile }}" target="_blank" rel="noreferrer noopener">{{ user.external_profile }}</a></p>
        {% endif %}



        <h3>{% trans "Research Profile" %}</h3>
        {% include 'ddusers/_research_profile.html' %}

        {% if user.get_countries %}
            <h3>{% trans "Research Interests by Country" %}</h3>
            <p>
            {% for country in user.get_countries %}
                <a href="{% url "ddusers:search" %}?q=&countries={{ country.slug }}">
                    <span class="badge badge-pill badge-primary badge-tag">{{ country }}</span>
                </a>
            {% endfor %}
            </p>
        {% endif %}

        {% if user.get_interests %}
            <h3>{% trans "Keywords" %}</h3>
            <p>
            {% for keyword in user.get_interests %}
                <a href="{% url "ddusers:search" %}?q=&keywords={{ keyword.slug }}">
                    <span class="badge badge-pill badge-primary badge-tag">{{ keyword }}</span>
                </a>
            {% endfor %}
            </p>
        {% endif %}
    {% else %}
        <p>{% trans "User not found" %}</p>
    {% endif %}
</div>

{% endblock %}
