{% extends request.is_intercooler|yesno:"blank.html,ddusers/_base_profile_edit.html" %}
{% load static i18n %}

{% block title %}
Edit {{ user.username }}'s Profile
{% endblock %}

{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'ddusers/_profile_header_edit.html' with type='details' %}
    {% endblock dataset-nav %}

    {% if manpage %}
        {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
    {% endif %}

    <div ic-get-from="{% url 'ddusers:profile_edit' %}" ic-trigger-on="load"></div>

    {# countries as tags #}
    <h2>Research Interests by Country</h2>

    <div id="user-countries" ic-get-from="{% url 'ddusers:countries' %}" ic-trigger-on="load" class="smallskip">
        <span class="spinner-sm"></span> Loading countries interests...
    </div>

    {# interests tags #}
    <h2 class="panel-title">Research Interests by Topic</h2>

    <div id="user-interests" class="btngroup-toolbar" ic-get-from="{% url 'ddusers:tags' %}" ic-trigger-on="load" class="smallskip">
        <span class="spinner-sm"></span> Loading Interests...
    </div>

    {# user info modal #}
    {% include "ddusers/_modal.html" with modalid="userinfoModal" target="userinfoModal-target-span" modaltitle="Edit user information" %}</div>

</div>
{% endblock %}