{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans "Researchers" %}{% endblock %}

{% block content %}


<div class="row" ic-history-elt="true">
    {% if users %}
    <div class="col-8">
        <div id="user-list">
        <h2>{% trans "Researchers" %}</h2>
        {% for object in users %}
            {% include 'ddusers/_user_detail_card.html' with object=object image_url=objectimage.url %}
        {% endfor %}
        </div>
    </div>
    <div class="col-4">
        <h2>Filtered by</h2>
        {% include 'core/_search_filter.html' with object=object image_url=objectimage.url %}
    </div>
{% else %}
{% trans "No Resarchers found" %}.
{% endif %}
</div>

{% endblock %}
