{% extends request.is_intercooler|yesno:"blank.html,ddusers/_base_profile.html" %}
{% load static i18n %}
{% block title %}{% trans 'Followed Datasets' %}{% endblock %}

{% block content %}
{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'ddusers/_followed_datasets_header.html' with object_type=object_type title="Followed Datasets" %}
    {% endblock dataset-nav %}

    {% if manpage %}
        {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
    {% endif %}
    <div class="row" ic-history-elt="true">
        {% if object_list %}
        <div class="col-10">
            <div id="user-list">
            {% for object in object_list %}
                {% if object_type == 'datasets_followed' %}
                    {% include "dddatasets/_dataset_card.html" with dataset=object prep=False %}
                {% elif object_type == 'datalists_followed' %}
                    {% include 'dddatasets/_datalist_card.html' with data_list=object editmode=False %}
                {% else %}
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="col-2">
        </div>
        {% else %}
            <div class="col-12">{% trans "No objects found" %}.</div>
        {% endif %}
    </div>
</div>
{% endblock ic-content %}
{% endblock content %}