{% load static i18n activity_tags core_tags %}

<h1>{% trans "Notifications" %}</h1>

{% for notification in notifications %}
    {{ notification }}
{% endfor %}

{% comment %}
<div class="pagination justify-content-center">
    <span class="step-links">
        {% if feed_actions.has_previous %}
            <button class="btn btn-outline-secondary btn-small" ic-get-from="?page={{ feed_actions.previous_page_number }}" ic-target="#dashboard"><span class="i-pagination-arrow-left-sm"></span></button>
        {% else %}
            <button class="btn btn-outline-secondary btn-small" disabled><span class="i-pagination-arrow-left-sm"></span></button>
        {% endif %}

        <span class="current">
            {% for number in paginator_range %}
                {% if number == feed_actions.number %}
                    <button class="btn btn-primary btn-small">{{ number }}</button>
                {% else %}
                    <button class="btn btn-outline-secondary btn-small" ic-get-from="?page={{ number }}" ic-target="#dashboard">{{ number }}</i></button>
                {% endif %}
            {% endfor %}
        </span>

        {% if feed_actions.has_next %}
            <button class="btn btn-outline-secondary btn-small" ic-get-from="?page={{ feed_actions.next_page_number }}" ic-target="#dashboard"><span class="i-pagination-arrow-right-sm"></span></button>
        {% else %}
            <button class="btn btn-outline-secondary btn-small" disabled><span class="i-pagination-arrow-right-sm"></span></button>
        {% endif %}
    </span>
</div>
{% endcomment %}