{% extends request.is_intercooler|yesno:"blank.html,ddusers/_base_profile.html" %}
{% load static i18n %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'ddusers/_profile_header.html' with type='project' %}
    {% endblock dataset-nav %}

    {% if manpage %}
        {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
    {% endif %}

    <h3>{% trans "Projects" %}</h3>
    {% if user.get_projects %}
        {% for object in user.get_projects %}
            {% include "ddusers/_project_card.html" with object=object %}
        {% endfor %}
    {% else %}
        <p>{% trans "No projects listed" %}</p>
    {% endif %}
</div>
{% endblock ic-content %}