{% extends request.is_intercooler|yesno:"blank.html,ddusers/_base_profile.html" %}
{% load static i18n %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block ic-content %}
<div id="ds-content">
    {% block dataset-nav %}
        {% include 'ddusers/_profile_header.html' with type='publication' %}
    {% endblock dataset-nav %}

    {% if manpage %}
        {% include 'dddatasets/_manual_page.html' with manpage=manpage %}
    {% endif %}

    <h3>{% trans "Publications" %}</h3>
    {% if user.get_publications %}
        {% for pub in user.get_publications %}
            {% include "ddusers/_publication_card.html" with object=pub %}
        {% endfor %}
    {% else %}
        <p>{% trans "No publications listed" %}</p>
    {% endif %}

</div>
{% endblock ic-content %}