{% extends "base_email.html" %}
{% load static i18n activity_tags core_tags %}

{% block title %}Your Discuss Data Status{% endblock title %}

{% block content %}

<h1>{% trans "Your Discuss Data Status" %}</h1>
Dear {{ user.get_academic_name }},<br>

<p>Your recent activities:</p>

{% for action in feed_actions %}
    {% if feed_type == "notifications" or feed_type == "curation" %}
        {% include 'ddcomments/_notification_card.html' with comment=action form=form %}
    {% else %}
        {% include 'ddusers/_feed_card.html' with action=action feed_type=feed_type %}
    {% endif %}
{% endfor %}

{% endblock content %}