{% extends request.is_intercooler|yesno:"blank.html,ddusers/_base_profile_edit.html" %}
{% load static i18n crispy_forms_tags wagtailcore_tags wagtailimages_tags %}

{% block title %}
{% trans 'Discuss Data User Verification' %}
{% endblock %}

{% block ic-content %}
<div id="ds-content">
    <h2>{% trans 'Discuss Data User Verification' %}</h2>
    {% if not updated %}
        {% if page.intro %}<p class="docupage-intro">{{ page.intro }}</p>{% endif %}

        <p>{{ page.body }}</p>

        <form action="." method="post">
            {% csrf_token %}
            {{ form|crispy }}
            {% if pending %}
                <input type="submit" value="Resubmit" class="btn btn-warning">
                <span>{% trans "We have already received your verification information. Please resubmit to update it." %}</span>
            {% else %}
                <input type="submit" value="Submit" class="btn btn-success">
            {% endif %}
        </form>
        {% if err %}{{ err }}{% endif %}
    {% else %}
        <p class="docupage-intro">{% trans "User verification information updated" %}</p>
        <p>{% trans "Thank you for providing this information! We will verify your account and get back to you as soon as possible." %}
    {% endif %}
</div>
{% endblock %}
