{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Log into your Discuss Data account" %}
    {% endelement %}
    {% if not SOCIALACCOUNT_ONLY %}
        {% url 'account_login' as login_url %}
        {% element form form=form method="post" action=login_url tags="entrance,login" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {{ redirect_field }}
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" tags="prominent,login" %}
                    {% trans "Login" %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
        <p class="pt-2"><a href="{% url 'account_reset_password' %}">{% trans "Forgot your password?" %}</a></p>
        <hr>
        {% setvar link %}
            <a class="btn btn-primary" href="{{ signup_url }}">
            {% endsetvar %}
            {% setvar end_link %}
            </a>
        {% endsetvar %}
        <p class="pt-1">
            {% blocktranslate %}You don't have an Discuss Data account? Please sign up, it's free!{% endblocktranslate %}
            <p>{{ link }}{% trans "Sign Up" %}{{ end_link }}</p>
        </p>
        <hr>
        <p class="pt-1">
            {% blocktranslate %}Did you sign up using another identity provider like Dariah or Orcid?{% endblocktranslate %}
            <p><a href="{% url 'core.login_page' %}">{% trans "Chose one on the login page" %}.</a></p>
        </p>
    {% endif %}
    {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
        {% element hr %}
        {% endelement %}
        {% element button_group vertical=True %}
            {% if PASSKEY_LOGIN_ENABLED %}
                {% element button type="submit" form="mfa_login" id="passkey_login" tags="prominent,login,outline,primary" %}
                    {% trans "Sign in with a passkey" %}
                {% endelement %}
            {% endif %}
            {% if LOGIN_BY_CODE_ENABLED %}
                {% element button href=request_login_code_url tags="prominent,login,outline,primary" %}
                    {% trans "Mail me a sign-in code" %}
                {% endelement %}
            {% endif %}
        {% endelement %}
    {% endif %}
    {% comment %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
    {% endcomment %}
{% endblock content %}
{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}
